﻿.PrimaryTheme {
	--backgroundColor: #444444;
	--middlegroundColor: #D1D1D1;
	--foregroundColor: #eaeaea;
	--hrefColor: #99c3ff;
	--uniformBottomMargin: 0.5rem;
	background-color: var(--backgroundColor);
	color: var(--foregroundColor);
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

	.PrimaryTheme a {
		color: var(--hrefColor);
	}

		.PrimaryTheme a:not(:hover) {
			text-decoration: none;
		}


	.PrimaryTheme button {
		background-color: var(--foregroundColor);
		color: var(--backgroundColor);
		border: none;
		padding: 0.3rem 0.7rem;
		border: 1px solid var(--backgroundColor);
		border-radius: 2px;
		cursor: pointer;
		font: inherit;
		font-size: 85%;
	}

		.PrimaryTheme button:hover {
			box-shadow: 0px 0px 1px 1px var(--middlegroundColor)
		}

		.PrimaryTheme button:active {
			box-shadow: 0px 0px 1px 1px var(--middlegroundColor), 0px 1px 1px 3px var(--middlegroundColor);
		}

		.PrimaryTheme button.href {
			border: 0;
			background: unset;
			color: var(--hrefColor);
			padding: 0;
			font-size: 100%;
			box-shadow: none;
		}

			.PrimaryTheme button.href:hover {
				text-decoration: underline;
			}

	.PrimaryTheme p, .PrimaryTheme h1, .PrimaryTheme h2, .PrimaryTheme h3, .PrimaryTheme h4, .PrimaryTheme h5, .PrimaryTheme h6 {
		margin-top: 0;
		margin-bottom: var(--uniformBottomMargin);
	}

		.PrimaryTheme p:last-child {
			margin-bottom: 0;
		}

	.PrimaryTheme ul {
		padding: 0.3rem;
		margin: 0 !important;
		margin-bottom: var(--uniformBottomMargin);
		background-color: var(--backgroundColor);
		color: var(--foregroundColor);
		list-style: inside square;
	}



	/***************************
	*	    Contrast Variant     *
	***************************/

	.PrimaryTheme .ThemeVariant--Contrast {
		--backgroundColor: #eaeaea;
		--foregroundColor: #444444;
		--middlegroundColor: #5e5e5e;
		--hrefColor: #0065be;
	}
