﻿.turn-marker {
	display: inline-block;
	padding: 2px 5px;
	background-color: var(--foregroundColor);
	background-color: var(--middlegroundColor);
	color: var(--backgroundColor);
	font-weight: bold;
	font-size: 80%;
	border-radius: 8px;
}

.check-marker {
	display: inline-block;
	padding: 3px 8px;
	background-color: darkred;
	color: beige;
	font-weight: bold;
	font-size: 80%;
}

.victory-marker {
	display: inline-block;
	padding: 3px 8px;
	background-color: darkgreen;
	color: beige;
	font-weight: bold;
	font-size: 80%;
}
