﻿.turn-marker {
	display: inline-block;
	padding: 2px 5px;
	background-color: var(--foregroundColor);
	background-color: var(--middlegroundColor);
	color: var(--backgroundColor);
	font-weight: bold;
	font-size: 80%;
	border-radius: 8px;
}

.check-marker {
	display: inline-block;
	padding: 2px 5px;
	background-color: #f3a1a1;
	color: darkred;
	font-weight: bold;
	font-size: 80%;
	border-radius: 8px;
}

.victory-marker {
	display: inline-block;
	padding: 2px 5px;
	background-color: darkgreen;
	color: white;
	font-weight: bold;
	font-size: 80%;
	border-radius: 8px;
}
