﻿@using Shogi.Contracts.Types
<div style="margin: 0" class="PrimaryTheme PlayerName">

	@if (string.IsNullOrEmpty(Name))
	{
		<p>Empty Seat</p>
	}
	else
	{
		<p>@Name</p>
	}

	@if (IsTurn)
	{
		<span class="turn-marker" title="Shows which player is next to move a piece.">Turn</span>
		<span>&nbsp;</span>
	}

	@if (InCheck)
	{
		<span class="check-marker" title="King is in danger!">Check</span>
		<span>&nbsp;</span>
	}

	@if (IsVictor)
	{
		<span class="victory-marker" title="Victory!">Victor</span>
		<span>&nbsp;</span>
	}
</div>

@code {
	[Parameter][EditorRequired] public bool IsTurn { get; set; }
	[Parameter][EditorRequired] public bool InCheck { get; set; }
	[Parameter][EditorRequired] public bool IsVictor { get; set; }
	[Parameter][EditorRequired] public string Name { get; set; } = string.Empty;
}
