﻿.promote-prompt {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	border: 2px solid #444;
	padding: 1rem;
	box-shadow: 1px 1px 1px #444;
	text-align: center;
	z-index: 101;
	background-color: #444;
	border: 1px solid black;
}

.errorModal {
	position: absolute;
	top: 1rem;
	right: 1rem;
}
