﻿@using Contracts.Types
@using System.Net
@inject ShogiApi ShogiApi

<Stretch style="position: relative;">
	<GameBoardPresentation IsSpectating="true"
												 Perspective="WhichPlayer.Player2"
												 Session="Session"
												 OnClickJoinGame="OnClickJoinGame" />
</Stretch>

@code {
	[Parameter]
	[EditorRequired]
	public Session Session { get; set; } = default!;

	protected override void OnParametersSet()
	{
		base.OnParametersSet();
		if (Session == null)
		{
			throw new ArgumentException($"{nameof(Session)} cannot be null.", nameof(Session));
		}
	}

	async Task OnClickJoinGame()
	{
		var response = await ShogiApi.PatchJoinGame(Session.SessionId.ToString());
		response.EnsureSuccessStatusCode();
	}
}
