﻿<?xml version="1.0" encoding="UTF-8" standalone="no" ?>
<!-- Created with Inkscape (http://www.inkscape.org/) -->

<svg viewBox="0 0 127.70555 127.70555"
		 version="1.1"
		 id="svg5"
		 sodipodi:docname="bishop-moves.svg"
		 inkscape:version="1.1 (c68e22c387, 2021-05-23)"
		 xmlns:inkscape="http://www.inkscape.org/namespaces/inkscape"
		 xmlns:sodipodi="http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd"
		 xmlns:xlink="http://www.w3.org/1999/xlink"
		 xmlns="http://www.w3.org/2000/svg"
		 xmlns:svg="http://www.w3.org/2000/svg">
	<sodipodi:namedview id="namedview7"
											pagecolor="#ffffff"
											bordercolor="#666666"
											borderopacity="1.0"
											inkscape:pageshadow="2"
											inkscape:pageopacity="0.0"
											inkscape:pagecheckerboard="0"
											inkscape:document-units="mm"
											showgrid="true"
											inkscape:zoom="0.52410024"
											inkscape:cx="373.97426"
											inkscape:cy="283.34274"
											inkscape:window-width="1397"
											inkscape:window-height="827"
											inkscape:window-x="2099"
											inkscape:window-y="63"
											inkscape:window-maximized="1"
											inkscape:current-layer="layer2"
											showguides="true"
											inkscape:snap-bbox="true"
											inkscape:object-paths="true"
											inkscape:snap-intersection-paths="true"
											inkscape:snap-smooth-nodes="true">
		<inkscape:grid type="xygrid"
									 id="grid9"
									 originx="0.3527775"
									 originy="0.3527775" />
	</sodipodi:namedview>
	<defs id="defs2">
		<marker style="overflow:visible"
						id="Arrow1Lend"
						refX="0"
						refY="0"
						orient="auto"
						inkscape:stockid="Arrow1Lend"
						inkscape:isstock="true">
			<path transform="matrix(-0.8,0,0,-0.8,-10,0)"
						style="fill:context-stroke;fill-rule:evenodd;stroke:context-stroke;stroke-width:1pt"
						d="M 0,0 5,-5 -12.5,0 5,5 Z"
						id="path6232" />
		</marker>
		<marker style="overflow:visible"
						id="Arrow1Lstart"
						refX="0"
						refY="0"
						orient="auto"
						inkscape:stockid="Arrow1Lstart"
						inkscape:isstock="true">
			<path transform="matrix(0.8,0,0,0.8,10,0)"
						style="fill:context-stroke;fill-rule:evenodd;stroke:context-stroke;stroke-width:1pt"
						d="M 0,0 5,-5 -12.5,0 5,5 Z"
						id="path6229" />
		</marker>
		<inkscape:path-effect effect="powerstroke"
													id="path-effect1626"
													is_visible="true"
													lpeversion="1"
													offset_points="1,4.99214"
													not_jump="false"
													sort_points="true"
													interpolator_type="CubicBezierJohan"
													interpolator_beta="0.2"
													start_linecap_type="zerowidth"
													linejoin_type="extrp_arc"
													miter_limit="4"
													scale_width="1"
													end_linecap_type="zerowidth" />
		<linearGradient id="linearGradient10936">
			<stop style="stop-color:#fcf3e8;stop-opacity:1"
						offset="0"
						id="stop10938" />
			<stop style="stop-color:#ba6100;stop-opacity:1"
						offset="1"
						id="stop10940" />
		</linearGradient>
		<linearGradient x1="17.523264"
										y1="5.9785309"
										x2="101.69292"
										y2="113.38583"
										id="linearGradient10942"
										xlink:href="#linearGradient10936"
										gradientUnits="userSpaceOnUse"
										gradientTransform="translate(3.1889734)" />
		<linearGradient x1="17.523264"
										y1="5.9785309"
										x2="101.69292"
										y2="113.38583"
										id="linearGradient12957"
										xlink:href="#linearGradient10936"
										gradientUnits="userSpaceOnUse"
										gradientTransform="translate(3.1889734)" />
		<marker style="overflow:visible"
						id="Arrow1Lend-4"
						refX="0"
						refY="0"
						orient="auto"
						inkscape:stockid="Arrow1Lend"
						inkscape:isstock="true">
			<path transform="matrix(-0.8,0,0,-0.8,-10,0)"
						style="fill:context-stroke;fill-rule:evenodd;stroke:context-stroke;stroke-width:1pt"
						d="M 0,0 5,-5 -12.5,0 5,5 Z"
						id="path6232-6" />
		</marker>
		<marker style="overflow:visible"
						id="Arrow1Lend-48"
						refX="0"
						refY="0"
						orient="auto"
						inkscape:stockid="Arrow1Lend"
						inkscape:isstock="true">
			<path transform="matrix(-0.8,0,0,-0.8,-10,0)"
						style="fill:context-stroke;fill-rule:evenodd;stroke:context-stroke;stroke-width:1pt"
						d="M 0,0 5,-5 -12.5,0 5,5 Z"
						id="path6232-4" />
		</marker>
		<marker style="overflow:visible"
						id="Arrow1Lend-1"
						refX="0"
						refY="0"
						orient="auto"
						inkscape:stockid="Arrow1Lend"
						inkscape:isstock="true">
			<path transform="matrix(-0.8,0,0,-0.8,-10,0)"
						style="fill:context-stroke;fill-rule:evenodd;stroke:context-stroke;stroke-width:1pt"
						d="M 0,0 5,-5 -12.5,0 5,5 Z"
						id="path6232-5" />
		</marker>
		<linearGradient x1="17.523264"
										y1="5.9785309"
										x2="101.69292"
										y2="113.38583"
										id="linearGradient12957-5"
										xlink:href="#linearGradient10936"
										gradientUnits="userSpaceOnUse"
										gradientTransform="translate(3.1889734)" />
	</defs>
	<g inkscape:label="Layer 1"
		 inkscape:groupmode="layer"
		 id="layer1"
		 sodipodi:insensitive="true"
		 transform="translate(0.35277751,0.35277751)">
		<rect style="fill:#ffe680;stroke:#000000;stroke-width:0.705555;stroke-opacity:1"
					id="rect870"
					width="42.333332"
					height="42.333332"
					x="0"
					y="0" />
		<rect style="fill:#ffe680;stroke:#000000;stroke-width:0.705555;stroke-opacity:1"
					id="rect870-7"
					width="42.333332"
					height="42.333332"
					x="42.333336"
					y="1.2715658e-06" />
		<rect style="fill:#ffe680;stroke:#000000;stroke-width:0.705555;stroke-opacity:1"
					id="rect870-2"
					width="42.333332"
					height="42.333332"
					x="84.666664"
					y="0" />
		<rect style="fill:#ffe680;stroke:#000000;stroke-width:0.705555;stroke-opacity:1"
					id="rect870-9"
					width="42.333332"
					height="42.333332"
					x="84.666664"
					y="42.333336" />
		<rect style="fill:#ffe680;stroke:#000000;stroke-width:0.705555;stroke-opacity:1"
					id="rect870-4"
					width="42.333332"
					height="42.333332"
					x="42.33334"
					y="42.333332" />
		<rect style="fill:#ffe680;stroke:#000000;stroke-width:0.705555;stroke-opacity:1"
					id="rect870-48"
					width="42.333332"
					height="42.333332"
					x="1.2715658e-06"
					y="42.333332" />
		<rect style="fill:#ffe680;stroke:#000000;stroke-width:0.705555;stroke-opacity:1"
					id="rect870-48-0"
					width="42.333332"
					height="42.333332"
					x="1.2715658e-06"
					y="84.666664" />
		<rect style="fill:#ffe680;stroke:#000000;stroke-width:0.705555;stroke-opacity:1"
					id="rect870-48-8"
					width="42.333332"
					height="42.333332"
					x="42.333332"
					y="84.666664" />
		<rect style="fill:#ffe680;stroke:#000000;stroke-width:0.705555;stroke-opacity:1"
					id="rect870-48-05"
					width="42.333332"
					height="42.333332"
					x="84.666664"
					y="84.666664" />
	</g>
	<g inkscape:groupmode="layer"
		 id="layer2"
		 inkscape:label="Layer 2"
		 transform="translate(0.35277751,0.35277751)">
		<path style="fill:#000000;stroke:#000000;stroke-width:0.965;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1;marker-end:url(#Arrow1Lend)"
					d="M 47.624999,47.624999 5.2916666,5.2916666"
					id="path7883" />
		<path style="fill:none;stroke:#000000;stroke-width:0.965;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1;marker-end:url(#Arrow1Lend-4)"
					d="M 79.375,47.625 121.70833,5.2916667"
					id="path7883-9"
					sodipodi:nodetypes="cc" />
		<path style="fill:none;stroke:#000000;stroke-width:0.965;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1;marker-end:url(#Arrow1Lend-48)"
					d="m 79.375,79.375 42.33333,42.33333"
					id="path7883-4"
					sodipodi:nodetypes="cc" />
		<path style="fill:none;stroke:#000000;stroke-width:0.965;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1;marker-end:url(#Arrow1Lend-1)"
					d="M 47.625,79.375 5.2916667,121.70833"
					id="path7883-7"
					sodipodi:nodetypes="cc" />
		<g transform="matrix(0.25535996,0,0,0.25631928,48.371164,49.075988)"
			 id="g12950">
			<path d="M 3.6843532,112.89045 H 104.38651 L 87.439074,5.7639005 54.035433,0.49538136 20.63179,5.7639005 Z"
						style="fill:url(#linearGradient12957-5);fill-opacity:1;fill-rule:evenodd;stroke:#000000;stroke-width:1.03418;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:0.498039"
						id="path9965" />
			<path d="m 53.647616,10.896232 c 1.034155,3.5e-5 2.553103,-0.193873 4.556849,-0.581725 2.003691,-0.3877809 3.361049,-0.7432793 4.072077,-1.0664963 0.710965,-0.3231439 1.518916,-0.3554619 2.423855,-0.096954 0.904872,0.258581 1.906731,0.7433516 3.005581,1.4543133 1.098777,0.711032 0.743278,1.325075 -1.066496,1.84213 -1.809846,0.517122 -4.912378,2.973293 -9.307605,7.368521 3.231777,-0.646335 5.203178,-1.163424 5.914207,-1.551268 0.710965,-0.387789 1.518916,-0.452425 2.423855,-0.193908 0.904871,0.258572 2.003684,0.77566 3.296444,1.551267 1.292684,0.775659 1.712818,1.486656 1.260405,2.132993 -0.452492,0.646385 -0.711036,2.003743 -0.775634,4.072077 -0.06468,2.068375 0.0646,5.203225 0.387817,9.404559 0.323141,4.201356 0.420096,7.10998 0.290863,8.72588 -0.129312,1.615904 -0.840309,2.973262 -2.132993,4.072077 -1.292759,1.098811 -2.133028,1.066493 -2.52081,-0.09695 -0.387851,-1.163451 -1.292756,-2.391537 -2.714718,-3.68426 -1.422026,-1.29272 -1.325072,-1.712855 0.290863,-1.260405 1.61587,0.452455 2.714683,0.581727 3.296443,0.387817 0.581689,-0.193906 0.807916,-2.165306 0.67868,-5.914208 -0.129309,-3.748884 -0.290899,-7.10996 -0.484772,-10.083238 -0.193943,-2.973242 -0.42017,-4.880006 -0.678679,-5.720299 -0.258579,-0.840245 -0.807986,-1.292698 -1.648222,-1.357359 -0.840302,-0.06461 -3.5227,0.290888 -8.0472,1.066496 1.163424,0.775657 1.648195,1.454336 1.454313,2.036039 -0.193935,0.581747 -0.290889,1.648242 -0.290862,3.199489 l 3.102535,-0.775634 c 1.034147,-0.258524 1.842098,-0.129252 2.423855,0.387817 0.581693,0.517108 0.290831,0.969561 -0.872588,1.357359 -1.16348,0.387835 -2.714746,0.775651 -4.653802,1.163451 v 4.847711 c 1.551239,-0.258532 2.811643,-0.484759 3.781214,-0.67868 0.969511,-0.193895 1.842098,-0.03231 2.617764,0.484771 0.7756,0.517101 0.517056,0.937236 -0.775634,1.260405 -1.292753,0.323192 -3.1672,0.743326 -5.623344,1.260405 0.129245,2.456181 0.09693,4.815398 -0.09696,7.077658 -0.193934,2.262266 -0.549433,3.458033 -1.066496,3.587306 -0.517114,0.129271 -0.807976,-0.807952 -0.872588,-2.811672 -0.06466,-2.003717 -0.161615,-4.492206 -0.290863,-7.465475 -1.422017,0.258554 -2.520831,0.452462 -3.296443,0.581725 -0.775654,0.129281 -1.680559,-0.129263 -2.714718,-0.775634 -1.034196,-0.646351 -1.001877,-1.034167 0.09695,-1.16345 1.098795,-0.129262 3.070196,-0.452442 5.914207,-0.969542 v -4.653803 c -2.585467,0.387833 -4.266005,0.323197 -5.041619,-0.193908 -0.775652,-0.517072 -0.711016,-0.872571 0.193908,-1.066497 0.904886,-0.19389 2.520788,-0.549389 4.847711,-1.066496 -2.4e-5,-2.843969 -0.323204,-4.589143 -0.969542,-5.235528 l -5.817253,0.775634 c -0.258562,5.170909 -0.581742,9.081392 -0.969542,11.73146 -0.387833,2.650091 -0.969558,5.106262 -1.745176,7.368521 -0.775648,2.262267 -2.359232,4.007441 -4.750757,5.235528 -2.391545,1.228084 -2.682407,0.96954 -0.872588,-0.775634 1.809802,-1.745175 3.102523,-3.975119 3.878169,-6.689841 0.77562,-2.714709 1.260391,-6.011149 1.454313,-9.889331 0.193894,-3.878148 0.0323,-6.302001 -0.484771,-7.271566 -0.517102,-0.969518 -0.38783,-1.389652 0.387817,-1.260405 0.775619,0.129297 1.551252,0.193933 2.326901,0.193909 0.775617,2.4e-5 3.296424,-0.323156 7.562429,-0.969543 2.068331,-2.585417 3.684233,-4.5245 4.847711,-5.817253 1.163421,-1.29269 1.551237,-2.100641 1.163451,-2.423855 -0.387847,-0.323147 -1.001889,-0.387783 -1.84213,-0.193909 -0.840297,0.193943 -1.809839,0.387851 -2.908627,0.581726 -1.098838,0.193941 -2.294606,0.03235 -3.587306,-0.484771 -3.231826,3.490382 -6.205085,5.914235 -8.919788,7.271566 -2.714728,1.357384 -3.102545,1.26043 -1.163451,-0.290863 1.939071,-1.551239 3.684245,-3.264095 5.235528,-5.138573 1.551249,-1.874414 2.553109,-3.296408 3.005581,-4.2659857 0.452433,-0.9695048 0.646341,-1.906728 0.581725,-2.8116723 -0.06466,-0.904866 0.420114,-1.1634103 1.454314,-0.7756338 1.034155,0.3878565 1.906742,0.840309 2.617763,1.3573591 0.710973,0.5171272 0.775609,1.0342159 0.193909,1.5512675 -0.58175,0.5171257 -1.260428,1.2281226 -2.036039,2.1329922 z"
						style="font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-size:49.6406px;line-height:100%;font-family:KaiTi;text-align:center;writing-mode:lr-tb;text-anchor:middle;fill:#000000;fill-opacity:1;stroke:#000000;stroke-width:1.03418;stroke-miterlimit:4;stroke-opacity:0.498039"
						id="text2169" />
			<path d="m 65.411392,71.657019 c 0.86177,1.378932 1.163405,2.370018 0.904906,2.973263 -0.25859,0.603295 -0.344771,2.283834 -0.258544,5.041619 0.08614,2.757827 0.258499,5.472543 0.517089,8.144155 0.258498,2.671637 0.34468,4.998536 0.258545,6.980704 -0.08623,1.982179 -0.344773,3.662717 -0.775634,5.04162 -0.430953,1.3789 -1.249677,2.75781 -2.456174,4.13671 -1.206583,1.3789 -1.982216,1.46508 -2.326901,0.25855 -0.344767,-1.20655 -1.077309,-2.45618 -2.197629,-3.7489 -1.120398,-1.292721 -2.111484,-2.283807 -2.973263,-2.973262 -0.86185,-0.689449 -0.215489,-0.77563 1.939084,-0.258544 2.154499,0.517091 3.447221,0.560182 3.878169,0.129272 0.430866,-0.430904 0.68941,-1.93908 0.775634,-4.52453 0.08614,-2.585436 0.12923,-5.257061 0.129272,-8.014883 -4.2e-5,-2.757791 -0.08622,-5.343234 -0.258544,-7.756338 -0.172405,-2.413057 -0.603312,-3.964323 -1.292723,-4.653802 -5.688016,1.034205 -9.436909,1.809838 -11.24669,2.326901 -1.80984,0.517114 -3.274924,0.25857 -4.395258,-0.775634 -1.120384,-1.034151 -1.335838,-1.551239 -0.646362,-1.551267 0.689427,2.8e-5 2.456147,-0.215426 5.300165,-0.646362 2.843957,-0.430879 7.325393,-1.206512 13.444319,-2.326901 6.118839,-1.120328 10.255548,-1.982143 12.41014,-2.585446 2.15448,-0.603237 3.964291,-0.344692 5.429437,0.775634 1.465023,1.120391 1.809749,1.852933 1.034178,2.197629 -0.775695,0.344756 -2.111508,0.56021 -4.007441,0.646361 -1.89605,0.08621 -4.050586,0.258574 -6.463615,0.517089 -2.413132,0.258574 -4.65385,0.474028 -6.72216,0.646362 z m -27.405727,4.653803 c 2.068338,2.240741 2.973243,4.222914 2.714719,5.946525 -0.258565,1.723647 -0.430928,4.696907 -0.51709,8.919789 -0.0862,4.2229 -0.517108,7.454704 -1.292722,9.695424 -0.775652,2.24071 -1.594376,2.19762 -2.456174,-0.12927 -0.861831,-2.326904 -1.034194,-4.007442 -0.517089,-5.041624 0.517073,-1.034173 0.904889,-2.67162 1.16345,-4.912347 0.258528,-2.240708 0.3878,-4.826152 0.387817,-7.756338 -1.7e-5,-2.930152 -0.258561,-4.739962 -0.775634,-5.429437 -0.86183,0.861838 -2.111461,2.025287 -3.748896,3.490352 -1.63746,1.465104 -3.490361,2.757826 -5.558709,3.878169 -2.068362,1.120375 -2.843995,1.335828 -2.326901,0.646362 0.517084,-0.689437 1.852896,-2.025249 4.007441,-4.007441 2.154527,-1.982155 4.179791,-4.222872 6.075798,-6.72216 1.895977,-2.499236 3.404152,-4.783045 4.52453,-6.851432 1.12034,-2.068322 1.508156,-3.533406 1.163451,-4.395258 -0.344746,-0.861777 0.517068,-0.861777 2.585446,0 2.068332,0.861852 2.757783,1.723666 2.068357,2.585446 l -2.068357,2.585446 c -0.689475,0.861846 -2.499285,3.361108 -5.429437,7.497794 z m 5.429437,-25.078826 c 2.240694,1.206589 3.016327,2.111494 2.326901,2.714718 -0.689477,0.603317 -1.680563,1.551313 -2.973263,2.843991 -1.292744,1.292765 -2.8871,2.844031 -4.783075,4.653802 -1.896009,1.80985 -4.007454,3.404206 -6.334342,4.783075 -2.32691,1.378938 -2.154548,0.689486 0.517089,-2.068356 2.671613,-2.75777 4.783058,-5.386305 6.334343,-7.885611 1.551248,-2.499217 2.240699,-4.309028 2.068356,-5.429436 -0.172383,-1.120309 0.775613,-0.991037 2.843991,0.387817 z m 18.873755,5.946526 c 2.585402,-0.689409 4.438303,-1.249588 5.558709,-1.68054 1.120311,-0.430863 2.326852,-0.2585 3.619624,0.517089 1.292671,0.775677 1.034127,1.55131 -0.775633,2.326901 -1.809861,0.775675 -3.705853,1.335855 -5.687982,1.68054 -1.982217,0.344766 -3.576574,0.603311 -4.783074,0.775634 -1.206581,0.172402 -2.628574,3.9e-5 -4.265986,-0.517089 -1.637483,-0.517049 -1.594393,-1.034138 0.129272,-1.551268 1.723593,-0.517047 3.791948,-1.034136 6.20507,-1.551267 z"
						style="font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-size:66.1874px;line-height:100%;font-family:KaiTi;text-align:center;writing-mode:lr-tb;text-anchor:middle;fill:#000000;fill-opacity:1;stroke:#000000;stroke-width:1.03418;stroke-miterlimit:4;stroke-opacity:0.498039"
						id="text2175" />
		</g>
	</g>
</svg>



@code {

}