﻿@using Shogi.Contracts.Types

<div class="BoardSetupVisualAid">
	<GameBoardPresentation Session="fakeSession" UseSideboard="false" />
</div>

@code {

	private Session fakeSession = new Session
		{
			BoardState = new BoardState
			{
				Board = new Dictionary<string, Piece?>
				{
					{"A1", new Piece{WhichPiece = WhichPiece.Lance}},
					{"B1", new Piece{WhichPiece = WhichPiece.Knight}},
					{"C1", new Piece{WhichPiece = WhichPiece.SilverGeneral}},
					{"D1", new Piece{WhichPiece = WhichPiece.GoldGeneral}},
					{"E1", new Piece{WhichPiece = WhichPiece.King}},
					{"F1", new Piece{WhichPiece = WhichPiece.GoldGeneral}},
					{"G1", new Piece{WhichPiece = WhichPiece.SilverGeneral}},
					{"H1", new Piece{WhichPiece = WhichPiece.Knight}},
					{"I1", new Piece{WhichPiece = WhichPiece.Lance}},

					{"A2", null},
					{"B2", new Piece{WhichPiece = WhichPiece.Bishop}},
					{"C2", null},
					{"D2", null},
					{"E2", null},
					{"F2", null},
					{"G2", null},
					{"H2", new Piece{WhichPiece = WhichPiece.Rook}},
					{"I2", null},

					{"A3", new Piece{WhichPiece = WhichPiece.Pawn}},
					{"B3", new Piece{WhichPiece = WhichPiece.Pawn}},
					{"C3", new Piece{WhichPiece = WhichPiece.Pawn}},
					{"D3", new Piece{WhichPiece = WhichPiece.Pawn}},
					{"E3", new Piece{WhichPiece = WhichPiece.Pawn}},
					{"F3", new Piece{WhichPiece = WhichPiece.Pawn}},
					{"G3", new Piece{WhichPiece = WhichPiece.Pawn}},
					{"H3", new Piece{WhichPiece = WhichPiece.Pawn}},
					{"I3", new Piece{WhichPiece = WhichPiece.Pawn}},

					{"A4", null},
					{"B4", null},
					{"C4", null},
					{"D4", null},
					{"E4", null},
					{"F4", null},
					{"G4", null},
					{"H4", null},
					{"I4", null},

					{"A5", null},
					{"B5", null},
					{"C5", null},
					{"D5", null},
					{"E5", null},
					{"F5", null},
					{"G5", null},
					{"H5", null},
					{"I5", null},

					{"A6", null},
					{"B6", null},
					{"C6", null},
					{"D6", null},
					{"E6", null},
					{"F6", null},
					{"G6", null},
					{"H6", null},
					{"I6", null},

					{"A7", new Piece{WhichPiece = WhichPiece.Pawn, Owner = WhichPlayer.Player2}},
					{"B7", new Piece{WhichPiece = WhichPiece.Pawn, Owner = WhichPlayer.Player2}},
					{"C7", new Piece{WhichPiece = WhichPiece.Pawn, Owner = WhichPlayer.Player2}},
					{"D7", new Piece{WhichPiece = WhichPiece.Pawn, Owner = WhichPlayer.Player2}},
					{"E7", new Piece{WhichPiece = WhichPiece.Pawn, Owner = WhichPlayer.Player2}},
					{"F7", new Piece{WhichPiece = WhichPiece.Pawn, Owner = WhichPlayer.Player2}},
					{"G7", new Piece{WhichPiece = WhichPiece.Pawn, Owner = WhichPlayer.Player2}},
					{"H7", new Piece{WhichPiece = WhichPiece.Pawn, Owner = WhichPlayer.Player2}},
					{"I7", new Piece{WhichPiece = WhichPiece.Pawn, Owner = WhichPlayer.Player2}},

					{"A8", null},
					{"B8", new Piece{WhichPiece = WhichPiece.Rook, Owner = WhichPlayer.Player2}},
					{"C8", null},
					{"D8", null},
					{"E8", null},
					{"F8", null},
					{"G8", null},
					{"H8", new Piece{WhichPiece = WhichPiece.Bishop, Owner = WhichPlayer.Player2}},
					{"I8", null},

					{"A9", new Piece{WhichPiece = WhichPiece.Lance, Owner = WhichPlayer.Player2}},
					{"B9", new Piece{WhichPiece = WhichPiece.Knight, Owner = WhichPlayer.Player2}},
					{"C9", new Piece{WhichPiece = WhichPiece.SilverGeneral, Owner = WhichPlayer.Player2}},
					{"D9", new Piece{WhichPiece = WhichPiece.GoldGeneral, Owner = WhichPlayer.Player2}},
					{"E9", new Piece{WhichPiece = WhichPiece.King, Owner = WhichPlayer.Player2}},
					{"F9", new Piece{WhichPiece = WhichPiece.GoldGeneral, Owner = WhichPlayer.Player2}},
					{"G9", new Piece{WhichPiece = WhichPiece.SilverGeneral, Owner = WhichPlayer.Player2}},
					{"H9", new Piece{WhichPiece = WhichPiece.Knight, Owner = WhichPlayer.Player2}},
					{"I9", new Piece{WhichPiece = WhichPiece.Lance, Owner = WhichPlayer.Player2}},
				}
			}
		};

}
