﻿<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!-- Created with Inkscape (http://www.inkscape.org/) -->

<svg   viewBox="0 0 127.70555 127.70555"
   version="1.1"
   id="svg5"
   sodipodi:docname="dragon-moves.svg"
   inkscape:version="1.1 (c68e22c387, 2021-05-23)"
   xmlns:inkscape="http://www.inkscape.org/namespaces/inkscape"
   xmlns:sodipodi="http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd"
   xmlns:xlink="http://www.w3.org/1999/xlink"
   xmlns="http://www.w3.org/2000/svg"
   xmlns:svg="http://www.w3.org/2000/svg">
  <sodipodi:namedview
     id="namedview7"
     pagecolor="#ffffff"
     bordercolor="#666666"
     borderopacity="1.0"
     inkscape:pageshadow="2"
     inkscape:pageopacity="0.0"
     inkscape:pagecheckerboard="0"
     inkscape:document-units="mm"
     showgrid="true"
     inkscape:zoom="0.74118967"
     inkscape:cx="68.133707"
     inkscape:cy="310.98653"
     inkscape:window-width="1284"
     inkscape:window-height="827"
     inkscape:window-x="2462"
     inkscape:window-y="75"
     inkscape:window-maximized="0"
     inkscape:current-layer="layer2"
     showguides="false"
     inkscape:snap-bbox="true"
     inkscape:object-paths="true"
     inkscape:snap-intersection-paths="true"
     inkscape:snap-smooth-nodes="true"
     height="127.70555mm"
     showborder="false">
    <inkscape:grid
       type="xygrid"
       id="grid9"
       originx="0.35277749"
       originy="0.35277749" />
  </sodipodi:namedview>
  <defs
     id="defs2">
    <marker
       style="overflow:visible"
       id="Arrow1Lend"
       refX="0"
       refY="0"
       orient="auto"
       inkscape:stockid="Arrow1Lend"
       inkscape:isstock="true">
      <path
         transform="matrix(-0.8,0,0,-0.8,-10,0)"
         style="fill:context-stroke;fill-rule:evenodd;stroke:context-stroke;stroke-width:1pt"
         d="M 0,0 5,-5 -12.5,0 5,5 Z"
         id="path6232" />
    </marker>
    <marker
       style="overflow:visible"
       id="Arrow1Lstart"
       refX="0"
       refY="0"
       orient="auto"
       inkscape:stockid="Arrow1Lstart"
       inkscape:isstock="true">
      <path
         transform="matrix(0.8,0,0,0.8,10,0)"
         style="fill:context-stroke;fill-rule:evenodd;stroke:context-stroke;stroke-width:1pt"
         d="M 0,0 5,-5 -12.5,0 5,5 Z"
         id="path6229" />
    </marker>
    <inkscape:path-effect
       effect="powerstroke"
       id="path-effect1626"
       is_visible="true"
       lpeversion="1"
       offset_points="1,4.99214"
       not_jump="false"
       sort_points="true"
       interpolator_type="CubicBezierJohan"
       interpolator_beta="0.2"
       start_linecap_type="zerowidth"
       linejoin_type="extrp_arc"
       miter_limit="4"
       scale_width="1"
       end_linecap_type="zerowidth" />
    <linearGradient
       id="linearGradient10936">
      <stop
         style="stop-color:#fcf3e8;stop-opacity:1"
         offset="0"
         id="stop10938" />
      <stop
         style="stop-color:#ba6100;stop-opacity:1"
         offset="1"
         id="stop10940" />
    </linearGradient>
    <linearGradient
       x1="17.523264"
       y1="5.9785309"
       x2="101.69292"
       y2="113.38583"
       id="linearGradient10942"
       xlink:href="#linearGradient10936"
       gradientUnits="userSpaceOnUse"
       gradientTransform="translate(3.1889734)" />
    <linearGradient
       x1="17.523264"
       y1="5.9785309"
       x2="101.69292"
       y2="113.38583"
       id="linearGradient12957"
       xlink:href="#linearGradient10936"
       gradientUnits="userSpaceOnUse"
       gradientTransform="translate(3.1889734)" />
    <marker
       style="overflow:visible"
       id="Arrow1Lend-4"
       refX="0"
       refY="0"
       orient="auto"
       inkscape:stockid="Arrow1Lend"
       inkscape:isstock="true">
      <path
         transform="matrix(-0.8,0,0,-0.8,-10,0)"
         style="fill:context-stroke;fill-rule:evenodd;stroke:context-stroke;stroke-width:1pt"
         d="M 0,0 5,-5 -12.5,0 5,5 Z"
         id="path6232-6" />
    </marker>
    <marker
       style="overflow:visible"
       id="Arrow1Lend-48"
       refX="0"
       refY="0"
       orient="auto"
       inkscape:stockid="Arrow1Lend"
       inkscape:isstock="true">
      <path
         transform="matrix(-0.8,0,0,-0.8,-10,0)"
         style="fill:context-stroke;fill-rule:evenodd;stroke:context-stroke;stroke-width:1pt"
         d="M 0,0 5,-5 -12.5,0 5,5 Z"
         id="path6232-4" />
    </marker>
    <marker
       style="overflow:visible"
       id="Arrow1Lend-1"
       refX="0"
       refY="0"
       orient="auto"
       inkscape:stockid="Arrow1Lend"
       inkscape:isstock="true">
      <path
         transform="matrix(-0.8,0,0,-0.8,-10,0)"
         style="fill:context-stroke;fill-rule:evenodd;stroke:context-stroke;stroke-width:1pt"
         d="M 0,0 5,-5 -12.5,0 5,5 Z"
         id="path6232-5" />
    </marker>
    <linearGradient
       x1="17.523264"
       y1="5.9785309"
       x2="101.69292"
       y2="113.38583"
       id="linearGradient12957-9"
       xlink:href="#linearGradient10936"
       gradientUnits="userSpaceOnUse"
       gradientTransform="translate(3.1889734)" />
  </defs>
  <g
     inkscape:label="Layer 1"
     inkscape:groupmode="layer"
     id="layer1"
     sodipodi:insensitive="true"
     transform="translate(0.35277751,0.35277751)">
    <rect
       style="fill:#ffe680;stroke:#000000;stroke-width:0.705555;stroke-opacity:1"
       id="rect870"
       width="42.333332"
       height="42.333332"
       x="0"
       y="0" />
    <rect
       style="fill:#ffe680;stroke:#000000;stroke-width:0.705555;stroke-opacity:1"
       id="rect870-7"
       width="42.333332"
       height="42.333332"
       x="42.333336"
       y="1.2715658e-06" />
    <rect
       style="fill:#ffe680;stroke:#000000;stroke-width:0.705555;stroke-opacity:1"
       id="rect870-2"
       width="42.333332"
       height="42.333332"
       x="84.666664"
       y="0" />
    <rect
       style="fill:#ffe680;stroke:#000000;stroke-width:0.705555;stroke-opacity:1"
       id="rect870-9"
       width="42.333332"
       height="42.333332"
       x="84.666664"
       y="42.333336" />
    <rect
       style="fill:#ffe680;stroke:#000000;stroke-width:0.705555;stroke-opacity:1"
       id="rect870-4"
       width="42.333332"
       height="42.333332"
       x="42.33334"
       y="42.333332" />
    <rect
       style="fill:#ffe680;stroke:#000000;stroke-width:0.705555;stroke-opacity:1"
       id="rect870-48"
       width="42.333332"
       height="42.333332"
       x="1.2715658e-06"
       y="42.333332" />
    <rect
       style="fill:#ffe680;stroke:#000000;stroke-width:0.705555;stroke-opacity:1"
       id="rect870-48-0"
       width="42.333332"
       height="42.333332"
       x="1.2715658e-06"
       y="84.666664" />
    <rect
       style="fill:#ffe680;stroke:#000000;stroke-width:0.705555;stroke-opacity:1"
       id="rect870-48-8"
       width="42.333332"
       height="42.333332"
       x="42.333332"
       y="84.666664" />
    <rect
       style="fill:#ffe680;stroke:#000000;stroke-width:0.705555;stroke-opacity:1"
       id="rect870-48-05"
       width="42.333332"
       height="42.333332"
       x="84.666664"
       y="84.666664" />
  </g>
  <g
     inkscape:groupmode="layer"
     id="layer2"
     inkscape:label="Layer 2"
     transform="translate(0.35277751,0.35277751)">
    <path
       style="fill:none;stroke:#e81111;stroke-width:0.965;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1;marker-end:url(#Arrow1Lend)"
       d="M 47.625,63.5 H 5.2916667"
       id="path7883"
       sodipodi:nodetypes="cc" />
    <path
       style="fill:none;stroke:#e81111;stroke-width:0.965;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1;marker-end:url(#Arrow1Lend-4)"
       d="m 79.375,63.5 h 42.33333"
       id="path7883-9"
       sodipodi:nodetypes="cc" />
    <path
       style="fill:none;stroke:#e81111;stroke-width:0.965;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1;marker-end:url(#Arrow1Lend-48)"
       d="m 63.5,79.375 v 42.33333"
       id="path7883-4"
       sodipodi:nodetypes="cc" />
    <path
       style="fill:none;stroke:#e81111;stroke-width:0.965;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1;marker-end:url(#Arrow1Lend-1)"
       d="M 63.5,47.625 V 5.2916667"
       id="path7883-7"
       sodipodi:nodetypes="cc" />
    <circle
       style="opacity:1;fill:#de0000;fill-opacity:1;fill-rule:evenodd;stroke:#e81111;stroke-width:0.964999;stroke-linecap:square;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:1"
       id="path9507"
       cx="21.166666"
       cy="105.83334"
       r="5.2916665" />
    <circle
       style="fill:#de0000;fill-opacity:1;fill-rule:evenodd;stroke:#e81111;stroke-width:0.964999;stroke-linecap:square;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:1"
       id="path9507-8"
       cx="105.83334"
       cy="21.166666"
       r="5.2916665" />
    <circle
       style="fill:#de0000;fill-opacity:1;fill-rule:evenodd;stroke:#e81111;stroke-width:0.964999;stroke-linecap:square;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:1"
       id="path9507-87"
       cx="105.83334"
       cy="105.83334"
       r="5.2916665" />
    <circle
       style="fill:#de0000;fill-opacity:1;fill-rule:evenodd;stroke:#e81111;stroke-width:0.964999;stroke-linecap:square;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:1"
       id="path9507-3"
       cx="21.166666"
       cy="21.166666"
       r="5.2916665"
       inkscape:transform-center-x="0.71394231"
       inkscape:transform-center-y="5.3545673" />
    <g
       transform="matrix(0.25535996,0,0,0.25631928,49.224514,46.76719)"
       id="g12950">
      <path
         d="M 3.6843532,112.89045 H 104.38651 L 87.439074,5.7639005 54.035433,0.49538136 20.63179,5.7639005 Z"
         style="fill:url(#linearGradient12957-9);fill-opacity:1;fill-rule:evenodd;stroke:#000000;stroke-width:1.03418;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:0.498039"
         id="path9965" />
      <path
         d="m 61.306998,11.477963 c 2.714684,-0.90487 4.42754,-1.454277 5.138574,-1.6482219 0.71096,-0.1938713 1.421957,-0.032281 2.132992,0.4847709 0.710958,0.517125 0.35546,1.066532 -1.066496,1.648222 -1.422032,0.581759 -3.555022,0.872622 -6.398978,0.872588 l -0.387817,3.878169 c -0.129304,1.292751 0.258513,1.777522 1.16345,1.454313 0.904873,-0.323152 1.648188,-0.67865 2.229947,-1.066496 0.581691,-0.387787 1.195733,-0.420105 1.84213,-0.09696 0.646325,0.32321 1.357322,0.775663 2.132993,1.357359 0.775595,0.581754 0.775595,1.066524 0,1.454314 -0.775671,0.387843 -1.680576,1.680565 -2.714718,3.878168 1.034142,0.904929 1.260368,1.454335 0.67868,1.648222 -0.581761,0.19393 -1.42203,0.35552 -2.52081,0.484771 -1.098847,0.129293 -3.19952,0.51711 -6.302024,1.163451 -0.258572,1.034197 -0.387844,2.068374 -0.387817,3.102535 1.809783,-0.258528 3.425685,-0.581708 4.847711,-0.969542 1.421962,-0.387799 2.423821,-0.355481 3.005581,0.09695 0.581689,0.45247 0.517053,0.807968 -0.193909,1.066496 -0.711032,0.258561 -1.615937,0.484787 -2.714718,0.67868 -1.098845,0.193924 -2.811702,0.42015 -5.138574,0.678679 -0.129299,1.163465 -0.193935,2.133006 -0.193908,2.908627 2.1976,-0.387804 4.039728,-0.743303 5.526391,-1.066496 1.486597,-0.323168 2.520774,-0.258531 3.102535,0.193908 0.581689,0.452466 0.161554,0.8726 -1.260405,1.260405 -1.422028,0.387828 -3.878199,0.646372 -7.368521,0.775634 -0.129299,1.680549 -0.129299,2.843998 0,3.490351 2.585417,-0.387808 4.589135,-0.775625 6.011162,-1.16345 1.421961,-0.387808 2.326866,-0.290854 2.714718,0.290862 0.387781,0.581734 0.0646,1.001868 -0.969542,1.260405 -1.034212,0.258552 -2.165344,0.45246 -3.393398,0.581726 -1.228117,0.129278 -2.617793,0.193914 -4.169032,0.193908 0.38779,2.843994 1.809784,4.39526 4.265986,4.653803 2.45614,0.258546 5.170855,0.129274 8.144154,-0.387817 2.973221,-0.517087 4.653759,-1.648218 5.04162,-3.393398 0.387772,-1.745169 0.646316,-3.231798 0.775634,-4.459894 0.129227,-1.228076 0.290817,-0.840259 0.484771,1.163451 0.193862,2.003727 0.549361,3.458039 1.066496,4.362939 0.517042,0.90491 0.581678,1.680543 0.193909,2.326902 -0.387864,0.646363 -1.422041,1.325042 -3.102535,2.036038 -1.680582,0.710997 -3.845891,1.16345 -6.495933,1.357359 -2.650117,0.193907 -4.91238,0.03232 -6.786795,-0.484771 -1.874477,-0.517089 -3.296471,-1.421994 -4.265986,-2.714718 -0.969568,-1.29272 -1.454338,-3.296438 -1.454313,-6.011161 -2.5e-5,-2.84398 0.06461,-5.558695 0.193908,-8.144155 0.129247,-2.585427 -0.06466,-4.459873 -0.581725,-5.623345 -0.517113,-1.163427 0.517064,-1.034155 3.102535,0.387817 1.292694,-0.258523 3.361048,-0.710975 6.20507,-1.357359 0.387783,-1.680515 0.614009,-2.940919 0.678679,-3.781214 0.0646,-0.840243 -0.549441,-1.163423 -1.84213,-0.969542 -1.292754,0.193935 -2.100705,0.517116 -2.423855,0.969542 -0.323211,0.452479 -0.775663,0.387843 -1.357359,-0.193909 -0.581754,-0.581698 -0.614072,-1.260377 -0.09696,-2.036038 0.51706,-0.775605 0.710969,-2.100644 0.581726,-3.975123 -0.129302,-1.874414 -0.581754,-3.231772 -1.357359,-4.072077 -0.775661,-0.8402328 -0.387845,-1.0987771 1.16345,-0.7756342 1.551237,0.3232179 2.391506,1.0665332 2.52081,2.2299472 z M 41.916154,29.511448 c -0.129284,1.809827 -0.19392,3.037913 -0.193908,3.68426 1.551254,-0.517075 2.520795,-0.517075 2.908626,0 0.387802,0.517102 0.193894,0.840283 -0.581725,0.969542 -0.775647,0.129285 -1.55128,0.193921 -2.326901,0.193909 -0.258557,1.422006 -0.452465,2.456183 -0.581726,3.102535 0.775622,-0.129263 1.486619,-0.323172 2.132993,-0.581726 0.646347,-0.258534 1.163436,-0.09694 1.551268,0.484771 0.387801,0.581734 0.193893,0.969551 -0.581726,1.163451 -0.775647,0.193916 -1.87446,0.290871 -3.296443,0.290863 -0.387828,3.361084 -0.904916,5.655665 -1.551268,6.883749 -0.64637,1.228087 -1.163459,1.131133 -1.551267,-0.290863 -0.387825,-1.421992 -0.387825,-2.617759 0,-3.587306 0.387808,-0.969536 0.743307,-2.229939 1.066496,-3.781214 0.323172,-1.551257 0.581716,-3.199477 0.775634,-4.944665 0.193898,-1.745161 0.06463,-3.005564 -0.387817,-3.781215 -0.452462,-0.775615 -0.48478,-1.163432 -0.09695,-1.163451 0.387807,1.9e-5 0.807942,0.06465 1.260405,0.193909 0.452442,0.129291 1.131121,0.129291 2.036038,0 0.904893,-0.129254 1.745162,-0.420116 2.52081,-0.872588 0.775618,-0.452433 1.583569,-0.484751 2.423856,-0.09695 0.840251,0.387836 1.454294,0.775652 1.84213,1.16345 0.387797,0.387835 0.387797,0.840288 0,1.357359 -0.387836,0.517106 -0.517108,2.068372 -0.387817,4.653803 0.129253,2.585455 0.290843,4.750764 0.484771,6.495933 0.193889,1.74518 0.161571,3.361082 -0.09695,4.847711 -0.258564,1.48663 -0.678699,2.48849 -1.260405,3.00558 -0.581743,0.517087 -1.098832,0.193906 -1.551268,-0.969542 -0.452469,-1.16345 -1.26042,-2.068356 -2.423855,-2.714718 -1.163464,-0.646359 -1.2281,-0.904904 -0.193908,-0.775634 1.034163,0.129275 1.809796,0.161593 2.326901,0.09696 0.517072,-0.06463 0.775616,-1.13113 0.775634,-3.19949 -1.8e-5,-2.068349 -0.06465,-4.265976 -0.193909,-6.592887 -0.129289,-2.326887 -0.323197,-3.845834 -0.581725,-4.556848 -0.258561,-0.71098 -0.646377,-1.066479 -1.163451,-1.066496 -0.517104,1.7e-5 -1.551281,0.129289 -3.102535,0.387817 z m 6.398979,-12.991866 c 2.068336,0.775663 2.811651,1.422024 2.229947,1.939085 -0.581746,0.517117 -1.648241,1.551294 -3.19949,3.102535 3.490331,-1.034152 5.558686,-1.260379 6.20507,-0.67868 0.646337,0.581751 0.290839,1.034203 -1.066496,1.357359 -1.35738,0.323205 -2.779374,0.614067 -4.265986,0.872588 -1.486648,0.258568 -3.651957,0.807975 -6.495932,1.648222 -2.844,0.840291 -4.621492,1.454334 -5.332482,1.84213 -0.711004,0.387837 -1.809817,0.09697 -3.296444,-0.872588 -1.486633,-0.96952 -1.551269,-1.421973 -0.193908,-1.357359 1.357354,0.06466 3.037892,-0.09693 5.041619,-0.484771 2.00371,-0.387794 4.750744,-1.034155 8.241109,-1.939085 1.292705,-2.326874 1.87443,-4.072048 1.745176,-5.235527 -2.585462,0.775663 -4.58918,0.969571 -6.011162,0.581725 -1.422006,-0.387787 -1.422006,-0.743285 0,-1.066496 1.421982,-0.32315 3.10252,-0.840239 5.04162,-1.551268 1.939065,-0.710965 3.393377,-0.969509 4.362939,-0.775634 0.96952,0.193941 1.228064,0.517122 0.775634,0.969542 -0.452475,0.452485 -1.712878,1.001892 -3.781214,1.648222 z m -2.52081,-8.1441542 c 1.680522,0.1293106 2.811653,0.452491 3.393398,0.9695422 0.581705,0.5171261 0.904885,1.163487 0.969542,1.939084 0.06461,0.775669 -0.06466,1.292757 -0.387817,1.551268 C 49.446245,13.0939 48.70293,12.77072 47.539499,11.86578 46.376032,10.960909 45.374172,10.12064 44.533918,9.34497 43.693634,8.5693745 44.113769,8.246194 45.794323,8.3754278 Z M 42.691788,18.652575 c 1.034164,0.775661 1.421981,1.583612 1.163451,2.423856 -0.258559,0.840294 -0.581739,1.228111 -0.969543,1.16345 -0.387829,-0.06461 -0.743328,-0.484746 -1.066496,-1.260405 -0.323193,-0.775607 -0.517101,-1.55124 -0.581725,-2.326901 -0.06465,-0.775605 0.420123,-0.775605 1.454313,0 z"
         style="font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-size:49.6406px;line-height:100%;font-family:KaiTi;text-align:center;writing-mode:lr-tb;text-anchor:middle;fill:#de0000;fill-opacity:1;stroke:#000000;stroke-width:1.03418;stroke-miterlimit:4;stroke-opacity:0.498039"
         id="text3153" />
      <path
         d="m 54.423248,65.577778 c 1.723595,1.034216 2.369956,2.154575 1.939084,3.361079 -0.430943,1.206576 -0.732578,4.567653 -0.904906,10.08324 3.102497,-0.689426 5.300124,-1.206515 6.592887,-1.551268 1.292681,-0.344699 2.757765,-0.04306 4.395258,0.904906 1.637402,0.948022 0.818678,1.809837 -2.456173,2.585446 -3.274938,0.775657 -6.118926,1.335836 -8.531972,1.68054 -3.5e-5,5.170909 -0.08622,9.910888 -0.258545,14.219953 4.653764,-0.689444 8.316475,-1.206533 10.988146,-1.551268 2.671579,-0.344716 4.696843,-0.56017 6.075798,-0.646361 1.378851,-0.08617 2.887027,0.08619 4.52453,0.517089 1.637392,0.430916 3.059385,1.378912 4.265986,2.84399 1.20648,1.465091 -0.732603,1.939089 -5.817254,1.421996 -5.084759,-0.517084 -10.083283,-0.560175 -14.995586,-0.129273 -4.912382,0.430913 -9.867815,1.077273 -14.866314,1.939083 -4.998549,0.86182 -8.66126,1.50818 -10.988145,1.93909 -2.326913,0.4309 -4.438358,0.0431 -6.334343,-1.16345 -1.895999,-1.20654 -1.766727,-1.8529 0.387817,-1.93909 2.154528,-0.0862 5.041607,-0.34472 8.661244,-0.775633 3.619604,-0.430902 8.531947,-1.163444 14.737042,-2.197629 V 83.15881 c -2.757838,0.51711 -4.912374,0.861836 -6.463615,1.034179 -1.551291,0.172383 -3.27492,-0.215434 -5.170892,-1.163451 -1.896011,-0.947974 -1.335832,-1.594335 1.68054,-1.939085 3.016329,-0.344702 6.334315,-0.861791 9.953967,-1.551267 0.172332,-3.791959 0.172332,-6.722128 0,-8.790516 -0.172394,-2.068321 -0.430939,-3.619587 -0.775634,-4.653803 -2.240748,0.344764 -4.222921,0.560218 -5.946526,0.646361 -1.723653,0.08622 -3.3611,-0.344687 -4.912347,-1.292723 -1.551285,-0.947956 -1.465104,-1.508136 0.258545,-1.680539 1.723609,-0.172322 5.34323,-0.775593 10.858873,-1.809813 5.515581,-1.034134 9.436837,-1.809767 11.763779,-2.326901 2.326856,-0.517044 4.093576,-0.258499 5.300164,0.775634 1.206492,1.034221 0.129224,2.025308 -3.231808,2.973263 -3.36112,0.948037 -6.93765,1.680579 -10.7296,2.197629 z"
         style="font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-size:66.1874px;line-height:100%;font-family:KaiTi;text-align:center;writing-mode:lr-tb;text-anchor:middle;fill:#de0000;fill-opacity:1;stroke:#000000;stroke-width:1.03418;stroke-miterlimit:4;stroke-opacity:0.498039"
         id="text3157" />
    </g>
  </g>
</svg>


@code {

}
