﻿<?xml version="1.0" encoding="UTF-8" standalone="no" ?>
<!-- Created with Inkscape (http://www.inkscape.org/) -->

<svg viewBox="0 0 127.70555 127.70555"
		 version="1.1"
		 id="svg5"
		 sodipodi:docname="goldgeneral-moves.svg"
		 inkscape:version="1.1 (c68e22c387, 2021-05-23)"
		 xmlns:inkscape="http://www.inkscape.org/namespaces/inkscape"
		 xmlns:sodipodi="http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd"
		 xmlns:xlink="http://www.w3.org/1999/xlink"
		 xmlns="http://www.w3.org/2000/svg"
		 xmlns:svg="http://www.w3.org/2000/svg">
	<sodipodi:namedview id="namedview7"
											pagecolor="#ffffff"
											bordercolor="#666666"
											borderopacity="1.0"
											inkscape:pageshadow="2"
											inkscape:pageopacity="0.0"
											inkscape:pagecheckerboard="0"
											inkscape:document-units="mm"
											showgrid="true"
											inkscape:zoom="0.74118967"
											inkscape:cx="80.950939"
											inkscape:cy="174.71911"
											inkscape:window-width="1397"
											inkscape:window-height="827"
											inkscape:window-x="152"
											inkscape:window-y="54"
											inkscape:window-maximized="0"
											inkscape:current-layer="layer2"
											showguides="true"
											inkscape:snap-bbox="true"
											inkscape:object-paths="true"
											inkscape:snap-intersection-paths="true"
											inkscape:snap-smooth-nodes="true">
		<inkscape:grid type="xygrid"
									 id="grid9"
									 originx="0.3527775"
									 originy="0.3527775" />
	</sodipodi:namedview>
	<defs id="defs2">
		<marker style="overflow:visible"
						id="Arrow1Lend"
						refX="0"
						refY="0"
						orient="auto"
						inkscape:stockid="Arrow1Lend"
						inkscape:isstock="true">
			<path transform="matrix(-0.8,0,0,-0.8,-10,0)"
						style="fill:context-stroke;fill-rule:evenodd;stroke:context-stroke;stroke-width:1pt"
						d="M 0,0 5,-5 -12.5,0 5,5 Z"
						id="path6232" />
		</marker>
		<marker style="overflow:visible"
						id="Arrow1Lstart"
						refX="0"
						refY="0"
						orient="auto"
						inkscape:stockid="Arrow1Lstart"
						inkscape:isstock="true">
			<path transform="matrix(0.8,0,0,0.8,10,0)"
						style="fill:context-stroke;fill-rule:evenodd;stroke:context-stroke;stroke-width:1pt"
						d="M 0,0 5,-5 -12.5,0 5,5 Z"
						id="path6229" />
		</marker>
		<inkscape:path-effect effect="powerstroke"
													id="path-effect1626"
													is_visible="true"
													lpeversion="1"
													offset_points="1,4.99214"
													not_jump="false"
													sort_points="true"
													interpolator_type="CubicBezierJohan"
													interpolator_beta="0.2"
													start_linecap_type="zerowidth"
													linejoin_type="extrp_arc"
													miter_limit="4"
													scale_width="1"
													end_linecap_type="zerowidth" />
		<linearGradient id="linearGradient10936">
			<stop style="stop-color:#fcf3e8;stop-opacity:1"
						offset="0"
						id="stop10938" />
			<stop style="stop-color:#ba6100;stop-opacity:1"
						offset="1"
						id="stop10940" />
		</linearGradient>
		<linearGradient x1="17.523264"
										y1="5.9785309"
										x2="101.69292"
										y2="113.38583"
										id="linearGradient10942"
										xlink:href="#linearGradient10936"
										gradientUnits="userSpaceOnUse"
										gradientTransform="translate(3.1889734)" />
		<linearGradient x1="17.523264"
										y1="5.9785309"
										x2="101.69292"
										y2="113.38583"
										id="linearGradient12957"
										xlink:href="#linearGradient10936"
										gradientUnits="userSpaceOnUse"
										gradientTransform="translate(3.1889734)" />
		<marker style="overflow:visible"
						id="Arrow1Lend-4"
						refX="0"
						refY="0"
						orient="auto"
						inkscape:stockid="Arrow1Lend"
						inkscape:isstock="true">
			<path transform="matrix(-0.8,0,0,-0.8,-10,0)"
						style="fill:context-stroke;fill-rule:evenodd;stroke:context-stroke;stroke-width:1pt"
						d="M 0,0 5,-5 -12.5,0 5,5 Z"
						id="path6232-6" />
		</marker>
		<marker style="overflow:visible"
						id="Arrow1Lend-48"
						refX="0"
						refY="0"
						orient="auto"
						inkscape:stockid="Arrow1Lend"
						inkscape:isstock="true">
			<path transform="matrix(-0.8,0,0,-0.8,-10,0)"
						style="fill:context-stroke;fill-rule:evenodd;stroke:context-stroke;stroke-width:1pt"
						d="M 0,0 5,-5 -12.5,0 5,5 Z"
						id="path6232-4" />
		</marker>
		<marker style="overflow:visible"
						id="Arrow1Lend-1"
						refX="0"
						refY="0"
						orient="auto"
						inkscape:stockid="Arrow1Lend"
						inkscape:isstock="true">
			<path transform="matrix(-0.8,0,0,-0.8,-10,0)"
						style="fill:context-stroke;fill-rule:evenodd;stroke:context-stroke;stroke-width:1pt"
						d="M 0,0 5,-5 -12.5,0 5,5 Z"
						id="path6232-5" />
		</marker>
		<linearGradient x1="17.523264"
										y1="5.9785309"
										x2="101.69292"
										y2="113.38583"
										id="linearGradient12957-5"
										xlink:href="#linearGradient10936"
										gradientUnits="userSpaceOnUse"
										gradientTransform="translate(3.1889734)" />
		<marker style="overflow:visible"
						id="Arrow1Lend-5"
						refX="0"
						refY="0"
						orient="auto"
						inkscape:stockid="Arrow1Lend"
						inkscape:isstock="true">
			<path transform="matrix(-0.8,0,0,-0.8,-10,0)"
						style="fill:context-stroke;fill-rule:evenodd;stroke:context-stroke;stroke-width:1pt"
						d="M 0,0 5,-5 -12.5,0 5,5 Z"
						id="path6232-3" />
		</marker>
		<marker style="overflow:visible"
						id="Arrow1Lstart-9"
						refX="0"
						refY="0"
						orient="auto"
						inkscape:stockid="Arrow1Lstart"
						inkscape:isstock="true">
			<path transform="matrix(0.8,0,0,0.8,10,0)"
						style="fill:context-stroke;fill-rule:evenodd;stroke:context-stroke;stroke-width:1pt"
						d="M 0,0 5,-5 -12.5,0 5,5 Z"
						id="path6229-3" />
		</marker>
		<marker style="overflow:visible"
						id="Arrow1Lend-4-3"
						refX="0"
						refY="0"
						orient="auto"
						inkscape:stockid="Arrow1Lend"
						inkscape:isstock="true">
			<path transform="matrix(-0.8,0,0,-0.8,-10,0)"
						style="fill:context-stroke;fill-rule:evenodd;stroke:context-stroke;stroke-width:1pt"
						d="M 0,0 5,-5 -12.5,0 5,5 Z"
						id="path6232-6-2" />
		</marker>
		<marker style="overflow:visible"
						id="Arrow1Lend-48-0"
						refX="0"
						refY="0"
						orient="auto"
						inkscape:stockid="Arrow1Lend"
						inkscape:isstock="true">
			<path transform="matrix(-0.8,0,0,-0.8,-10,0)"
						style="fill:context-stroke;fill-rule:evenodd;stroke:context-stroke;stroke-width:1pt"
						d="M 0,0 5,-5 -12.5,0 5,5 Z"
						id="path6232-4-7" />
		</marker>
		<marker style="overflow:visible"
						id="Arrow1Lend-1-9"
						refX="0"
						refY="0"
						orient="auto"
						inkscape:stockid="Arrow1Lend"
						inkscape:isstock="true">
			<path transform="matrix(-0.8,0,0,-0.8,-10,0)"
						style="fill:context-stroke;fill-rule:evenodd;stroke:context-stroke;stroke-width:1pt"
						d="M 0,0 5,-5 -12.5,0 5,5 Z"
						id="path6232-5-7" />
		</marker>
		<linearGradient x1="17.523264"
										y1="5.9785309"
										x2="101.69292"
										y2="113.38583"
										id="linearGradient2173"
										xlink:href="#linearGradient10936"
										gradientUnits="userSpaceOnUse"
										gradientTransform="matrix(0.9299803,0,0,0.9377921,6.7492264,12.988526)" />
	</defs>
	<g inkscape:label="Layer 1"
		 inkscape:groupmode="layer"
		 id="layer1"
		 sodipodi:insensitive="true"
		 transform="translate(0.35277751,0.35277751)">
		<rect style="fill:#ffe680;stroke:#000000;stroke-width:0.705555;stroke-opacity:1"
					id="rect870"
					width="42.333332"
					height="42.333332"
					x="0"
					y="0" />
		<rect style="fill:#ffe680;stroke:#000000;stroke-width:0.705555;stroke-opacity:1"
					id="rect870-7"
					width="42.333332"
					height="42.333332"
					x="42.333336"
					y="1.2715658e-06" />
		<rect style="fill:#ffe680;stroke:#000000;stroke-width:0.705555;stroke-opacity:1"
					id="rect870-2"
					width="42.333332"
					height="42.333332"
					x="84.666664"
					y="0" />
		<rect style="fill:#ffe680;stroke:#000000;stroke-width:0.705555;stroke-opacity:1"
					id="rect870-9"
					width="42.333332"
					height="42.333332"
					x="84.666664"
					y="42.333336" />
		<rect style="fill:#ffe680;stroke:#000000;stroke-width:0.705555;stroke-opacity:1"
					id="rect870-4"
					width="42.333332"
					height="42.333332"
					x="42.33334"
					y="42.333332" />
		<rect style="fill:#ffe680;stroke:#000000;stroke-width:0.705555;stroke-opacity:1"
					id="rect870-48"
					width="42.333332"
					height="42.333332"
					x="1.2715658e-06"
					y="42.333332" />
		<rect style="fill:#ffe680;stroke:#000000;stroke-width:0.705555;stroke-opacity:1"
					id="rect870-48-0"
					width="42.333332"
					height="42.333332"
					x="1.2715658e-06"
					y="84.666664" />
		<rect style="fill:#ffe680;stroke:#000000;stroke-width:0.705555;stroke-opacity:1"
					id="rect870-48-8"
					width="42.333332"
					height="42.333332"
					x="42.333332"
					y="84.666664" />
		<rect style="fill:#ffe680;stroke:#000000;stroke-width:0.705555;stroke-opacity:1"
					id="rect870-48-05"
					width="42.333332"
					height="42.333332"
					x="84.666664"
					y="84.666664" />
	</g>
	<g inkscape:groupmode="layer"
		 id="layer2"
		 inkscape:label="Layer 2"
		 transform="translate(0.35277751,0.35277751)">
		<g id="g2195"
			 transform="matrix(0.26458333,0,0,0.26458333,49.060547,45.008812)">
			<path d="M 7.2099199,118.8563 H 100.86094 L 85.10016,18.393866 54.035432,13.453091 22.970702,18.393866 Z"
						style="fill:url(#linearGradient2173);fill-opacity:1;fill-rule:evenodd;stroke:#000000;stroke-width:1;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:0.498039"
						id="path9965" />
			<path d="m 42.425964,89.371627 c -5.937513,4.218766 -9.335947,6.875013 -10.195314,7.96875 -0.859382,1.093761 -2.26563,0.742199 -4.21875,-1.054688 -1.953127,-1.79686 -2.070314,-2.695296 -0.351562,-2.695312 1.718745,1.6e-5 3.515618,-0.351547 5.390625,-1.054688 1.87499,-0.703107 4.999987,-2.226543 9.375001,-4.570313 0.156231,-7.187471 0.156231,-12.460904 0,-15.820313 -0.156268,-3.359335 -0.703143,-5.859332 -1.640626,-7.500001 -0.937515,-1.640578 -0.625015,-2.265578 0.937501,-1.875 1.562481,0.390672 2.890605,0.976608 3.984375,1.757813 1.093727,0.781294 1.367165,1.601606 0.820312,2.460938 -0.546896,0.859416 -0.820334,4.7266 -0.820312,11.601563 -2.2e-5,6.718774 -0.195334,13.281268 -0.585938,19.687501 -0.390645,6.406253 -0.93752,10.507813 -1.640625,12.304693 -0.703143,1.79687 -1.484393,1.56249 -2.34375,-0.70313 -0.859391,-2.26562 -0.898453,-4.60937 -0.117187,-7.03125 0.781232,-2.42187 1.249982,-6.91405 1.40625,-13.476563 z M 68.91034,86.793501 c 4.218702,-0.624977 7.109324,-1.093726 8.671876,-1.40625 1.562445,-0.312476 2.929631,0.156274 4.101563,1.40625 1.171816,1.250022 0.976504,1.835959 -0.585938,1.757813 -1.562555,-0.0781 -5.625051,0.117208 -12.187501,0.585938 0.156206,7.812512 0.312455,12.656258 0.46875,14.531248 0.156205,1.87501 0.03902,3.59375 -0.351562,5.15625 -0.390669,1.5625 -1.210981,2.92969 -2.460938,4.10157 -1.250041,1.17187 -2.070353,1.05468 -2.460938,-0.35157 -0.390664,-1.40625 -1.679725,-2.73437 -3.867187,-3.98437 -2.187534,-1.25 -2.265659,-1.71875 -0.234375,-1.40625 2.031212,0.3125 3.515586,0.39062 4.453125,0.23437 0.937459,-0.15625 1.406209,-1.09374 1.40625,-2.8125 V 89.371627 c -7.343785,1.093768 -11.835968,1.835955 -13.476563,2.226562 -1.640652,0.390643 -3.164088,1.8e-5 -4.570313,-1.171875 -1.406272,-1.171855 -1.289085,-1.679667 0.351562,-1.523437 1.6406,0.15627 7.460907,-0.46873 17.460939,-1.875001 -0.156291,-2.187475 -0.585978,-3.789036 -1.289063,-4.804687 -0.703164,-1.015597 -0.468789,-1.406222 0.703126,-1.171875 1.171833,0.234403 2.304644,0.585965 3.398437,1.054687 1.093705,0.468777 1.48433,0.937526 1.171875,1.40625 -0.312545,0.468776 -0.546919,1.562524 -0.703125,3.28125 z M 56.254089,72.965375 c 1.406217,0.312537 2.734341,0.898473 3.984376,1.757813 1.249963,0.859409 1.5234,1.796908 0.820312,2.8125 -0.703161,1.015656 -1.601597,1.015656 -2.695312,0 -1.093783,-1.015592 -2.109407,-2.304653 -3.046876,-3.867187 -5.000026,2.812533 -6.250025,3.007845 -3.75,0.585937 2.499971,-2.421838 4.374969,-4.765585 5.625001,-7.03125 1.249966,-2.265581 1.874965,-4.023392 1.875,-5.273438 -3.5e-5,-1.249952 0.546839,-1.679639 1.640625,-1.289063 1.093712,0.390673 2.226524,0.937548 3.398437,1.640625 1.171835,0.703172 1.24996,1.367234 0.234375,1.992188 -1.015664,0.625044 -2.2266,1.953168 -3.632812,3.984375 4.218709,4.1e-5 6.874957,-0.351521 7.96875,-1.054687 1.093705,-0.703083 2.109329,-0.82027 3.046875,-0.351563 0.937452,0.468792 1.796826,1.054729 2.578126,1.757813 0.781199,0.703165 0.781199,1.289102 0,1.757812 -0.7813,0.468789 -3.203172,2.695349 -7.265626,6.679688 -4.062539,3.984404 -8.007847,6.523464 -11.835938,7.617188 -3.828152,1.093774 -4.765651,1.093774 -2.8125,0 1.953095,-1.093724 4.218718,-2.578098 6.796875,-4.453125 2.578088,-1.874969 4.921836,-4.140592 7.031251,-6.796875 2.109331,-2.656212 2.695268,-3.984336 1.757812,-3.984376 -0.781293,4e-5 -2.031291,0.117228 -3.75,0.351563 -1.718788,0.234414 -3.125037,0.0391 -4.21875,-0.585938 -1.093785,1.250039 -2.343784,2.500038 -3.750001,3.75 z m -24.140626,2.343751 c -0.468757,-0.937465 0.273429,-1.054653 2.226563,-0.351563 1.953113,0.703159 3.242174,1.718783 3.867187,3.046875 0.624986,1.328155 0.624986,2.539092 0,3.632813 -0.625013,1.093777 -1.3672,1.093777 -2.226562,0 -0.859386,-1.093721 -1.601573,-2.18747 -2.226563,-3.28125 -0.625009,-1.093718 -1.171883,-2.109342 -1.640625,-3.046875 z m 20.859376,19.453126 c -0.312528,-1.249984 0.507784,-1.484359 2.460938,-0.703125 1.953092,0.781264 3.085903,1.757826 3.398438,2.929688 0.312465,1.171886 0.273402,2.265635 -0.117188,3.281245 -0.390659,1.01564 -1.015658,1.09376 -1.875,0.23438 -0.859407,-0.859366 -1.601593,-1.757802 -2.226563,-2.695313 -0.625029,-0.937488 -1.171904,-1.953112 -1.640625,-3.046875 z"
						transform="scale(0.9958263,1.0041912)"
						style="font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-size:60px;line-height:100%;font-family:KaiTi;text-align:center;writing-mode:lr-tb;text-anchor:middle;fill:#000000;fill-opacity:1;stroke:#000000;stroke-width:1;stroke-miterlimit:4;stroke-opacity:0.498039"
						id="text11939" />
			<path d="m 52.949406,39.777592 c 1.124976,0.750018 1.562475,1.343768 1.3125,1.78125 -0.250024,0.437517 -0.437524,1.406266 -0.5625,2.90625 2.124974,-0.374985 3.874972,-0.718735 5.25,-1.03125 1.374969,-0.312484 2.499968,-0.09373 3.375,0.65625 0.874967,0.750014 0.343717,1.218764 -1.59375,1.40625 -1.937529,0.187513 -4.281277,0.468763 -7.03125,0.84375 l -0.375,10.3125 c 4.749972,-0.374997 8.187468,-0.718747 10.3125,-1.03125 2.124964,-0.312496 3.812462,-0.0625 5.0625,0.75 1.24996,0.812502 1.562459,1.406251 0.9375,1.78125 -0.625039,0.375 -2.062538,0.46875 -4.3125,0.28125 -2.250033,-0.187499 -5.46878,-0.124999 -9.65625,0.1875 -4.187522,0.3125 -7.375019,0.625 -9.5625,0.9375 -2.187514,0.312499 -3.843763,0.593749 -4.96875,0.84375 -1.12501,0.249998 -2.312509,-0.09375 -3.5625,-1.03125 -1.250007,-0.937499 -0.968757,-1.374999 0.84375,-1.3125 1.81249,0.0625 6.031235,-0.343749 12.65625,-1.21875 v -10.125 c -2.375019,0.250012 -3.875017,0.437512 -4.5,0.5625 -0.625016,0.125012 -1.437515,-0.124988 -2.4375,-0.75 -1.000013,-0.624987 -0.718764,-0.968737 0.84375,-1.03125 1.562483,-0.06249 3.656231,-0.281236 6.28125,-0.65625 -2.2e-5,-2.499983 -0.187521,-4.124982 -0.5625,-4.875 -1.750019,0.125019 -3.187518,-0.06248 -4.3125,-0.5625 -1.125016,-0.49998 -0.937516,-0.87498 0.5625,-1.125 1.499981,-0.249979 3.24998,-0.562479 5.25,-0.9375 1.999976,-0.374978 3.593724,-0.718728 4.78125,-1.03125 1.187472,-0.312477 2.187471,-0.187477 3,0.375 0.812469,0.562522 0.624969,1.062521 -0.5625,1.5 -1.187528,0.43752 -3.343776,0.96877 -6.46875,1.59375 z m 1.3125,-14.0625 c 3.874972,3.50003 6.843719,6.031277 8.90625,7.59375 2.062465,1.562524 4.031213,2.812523 5.90625,3.75 1.874959,0.937521 3.906207,1.71877 6.09375,2.34375 2.187452,0.625019 2.624952,1.031269 1.3125,1.21875 -1.312545,0.187518 -3.125044,0.406268 -5.4375,0.65625 -2.312539,0.250017 -4.250037,-0.437482 -5.8125,-2.0625 -1.562534,-1.624979 -3.062532,-3.249977 -4.5,-4.875 -1.43753,-1.624974 -3.781277,-4.124971 -7.03125,-7.5 -3.375021,4.625028 -6.593767,8.437524 -9.65625,11.4375 -3.062511,3.000018 -6.156258,5.125016 -9.28125,6.375 -3.125002,1.250013 -3.250002,0.906263 -0.375,-1.03125 2.874992,-1.937483 5.74999,-4.49998 8.625,-7.6875 2.874984,-3.187474 5.062482,-5.937471 6.5625,-8.25 1.499979,-2.312466 2.218728,-4.031215 2.15625,-5.15625 -0.06252,-1.124962 0.437478,-1.437462 1.5,-0.9375 1.062475,0.500037 1.843725,0.968786 2.34375,1.40625 0.499974,0.437536 0.531224,0.843785 0.09375,1.21875 -0.437525,0.375034 -0.906275,0.875034 -1.40625,1.5 z m 4.875,24.375 c 0.62497,-0.62499 0.90622,-1.28124 0.84375,-1.96875 -0.06253,-0.687488 0.437469,-0.812488 1.5,-0.375 1.062467,0.437511 1.843716,0.96876 2.34375,1.59375 0.499965,0.625009 0.312466,1.031259 -0.5625,1.21875 -0.875033,0.187508 -1.937532,0.593758 -3.1875,1.21875 -1.250029,0.625007 -2.375028,1.156256 -3.375,1.59375 -1.000026,0.437505 -0.968776,0.156255 0.09375,-0.84375 1.062472,-0.999993 1.843721,-1.812492 2.34375,-2.4375 z m -15.75,0.75 c -0.750013,-1.249991 -0.468763,-1.68749 0.84375,-1.3125 1.312484,0.375009 2.343733,0.937509 3.09375,1.6875 0.749982,0.750007 0.906232,1.625006 0.46875,2.625 -0.437518,1.000004 -1.093767,1.062504 -1.96875,0.1875 -0.875015,-0.874994 -1.687514,-1.937493 -2.4375,-3.1875 z"
						transform="scale(0.9958263,1.0041912)"
						style="font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-size:48px;line-height:100%;font-family:KaiTi;text-align:center;writing-mode:lr-tb;text-anchor:middle;fill:#000000;fill-opacity:1;stroke:#000000;stroke-width:1;stroke-miterlimit:4;stroke-opacity:0.498039"
						id="text11929" />
		</g>
		<circle style="fill:#000000;fill-rule:evenodd;stroke:#000000;stroke-width:0.964999;stroke-linecap:square;stroke-linejoin:round;stroke-opacity:1"
						id="path11951"
						cx="21.166666"
						cy="63.5"
						r="5.2916665" />
		<circle style="fill:#000000;fill-rule:evenodd;stroke:#000000;stroke-width:0.964999;stroke-linecap:square;stroke-linejoin:round;stroke-opacity:1"
						id="path11951-4"
						cx="63.5"
						cy="21.166666"
						r="5.2916665" />
		<circle style="fill:#000000;fill-rule:evenodd;stroke:#000000;stroke-width:0.964999;stroke-linecap:square;stroke-linejoin:round;stroke-opacity:1"
						id="path11951-5"
						cx="21.166666"
						cy="21.166666"
						r="5.2916665" />
		<circle style="fill:#000000;fill-rule:evenodd;stroke:#000000;stroke-width:0.964999;stroke-linecap:square;stroke-linejoin:round;stroke-opacity:1"
						id="path11951-9"
						cx="105.83334"
						cy="21.166666"
						r="5.2916665" />
		<circle style="fill:#000000;fill-rule:evenodd;stroke:#000000;stroke-width:0.964999;stroke-linecap:square;stroke-linejoin:round;stroke-opacity:1"
						id="path11951-7"
						cx="63.5"
						cy="105.83334"
						r="5.2916665" />
		<circle style="fill:#000000;fill-rule:evenodd;stroke:#000000;stroke-width:0.964999;stroke-linecap:square;stroke-linejoin:round;stroke-opacity:1"
						id="path11951-1"
						cx="105.83334"
						cy="63.5"
						r="5.2916665" />
	</g>
</svg>

@code {

}
