﻿<?xml version="1.0" encoding="UTF-8" standalone="no" ?>
<!-- Created with Inkscape (http://www.inkscape.org/) -->

<svg viewBox="0 0 127.70555 127.70555"
		 version="1.1"
		 id="svg5"
		 sodipodi:docname="horse-moves.svg"
		 inkscape:version="1.1 (c68e22c387, 2021-05-23)"
		 xmlns:inkscape="http://www.inkscape.org/namespaces/inkscape"
		 xmlns:sodipodi="http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd"
		 xmlns:xlink="http://www.w3.org/1999/xlink"
		 xmlns="http://www.w3.org/2000/svg"
		 xmlns:svg="http://www.w3.org/2000/svg">
	<sodipodi:namedview id="namedview7"
											pagecolor="#ffffff"
											bordercolor="#666666"
											borderopacity="1.0"
											inkscape:pageshadow="2"
											inkscape:pageopacity="0.0"
											inkscape:pagecheckerboard="0"
											inkscape:document-units="mm"
											showgrid="true"
											inkscape:zoom="0.74118967"
											inkscape:cx="201.70276"
											inkscape:cy="328.5259"
											inkscape:window-width="1284"
											inkscape:window-height="827"
											inkscape:window-x="2462"
											inkscape:window-y="75"
											inkscape:window-maximized="0"
											inkscape:current-layer="layer2"
											showguides="true"
											inkscape:snap-bbox="true"
											inkscape:object-paths="true"
											inkscape:snap-intersection-paths="true"
											inkscape:snap-smooth-nodes="true">
		<inkscape:grid type="xygrid"
									 id="grid9"
									 originx="0.3527775"
									 originy="0.3527775" />
	</sodipodi:namedview>
	<defs id="defs2">
		<marker style="overflow:visible"
						id="Arrow1Lend"
						refX="0"
						refY="0"
						orient="auto"
						inkscape:stockid="Arrow1Lend"
						inkscape:isstock="true">
			<path transform="matrix(-0.8,0,0,-0.8,-10,0)"
						style="fill:context-stroke;fill-rule:evenodd;stroke:context-stroke;stroke-width:1pt"
						d="M 0,0 5,-5 -12.5,0 5,5 Z"
						id="path6232" />
		</marker>
		<marker style="overflow:visible"
						id="Arrow1Lstart"
						refX="0"
						refY="0"
						orient="auto"
						inkscape:stockid="Arrow1Lstart"
						inkscape:isstock="true">
			<path transform="matrix(0.8,0,0,0.8,10,0)"
						style="fill:context-stroke;fill-rule:evenodd;stroke:context-stroke;stroke-width:1pt"
						d="M 0,0 5,-5 -12.5,0 5,5 Z"
						id="path6229" />
		</marker>
		<inkscape:path-effect effect="powerstroke"
													id="path-effect1626"
													is_visible="true"
													lpeversion="1"
													offset_points="1,4.99214"
													not_jump="false"
													sort_points="true"
													interpolator_type="CubicBezierJohan"
													interpolator_beta="0.2"
													start_linecap_type="zerowidth"
													linejoin_type="extrp_arc"
													miter_limit="4"
													scale_width="1"
													end_linecap_type="zerowidth" />
		<linearGradient id="linearGradient10936">
			<stop style="stop-color:#fcf3e8;stop-opacity:1"
						offset="0"
						id="stop10938" />
			<stop style="stop-color:#ba6100;stop-opacity:1"
						offset="1"
						id="stop10940" />
		</linearGradient>
		<linearGradient x1="17.523264"
										y1="5.9785309"
										x2="101.69292"
										y2="113.38583"
										id="linearGradient10942"
										xlink:href="#linearGradient10936"
										gradientUnits="userSpaceOnUse"
										gradientTransform="translate(3.1889734)" />
		<linearGradient x1="17.523264"
										y1="5.9785309"
										x2="101.69292"
										y2="113.38583"
										id="linearGradient12957"
										xlink:href="#linearGradient10936"
										gradientUnits="userSpaceOnUse"
										gradientTransform="translate(3.1889734)" />
		<marker style="overflow:visible"
						id="Arrow1Lend-4"
						refX="0"
						refY="0"
						orient="auto"
						inkscape:stockid="Arrow1Lend"
						inkscape:isstock="true">
			<path transform="matrix(-0.8,0,0,-0.8,-10,0)"
						style="fill:context-stroke;fill-rule:evenodd;stroke:context-stroke;stroke-width:1pt"
						d="M 0,0 5,-5 -12.5,0 5,5 Z"
						id="path6232-6" />
		</marker>
		<marker style="overflow:visible"
						id="Arrow1Lend-48"
						refX="0"
						refY="0"
						orient="auto"
						inkscape:stockid="Arrow1Lend"
						inkscape:isstock="true">
			<path transform="matrix(-0.8,0,0,-0.8,-10,0)"
						style="fill:context-stroke;fill-rule:evenodd;stroke:context-stroke;stroke-width:1pt"
						d="M 0,0 5,-5 -12.5,0 5,5 Z"
						id="path6232-4" />
		</marker>
		<marker style="overflow:visible"
						id="Arrow1Lend-1"
						refX="0"
						refY="0"
						orient="auto"
						inkscape:stockid="Arrow1Lend"
						inkscape:isstock="true">
			<path transform="matrix(-0.8,0,0,-0.8,-10,0)"
						style="fill:context-stroke;fill-rule:evenodd;stroke:context-stroke;stroke-width:1pt"
						d="M 0,0 5,-5 -12.5,0 5,5 Z"
						id="path6232-5" />
		</marker>
	</defs>
	<g inkscape:label="Layer 1"
		 inkscape:groupmode="layer"
		 id="layer1"
		 sodipodi:insensitive="true"
		 transform="translate(0.35277751,0.35277751)">
		<rect style="fill:#ffe680;stroke:#000000;stroke-width:0.705555;stroke-opacity:1"
					id="rect870"
					width="42.333332"
					height="42.333332"
					x="0"
					y="0" />
		<rect style="fill:#ffe680;stroke:#000000;stroke-width:0.705555;stroke-opacity:1"
					id="rect870-7"
					width="42.333332"
					height="42.333332"
					x="42.333336"
					y="1.2715658e-06" />
		<rect style="fill:#ffe680;stroke:#000000;stroke-width:0.705555;stroke-opacity:1"
					id="rect870-2"
					width="42.333332"
					height="42.333332"
					x="84.666664"
					y="0" />
		<rect style="fill:#ffe680;stroke:#000000;stroke-width:0.705555;stroke-opacity:1"
					id="rect870-9"
					width="42.333332"
					height="42.333332"
					x="84.666664"
					y="42.333336" />
		<rect style="fill:#ffe680;stroke:#000000;stroke-width:0.705555;stroke-opacity:1"
					id="rect870-4"
					width="42.333332"
					height="42.333332"
					x="42.33334"
					y="42.333332" />
		<rect style="fill:#ffe680;stroke:#000000;stroke-width:0.705555;stroke-opacity:1"
					id="rect870-48"
					width="42.333332"
					height="42.333332"
					x="1.2715658e-06"
					y="42.333332" />
		<rect style="fill:#ffe680;stroke:#000000;stroke-width:0.705555;stroke-opacity:1"
					id="rect870-48-0"
					width="42.333332"
					height="42.333332"
					x="1.2715658e-06"
					y="84.666664" />
		<rect style="fill:#ffe680;stroke:#000000;stroke-width:0.705555;stroke-opacity:1"
					id="rect870-48-8"
					width="42.333332"
					height="42.333332"
					x="42.333332"
					y="84.666664" />
		<rect style="fill:#ffe680;stroke:#000000;stroke-width:0.705555;stroke-opacity:1"
					id="rect870-48-05"
					width="42.333332"
					height="42.333332"
					x="84.666664"
					y="84.666664" />
	</g>
	<g inkscape:groupmode="layer"
		 id="layer2"
		 inkscape:label="Layer 2"
		 transform="translate(0.35277751,0.35277751)">
		<g transform="matrix(0.25535996,0,0,0.25631928,49.008284,49.573196)"
			 id="g12950">
			<path d="M 3.6843532,112.89045 H 104.38651 L 87.439074,5.7639005 54.035433,0.49538136 20.63179,5.7639005 Z"
						style="fill:url(#linearGradient12957);fill-opacity:1;fill-rule:evenodd;stroke:#000000;stroke-width:1.03418;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:0.498039"
						id="path9965" />
			<path d="m 61.306998,11.477955 c 2.714684,-0.90487 4.42754,-1.454276 5.138574,-1.6482215 0.71096,-0.1938713 1.421957,-0.032281 2.132992,0.4847715 0.710958,0.517125 0.35546,1.066531 -1.066496,1.648221 -1.422032,0.58176 -3.555022,0.872622 -6.398978,0.872588 l -0.387817,3.878169 c -0.129304,1.292752 0.258513,1.777522 1.16345,1.454313 0.904873,-0.323151 1.648188,-0.67865 2.229947,-1.066496 0.581691,-0.387787 1.195733,-0.420105 1.84213,-0.09695 0.646325,0.32321 1.357322,0.775662 2.132993,1.357359 0.775595,0.581753 0.775595,1.066523 0,1.454313 -0.775671,0.387843 -1.680576,1.680565 -2.714718,3.878169 1.034142,0.904928 1.260368,1.454335 0.67868,1.648222 -0.581761,0.193929 -1.42203,0.355519 -2.52081,0.484771 -1.098847,0.129293 -3.19952,0.517109 -6.302024,1.16345 -0.258572,1.034197 -0.387844,2.068375 -0.387817,3.102535 1.809783,-0.258527 3.425685,-0.581708 4.847711,-0.969542 1.421962,-0.387799 2.423821,-0.355481 3.005581,0.09695 0.581689,0.45247 0.517053,0.807969 -0.193909,1.066497 -0.711032,0.25856 -1.615937,0.484787 -2.714718,0.678679 -1.098845,0.193924 -2.811702,0.420151 -5.138574,0.67868 -0.129299,1.163464 -0.193935,2.133006 -0.193908,2.908626 2.1976,-0.387804 4.039728,-0.743302 5.526391,-1.066496 1.486597,-0.323167 2.520774,-0.258531 3.102535,0.193908 0.581689,0.452466 0.161554,0.872601 -1.260405,1.260405 -1.422028,0.387829 -3.878199,0.646373 -7.368521,0.775634 -0.129299,1.680549 -0.129299,2.843999 0,3.490352 2.585417,-0.387809 4.589135,-0.775626 6.011162,-1.163451 1.421961,-0.387808 2.326866,-0.290853 2.714718,0.290863 0.387781,0.581733 0.0646,1.001868 -0.969542,1.260405 -1.034212,0.258551 -2.165344,0.452459 -3.393398,0.581725 -1.228117,0.129279 -2.617793,0.193915 -4.169032,0.193908 0.38779,2.843994 1.809784,4.39526 4.265986,4.653803 2.45614,0.258546 5.170855,0.129274 8.144154,-0.387817 2.973221,-0.517086 4.653759,-1.648218 5.04162,-3.393398 0.387772,-1.745168 0.646316,-3.231798 0.775634,-4.459894 0.129227,-1.228075 0.290817,-0.840259 0.484771,1.163451 0.193862,2.003727 0.549361,3.458039 1.066496,4.36294 0.517042,0.904909 0.581678,1.680542 0.193909,2.326901 -0.387864,0.646363 -1.422041,1.325042 -3.102535,2.036039 -1.680582,0.710997 -3.845891,1.163449 -6.495933,1.357359 -2.650117,0.193907 -4.91238,0.03232 -6.786795,-0.484771 -1.874477,-0.51709 -3.296471,-1.421995 -4.265986,-2.714718 -0.969568,-1.29272 -1.454338,-3.296439 -1.454313,-6.011162 -2.5e-5,-2.84398 0.06461,-5.558695 0.193908,-8.144154 0.129247,-2.585428 -0.06466,-4.459874 -0.581725,-5.623345 -0.517113,-1.163428 0.517064,-1.034156 3.102535,0.387817 1.292694,-0.258523 3.361048,-0.710976 6.20507,-1.357359 0.387783,-1.680516 0.614009,-2.940919 0.678679,-3.781215 0.0646,-0.840242 -0.549441,-1.163423 -1.84213,-0.969542 -1.292754,0.193936 -2.100705,0.517116 -2.423855,0.969542 -0.323211,0.452479 -0.775663,0.387843 -1.357359,-0.193908 -0.581754,-0.581698 -0.614072,-1.260377 -0.09696,-2.036039 0.51706,-0.775604 0.710969,-2.100644 0.581726,-3.975123 -0.129302,-1.874414 -0.581754,-3.231771 -1.357359,-4.072077 -0.775661,-0.8402324 -0.387845,-1.0987767 1.16345,-0.7756338 1.551237,0.3232179 2.391506,1.0665328 2.52081,2.2299468 z M 41.916154,29.51144 c -0.129284,1.809827 -0.19392,3.037913 -0.193908,3.68426 1.551254,-0.517075 2.520795,-0.517075 2.908626,0 0.387802,0.517102 0.193894,0.840283 -0.581725,0.969542 -0.775647,0.129285 -1.55128,0.193921 -2.326901,0.193909 -0.258557,1.422006 -0.452465,2.456183 -0.581726,3.102535 0.775622,-0.129263 1.486619,-0.323171 2.132993,-0.581725 0.646347,-0.258535 1.163436,-0.09694 1.551268,0.484771 0.387801,0.581734 0.193893,0.96955 -0.581726,1.16345 -0.775647,0.193917 -1.87446,0.290871 -3.296443,0.290863 -0.387828,3.361084 -0.904916,5.655665 -1.551268,6.88375 -0.64637,1.228086 -1.163459,1.131132 -1.551267,-0.290863 -0.387825,-1.421993 -0.387825,-2.61776 0,-3.587306 0.387808,-0.969537 0.743307,-2.22994 1.066496,-3.781215 0.323172,-1.551257 0.581716,-3.199477 0.775634,-4.944665 0.193898,-1.74516 0.06463,-3.005564 -0.387817,-3.781215 -0.452462,-0.775615 -0.48478,-1.163432 -0.09695,-1.16345 0.387807,1.8e-5 0.807942,0.06465 1.260405,0.193908 0.452442,0.129291 1.131121,0.129291 2.036038,0 0.904893,-0.129253 1.745162,-0.420116 2.52081,-0.872588 0.775618,-0.452433 1.583569,-0.484751 2.423856,-0.09695 0.840251,0.387836 1.454294,0.775652 1.84213,1.163451 0.387797,0.387834 0.387797,0.840287 0,1.357359 -0.387836,0.517105 -0.517108,2.068371 -0.387817,4.653802 0.129253,2.585456 0.290843,4.750765 0.484771,6.495933 0.193889,1.74518 0.161571,3.361082 -0.09695,4.847711 -0.258564,1.486631 -0.678699,2.48849 -1.260405,3.005581 -0.581743,0.517086 -1.098832,0.193906 -1.551268,-0.969542 -0.452469,-1.163451 -1.26042,-2.068356 -2.423855,-2.714719 -1.163464,-0.646359 -1.2281,-0.904903 -0.193908,-0.775633 1.034163,0.129274 1.809796,0.161592 2.326901,0.09695 0.517072,-0.06463 0.775616,-1.131129 0.775634,-3.199489 -1.8e-5,-2.06835 -0.06465,-4.265976 -0.193909,-6.592887 -0.129289,-2.326887 -0.323197,-3.845835 -0.581725,-4.556849 -0.258561,-0.71098 -0.646377,-1.066478 -1.163451,-1.066496 -0.517104,1.8e-5 -1.551281,0.12929 -3.102535,0.387817 z m 6.398979,-12.991865 c 2.068336,0.775663 2.811651,1.422024 2.229947,1.939084 -0.581746,0.517117 -1.648241,1.551294 -3.19949,3.102535 3.490331,-1.034152 5.558686,-1.260378 6.20507,-0.67868 0.646337,0.581751 0.290839,1.034204 -1.066496,1.35736 -1.35738,0.323204 -2.779374,0.614067 -4.265986,0.872587 -1.486648,0.258568 -3.651957,0.807975 -6.495932,1.648222 -2.844,0.840291 -4.621492,1.454334 -5.332482,1.84213 -0.711004,0.387837 -1.809817,0.09698 -3.296444,-0.872588 -1.486633,-0.96952 -1.551269,-1.421972 -0.193908,-1.357359 1.357354,0.06466 3.037892,-0.09693 5.041619,-0.484771 2.00371,-0.387793 4.750744,-1.034154 8.241109,-1.939084 1.292705,-2.326874 1.87443,-4.072048 1.745176,-5.235528 -2.585462,0.775663 -4.58918,0.969571 -6.011162,0.581725 -1.422006,-0.387787 -1.422006,-0.743285 0,-1.066496 1.421982,-0.32315 3.10252,-0.840239 5.04162,-1.551268 1.939065,-0.710964 3.393377,-0.969509 4.362939,-0.775633 0.96952,0.193941 1.228064,0.517121 0.775634,0.969542 -0.452475,0.452484 -1.712878,1.001891 -3.781214,1.648222 z m -2.52081,-8.1441548 c 1.680522,0.1293105 2.811653,0.4524909 3.393398,0.9695422 0.581705,0.517126 0.904885,1.1634866 0.969542,1.9390846 0.06461,0.775668 -0.06466,1.292757 -0.387817,1.551267 -0.323201,0.258579 -1.066516,-0.0646 -2.229947,-0.969542 -1.163467,-0.90487 -2.165327,-1.745139 -3.005581,-2.5208096 -0.840284,-0.7755956 -0.420149,-1.098776 1.260405,-0.9695422 z M 42.691788,18.652567 c 1.034164,0.775661 1.421981,1.583613 1.163451,2.423856 -0.258559,0.840295 -0.581739,1.228111 -0.969543,1.163451 -0.387829,-0.06461 -0.743328,-0.484747 -1.066496,-1.260405 -0.323193,-0.775608 -0.517101,-1.551241 -0.581725,-2.326902 -0.06465,-0.775604 0.420123,-0.775604 1.454313,0 z"
						style="font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-size:49.6406px;line-height:100%;font-family:KaiTi;text-align:center;writing-mode:lr-tb;text-anchor:middle;fill:#de0000;fill-opacity:1;stroke:#000000;stroke-width:1.03418;stroke-miterlimit:4;stroke-opacity:0.498039"
						id="text3153" />
			<path d="m 56.750149,54.333815 c 1.206505,1.034225 1.723594,1.852949 1.551268,2.456174 -0.1724,0.603315 -0.344763,1.594402 -0.517089,2.973263 2.068318,-0.344684 3.576493,-0.646319 4.52453,-0.904906 0.947955,-0.258502 1.766678,-0.17232 2.456174,0.258544 0.689408,0.43095 0.947952,0.818767 0.775634,1.163451 -0.172408,0.344767 -1.206585,0.775675 -3.102536,1.292723 -1.896033,0.517129 -3.619662,0.948036 -5.170892,1.292723 -0.172399,1.034216 -0.25858,2.671664 -0.258544,4.912347 2.068319,-0.344692 3.662675,-0.646327 4.783075,-0.904906 1.120318,-0.258509 2.111405,-0.08615 2.973263,0.517089 0.86177,0.603305 0.430863,1.206575 -1.292723,1.809813 -1.723672,0.603302 -3.878208,1.0773 -6.463615,1.421995 -0.172399,3.102563 -0.25858,5.084736 -0.258545,5.946526 4.826126,-0.517064 8.144111,-1.120334 9.953967,-1.809813 1.809765,-0.689424 3.145577,-1.03415 4.007441,-1.034178 0.861765,2.8e-5 1.809761,0.215482 2.843991,0.646362 1.034125,0.430934 2.283756,1.077295 3.748897,1.939084 1.465028,0.86184 1.680481,2.06838 0.646361,3.619624 -1.034234,1.551288 -1.680595,4.007459 -1.939084,7.368521 -0.2586,3.361091 -0.732598,6.635986 -1.421996,9.824695 -0.689505,3.188714 -2.154589,5.903434 -4.395258,8.144154 -2.240766,2.24071 -3.61967,2.41308 -4.136713,0.51709 -0.517134,-1.896 -1.809856,-3.79199 -3.878169,-5.68798 -2.068396,-1.895992 -2.111487,-2.542352 -0.129273,-1.939086 1.982133,0.603274 3.576489,1.034181 4.783075,1.292723 1.206495,0.258547 2.197582,-0.473996 2.973263,-2.197629 0.775585,-1.723624 1.465036,-4.524521 2.068357,-8.402699 0.603219,-3.878152 0.775582,-6.72214 0.517089,-8.531972 -0.258595,-1.809789 -0.861866,-2.800875 -1.809812,-2.973263 -0.948045,-0.172338 -2.41313,-0.172338 -4.395258,0 -1.982218,0.172388 -4.567662,0.517113 -7.756338,1.034179 -3.188751,0.517112 -8.575091,1.378926 -16.159037,2.585446 -0.861836,1.723649 -1.637469,1.896012 -2.326901,0.517089 -0.689471,-1.378883 -0.861834,-2.887058 -0.517089,-4.524531 0.344707,-1.637422 0.51707,-3.921231 0.517089,-6.851431 V 60.79743 c -1.9e-5,-3.274854 -0.215473,-5.472481 -0.646362,-6.592887 -0.430925,-1.120311 -0.387835,-1.723581 0.129273,-1.809812 0.51707,-0.08613 1.421975,0.04314 2.714718,0.387817 1.2927,0.344775 3.361055,0.344775 6.20507,0 2.84396,-0.344677 5.860311,-0.861766 9.049061,-1.551268 3.188677,-0.689401 5.515576,-1.206489 6.980704,-1.551267 1.465041,-0.344674 2.5854,-0.258493 3.36108,0.258544 0.775586,0.517141 0.818677,1.034229 0.129272,1.551268 -0.689499,0.517139 -2.283855,1.034227 -4.783075,1.551268 -2.499304,0.517137 -4.610749,0.948044 -6.334343,1.292722 z M 43.30583,55.626538 c -0.344748,5.170933 -0.51711,9.480005 -0.517089,12.92723 -2.1e-5,3.447291 -0.172384,6.808367 -0.517089,10.083239 2.240696,-0.17234 4.309051,-0.387793 6.20507,-0.646361 1.895965,-0.258521 3.619594,-0.560156 5.170892,-0.904906 0.17233,-1.895967 0.258512,-3.791959 0.258545,-5.687981 -1.206573,0.172393 -2.456204,0.301665 -3.748897,0.387817 -1.292751,0.08621 -2.499291,-0.08615 -3.619624,-0.51709 -1.120384,-0.430876 -0.646386,-0.818693 1.421995,-1.16345 l 5.946526,-1.292723 v -4.912348 c -1.723662,0.172401 -3.231837,0.215492 -4.524531,0.129273 -1.29275,-0.08614 -2.197655,-0.301598 -2.714718,-0.646362 -0.517114,-0.344687 0.172337,-0.689413 2.068357,-1.034178 1.895964,-0.344687 3.619593,-0.775594 5.170892,-1.292723 -3.3e-5,-2.41304 -0.08622,-4.481395 -0.258545,-6.20507 -3.102564,0.344772 -6.549822,0.603317 -10.341784,0.775633 z m -9.824694,30.249718 c 0.689439,1.896008 0.991074,3.619636 0.904906,5.170892 -0.0862,1.551276 -0.603284,3.145633 -1.551268,4.783075 -0.948007,1.637453 -1.896003,1.680544 -2.84399,0.129272 -0.948005,-1.55126 -0.991096,-2.887073 -0.129272,-4.007441 0.861805,-1.120349 1.508166,-2.887069 1.939084,-5.300164 0.430896,-2.413066 0.991076,-2.67161 1.68054,-0.775634 z m 27.147182,-3.878169 c 2.068315,1.034197 3.361037,2.197647 3.878169,3.490352 0.517045,1.292738 0.430864,2.456187 -0.258544,3.490352 -0.689495,1.03419 -1.465128,1.03419 -2.326902,0 -0.861855,-1.034165 -1.76676,-2.714703 -2.714718,-5.041619 -0.948034,-2.326882 -0.474036,-2.973243 1.421995,-1.939085 z m -18.873755,2.843991 c 1.551245,0.689468 2.542332,1.809827 2.973263,3.361079 0.430883,1.55128 0.172339,2.844001 -0.775634,3.878169 -0.948019,1.034187 -1.766743,0.689461 -2.456174,-1.034178 -0.689472,-1.723618 -1.16347,-3.404157 -1.421995,-5.04162 -0.258563,-1.637432 0.301616,-2.025248 1.68054,-1.16345 z m 9.307605,-1.034179 c 1.895962,0.68947 2.843958,1.982191 2.843991,3.878169 -3.3e-5,1.723643 -0.344759,2.628548 -1.034179,2.714718 -0.689483,0.08619 -1.378935,-0.473986 -2.068356,-1.68054 -0.689482,-1.206527 -1.249661,-2.542339 -1.68054,-4.007441 -0.430935,-1.465067 0.215425,-1.766702 1.939084,-0.904906 z"
						style="font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-size:66.1874px;line-height:100%;font-family:KaiTi;text-align:center;writing-mode:lr-tb;text-anchor:middle;fill:#de0000;fill-opacity:1;stroke:#000000;stroke-width:1.03418;stroke-miterlimit:4;stroke-opacity:0.498039"
						id="text2168" />
		</g>
		<path style="fill:none;stroke:#e81111;stroke-width:0.965;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1;marker-end:url(#Arrow1Lend)"
					d="M 47.624999,47.624999 5.2916666,5.2916666"
					id="path7883" />
		<path style="fill:none;stroke:#e81111;stroke-width:0.965;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1;marker-end:url(#Arrow1Lend-4)"
					d="M 79.375,47.625 121.70833,5.2916667"
					id="path7883-9"
					sodipodi:nodetypes="cc" />
		<path style="fill:none;stroke:#e81111;stroke-width:0.965;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1;marker-end:url(#Arrow1Lend-48)"
					d="m 79.375,79.375 42.33333,42.33333"
					id="path7883-4"
					sodipodi:nodetypes="cc" />
		<path style="fill:none;stroke:#e81111;stroke-width:0.965;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1;marker-end:url(#Arrow1Lend-1)"
					d="M 47.625,79.375 5.2916667,121.70833"
					id="path7883-7"
					sodipodi:nodetypes="cc" />
		<circle style="opacity:1;fill:#de0000;fill-opacity:1;fill-rule:evenodd;stroke:#e81111;stroke-width:0.964999;stroke-linecap:square;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:1"
						id="path9507"
						cx="21.166666"
						cy="63.5"
						r="5.2916665" />
		<circle style="fill:#de0000;fill-opacity:1;fill-rule:evenodd;stroke:#e81111;stroke-width:0.964999;stroke-linecap:square;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:1"
						id="path9507-8"
						cx="63.5"
						cy="21.166666"
						r="5.2916665" />
		<circle style="fill:#de0000;fill-opacity:1;fill-rule:evenodd;stroke:#e81111;stroke-width:0.964999;stroke-linecap:square;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:1"
						id="path9507-87"
						cx="63.5"
						cy="105.83334"
						r="5.2916665" />
		<circle style="fill:#de0000;fill-opacity:1;fill-rule:evenodd;stroke:#e81111;stroke-width:0.964999;stroke-linecap:square;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:1"
						id="path9507-3"
						cx="105.83334"
						cy="63.5"
						r="5.2916665"
						inkscape:transform-center-x="0.71394231"
						inkscape:transform-center-y="5.3545673" />
	</g>
</svg>

@code {

}
