﻿<?xml version="1.0" encoding="UTF-8" standalone="no" ?>
<!-- Created with Inkscape (http://www.inkscape.org/) -->

<svg viewBox="0 0 127.70555 127.70555"
		 version="1.1"
		 id="svg5"
		 sodipodi:docname="lance-moves.svg"
		 inkscape:version="1.1 (c68e22c387, 2021-05-23)"
		 xmlns:inkscape="http://www.inkscape.org/namespaces/inkscape"
		 xmlns:sodipodi="http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd"
		 xmlns:xlink="http://www.w3.org/1999/xlink"
		 xmlns="http://www.w3.org/2000/svg"
		 xmlns:svg="http://www.w3.org/2000/svg">
	<sodipodi:namedview id="namedview7"
											pagecolor="#ffffff"
											bordercolor="#666666"
											borderopacity="1.0"
											inkscape:pageshadow="2"
											inkscape:pageopacity="0.0"
											inkscape:pagecheckerboard="0"
											inkscape:document-units="mm"
											showgrid="true"
											inkscape:zoom="0.74118967"
											inkscape:cx="111.30754"
											inkscape:cy="177.41748"
											inkscape:window-width="1506"
											inkscape:window-height="827"
											inkscape:window-x="334"
											inkscape:window-y="54"
											inkscape:window-maximized="0"
											inkscape:current-layer="layer2"
											showguides="true"
											inkscape:snap-bbox="true"
											inkscape:object-paths="true"
											inkscape:snap-intersection-paths="true"
											inkscape:snap-smooth-nodes="true">
		<inkscape:grid type="xygrid"
									 id="grid9"
									 originx="0.3527775"
									 originy="0.3527775" />
	</sodipodi:namedview>
	<defs id="defs2">
		<marker style="overflow:visible"
						id="Arrow1Lend"
						refX="0"
						refY="0"
						orient="auto"
						inkscape:stockid="Arrow1Lend"
						inkscape:isstock="true">
			<path transform="matrix(-0.8,0,0,-0.8,-10,0)"
						style="fill:context-stroke;fill-rule:evenodd;stroke:context-stroke;stroke-width:1pt"
						d="M 0,0 5,-5 -12.5,0 5,5 Z"
						id="path6232" />
		</marker>
		<marker style="overflow:visible"
						id="Arrow1Lstart"
						refX="0"
						refY="0"
						orient="auto"
						inkscape:stockid="Arrow1Lstart"
						inkscape:isstock="true">
			<path transform="matrix(0.8,0,0,0.8,10,0)"
						style="fill:context-stroke;fill-rule:evenodd;stroke:context-stroke;stroke-width:1pt"
						d="M 0,0 5,-5 -12.5,0 5,5 Z"
						id="path6229" />
		</marker>
		<inkscape:path-effect effect="powerstroke"
													id="path-effect1626"
													is_visible="true"
													lpeversion="1"
													offset_points="1,4.99214"
													not_jump="false"
													sort_points="true"
													interpolator_type="CubicBezierJohan"
													interpolator_beta="0.2"
													start_linecap_type="zerowidth"
													linejoin_type="extrp_arc"
													miter_limit="4"
													scale_width="1"
													end_linecap_type="zerowidth" />
		<linearGradient id="linearGradient10936">
			<stop style="stop-color:#fcf3e8;stop-opacity:1"
						offset="0"
						id="stop10938" />
			<stop style="stop-color:#ba6100;stop-opacity:1"
						offset="1"
						id="stop10940" />
		</linearGradient>
		<linearGradient x1="17.523264"
										y1="5.9785309"
										x2="101.69292"
										y2="113.38583"
										id="linearGradient10942"
										xlink:href="#linearGradient10936"
										gradientUnits="userSpaceOnUse"
										gradientTransform="translate(3.1889734)" />
		<linearGradient x1="17.523264"
										y1="5.9785309"
										x2="101.69292"
										y2="113.38583"
										id="linearGradient12957"
										xlink:href="#linearGradient10936"
										gradientUnits="userSpaceOnUse"
										gradientTransform="translate(3.1889734)" />
		<marker style="overflow:visible"
						id="Arrow1Lend-4"
						refX="0"
						refY="0"
						orient="auto"
						inkscape:stockid="Arrow1Lend"
						inkscape:isstock="true">
			<path transform="matrix(-0.8,0,0,-0.8,-10,0)"
						style="fill:context-stroke;fill-rule:evenodd;stroke:context-stroke;stroke-width:1pt"
						d="M 0,0 5,-5 -12.5,0 5,5 Z"
						id="path6232-6" />
		</marker>
		<marker style="overflow:visible"
						id="Arrow1Lend-48"
						refX="0"
						refY="0"
						orient="auto"
						inkscape:stockid="Arrow1Lend"
						inkscape:isstock="true">
			<path transform="matrix(-0.8,0,0,-0.8,-10,0)"
						style="fill:context-stroke;fill-rule:evenodd;stroke:context-stroke;stroke-width:1pt"
						d="M 0,0 5,-5 -12.5,0 5,5 Z"
						id="path6232-4" />
		</marker>
		<marker style="overflow:visible"
						id="Arrow1Lend-1"
						refX="0"
						refY="0"
						orient="auto"
						inkscape:stockid="Arrow1Lend"
						inkscape:isstock="true">
			<path transform="matrix(-0.8,0,0,-0.8,-10,0)"
						style="fill:context-stroke;fill-rule:evenodd;stroke:context-stroke;stroke-width:1pt"
						d="M 0,0 5,-5 -12.5,0 5,5 Z"
						id="path6232-5" />
		</marker>
		<linearGradient x1="17.523264"
										y1="5.9785309"
										x2="101.69292"
										y2="113.38583"
										id="linearGradient12957-5"
										xlink:href="#linearGradient10936"
										gradientUnits="userSpaceOnUse"
										gradientTransform="translate(3.1889734)" />
		<marker style="overflow:visible"
						id="Arrow1Lend-5"
						refX="0"
						refY="0"
						orient="auto"
						inkscape:stockid="Arrow1Lend"
						inkscape:isstock="true">
			<path transform="matrix(-0.8,0,0,-0.8,-10,0)"
						style="fill:context-stroke;fill-rule:evenodd;stroke:context-stroke;stroke-width:1pt"
						d="M 0,0 5,-5 -12.5,0 5,5 Z"
						id="path6232-3" />
		</marker>
		<marker style="overflow:visible"
						id="Arrow1Lstart-9"
						refX="0"
						refY="0"
						orient="auto"
						inkscape:stockid="Arrow1Lstart"
						inkscape:isstock="true">
			<path transform="matrix(0.8,0,0,0.8,10,0)"
						style="fill:context-stroke;fill-rule:evenodd;stroke:context-stroke;stroke-width:1pt"
						d="M 0,0 5,-5 -12.5,0 5,5 Z"
						id="path6229-3" />
		</marker>
		<marker style="overflow:visible"
						id="Arrow1Lend-4-3"
						refX="0"
						refY="0"
						orient="auto"
						inkscape:stockid="Arrow1Lend"
						inkscape:isstock="true">
			<path transform="matrix(-0.8,0,0,-0.8,-10,0)"
						style="fill:context-stroke;fill-rule:evenodd;stroke:context-stroke;stroke-width:1pt"
						d="M 0,0 5,-5 -12.5,0 5,5 Z"
						id="path6232-6-2" />
		</marker>
		<marker style="overflow:visible"
						id="Arrow1Lend-48-0"
						refX="0"
						refY="0"
						orient="auto"
						inkscape:stockid="Arrow1Lend"
						inkscape:isstock="true">
			<path transform="matrix(-0.8,0,0,-0.8,-10,0)"
						style="fill:context-stroke;fill-rule:evenodd;stroke:context-stroke;stroke-width:1pt"
						d="M 0,0 5,-5 -12.5,0 5,5 Z"
						id="path6232-4-7" />
		</marker>
		<marker style="overflow:visible"
						id="Arrow1Lend-1-9"
						refX="0"
						refY="0"
						orient="auto"
						inkscape:stockid="Arrow1Lend"
						inkscape:isstock="true">
			<path transform="matrix(-0.8,0,0,-0.8,-10,0)"
						style="fill:context-stroke;fill-rule:evenodd;stroke:context-stroke;stroke-width:1pt"
						d="M 0,0 5,-5 -12.5,0 5,5 Z"
						id="path6232-5-7" />
		</marker>
		<linearGradient x1="17.523264"
										y1="5.9785309"
										x2="101.69292"
										y2="113.38583"
										id="linearGradient2173"
										xlink:href="#linearGradient10936"
										gradientUnits="userSpaceOnUse"
										gradientTransform="matrix(0.9299803,0,0,0.9377921,6.7492264,12.988526)" />
		<linearGradient x1="17.523264"
										y1="5.9785309"
										x2="101.69292"
										y2="113.38583"
										id="linearGradient12957-9"
										xlink:href="#linearGradient10936"
										gradientUnits="userSpaceOnUse"
										gradientTransform="translate(3.1889734,-0.06106549)" />
		<linearGradient x1="17.523264"
										y1="5.9785309"
										x2="101.69292"
										y2="113.38583"
										id="linearGradient12957-2"
										xlink:href="#linearGradient10936"
										gradientUnits="userSpaceOnUse"
										gradientTransform="translate(3.1889734,-0.06106549)" />
		<linearGradient x1="17.523264"
										y1="5.9785309"
										x2="101.69292"
										y2="113.38583"
										id="linearGradient12957-2-3"
										xlink:href="#linearGradient10936"
										gradientUnits="userSpaceOnUse"
										gradientTransform="translate(3.1889734,-0.06106549)" />
	</defs>
	<g inkscape:label="Layer 1"
		 inkscape:groupmode="layer"
		 id="layer1"
		 sodipodi:insensitive="true"
		 transform="translate(0.35277751,0.35277751)">
		<rect style="fill:#ffe680;stroke:#000000;stroke-width:0.705555;stroke-opacity:1"
					id="rect870"
					width="42.333332"
					height="42.333332"
					x="0"
					y="0" />
		<rect style="fill:#ffe680;stroke:#000000;stroke-width:0.705555;stroke-opacity:1"
					id="rect870-7"
					width="42.333332"
					height="42.333332"
					x="42.333336"
					y="1.2715658e-06" />
		<rect style="fill:#ffe680;stroke:#000000;stroke-width:0.705555;stroke-opacity:1"
					id="rect870-2"
					width="42.333332"
					height="42.333332"
					x="84.666664"
					y="0" />
		<rect style="fill:#ffe680;stroke:#000000;stroke-width:0.705555;stroke-opacity:1"
					id="rect870-9"
					width="42.333332"
					height="42.333332"
					x="84.666664"
					y="42.333336" />
		<rect style="fill:#ffe680;stroke:#000000;stroke-width:0.705555;stroke-opacity:1"
					id="rect870-4"
					width="42.333332"
					height="42.333332"
					x="42.33334"
					y="42.333332" />
		<rect style="fill:#ffe680;stroke:#000000;stroke-width:0.705555;stroke-opacity:1"
					id="rect870-48"
					width="42.333332"
					height="42.333332"
					x="1.2715658e-06"
					y="42.333332" />
		<rect style="fill:#ffe680;stroke:#000000;stroke-width:0.705555;stroke-opacity:1"
					id="rect870-48-0"
					width="42.333332"
					height="42.333332"
					x="1.2715658e-06"
					y="84.666664" />
		<rect style="fill:#ffe680;stroke:#000000;stroke-width:0.705555;stroke-opacity:1"
					id="rect870-48-8"
					width="42.333332"
					height="42.333332"
					x="42.333332"
					y="84.666664" />
		<rect style="fill:#ffe680;stroke:#000000;stroke-width:0.705555;stroke-opacity:1"
					id="rect870-48-05"
					width="42.333332"
					height="42.333332"
					x="84.666664"
					y="84.666664" />
	</g>
	<g inkscape:groupmode="layer"
		 id="layer2"
		 inkscape:label="Layer 2"
		 transform="translate(0.35277751,0.35277751)">
		<g transform="matrix(0.26458333,0,0,0.26458333,49.401563,48.304513)"
			 id="g12950">
			<path d="M 3.6843532,112.89045 H 104.38651 L 87.439074,5.7639005 54.035433,0.49538136 20.63179,5.7639005 Z"
						style="fill:url(#linearGradient10942);fill-opacity:1;fill-rule:evenodd;stroke:#000000;stroke-width:0.99076px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:0.498039"
						id="path9965" />
			<path d="m 53.597931,16.227695 c 1.74997,1.458365 2.369761,2.807322 1.859375,4.046875 -0.510446,1.239611 -0.765654,3.390651 -0.765625,6.453125 2.187469,-0.437477 3.791634,-0.765602 4.8125,-0.984375 1.020798,-0.218726 2.041631,2.4e-5 3.0625,0.65625 1.020795,0.656272 0.619754,1.312522 -1.203125,1.96875 -1.822951,0.65627 -4.046907,1.203145 -6.671875,1.640625 l -0.4375,12.25 c 8.020797,-0.729159 12.833292,-1.203117 14.4375,-1.421875 1.604122,-0.218741 3.281204,-0.07291 5.03125,0.4375 1.74995,0.510424 3.062449,1.421882 3.9375,2.734375 0.874947,1.312504 -1.057343,1.640629 -5.796875,0.984375 -4.739625,-0.656245 -11.48441,-0.54687 -20.234375,0.328125 -8.750017,0.875003 -13.927096,1.494794 -15.53125,1.859375 -1.604176,0.364585 -3.171882,0.07292 -4.703125,-0.875 -1.531254,-0.947913 -2.151045,-1.458329 -1.859375,-1.53125 0.291662,-0.07291 1.895827,-0.218745 4.8125,-0.4375 2.916655,-0.218745 8.604149,-0.765619 17.0625,-1.640625 -2.6e-5,-3.645823 0.07289,-7.729152 0.21875,-12.25 -4.229189,0.583352 -7.036477,0.546893 -8.421875,-0.109375 -1.385433,-0.65623 -0.984392,-1.166647 1.203125,-1.53125 2.187479,-0.364562 4.593727,-0.83852 7.21875,-1.421875 v -6.5625 c -2.6e-5,-1.74997 -0.364609,-3.135385 -1.09375,-4.15625 -2.916689,0.145866 -5.177103,-0.109342 -6.78125,-0.765625 -1.604183,-0.656216 -1.312517,-1.166632 0.875,-1.53125 2.187479,-0.364548 5.067684,-0.911423 8.640625,-1.640625 3.572885,-0.729129 6.270799,-1.203087 8.09375,-1.421875 1.822879,-0.218712 3.026003,0.0365 3.609375,0.765625 0.583293,0.729203 -0.255248,1.458369 -2.515625,2.1875 -2.260451,0.729201 -5.213573,1.38545 -8.859375,1.96875 z m 14.21875,20.78125 C 66.212474,34.967293 65.00935,33.10792 64.207306,31.43082 c -0.802121,-1.677064 0.328086,-1.74998 3.390625,-0.21875 3.062455,1.531267 4.302037,3.354181 3.71875,5.46875 -0.583379,2.114594 -1.750044,2.223969 -3.5,0.328125 z"
						style="font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-size:56px;line-height:100%;font-family:KaiTi;text-align:center;writing-mode:lr-tb;text-anchor:middle;fill:#000000;fill-opacity:1;stroke:#000000;stroke-opacity:0.498039"
						id="text11929" />
			<path d="m 38.035431,82.681763 c 0.999983,1.333352 1.29165,2.333351 0.875,3 -0.416683,0.666683 -1.166682,2.291682 -2.25,4.875 -1.083347,2.583343 -2.333345,4.750008 -3.75,6.5 -1.416676,1.750004 -2.833341,3.000007 -4.25,3.749997 -1.416672,0.75 -1.500005,0.375 -0.25,-1.124997 1.249993,-1.499995 2.416658,-3.29166 3.5,-5.375 1.083323,-2.083323 1.916655,-4.166654 2.5,-6.25 0.583321,-2.083316 0.70832,-3.458315 0.375,-4.125 -2.666677,0.833351 -4.333342,1.333351 -5,1.5 -0.666674,0.166684 -1.666673,-0.333316 -3,-1.5 -1.333337,-1.166647 -1.250003,-1.749979 0.25,-1.75 1.499994,2.1e-5 3.083325,-0.124979 4.75,-0.375 1.666655,-0.249979 3.499987,-0.583312 5.5,-1 1.999983,-0.416644 4.249981,-0.95831 6.75,-1.625 0.333311,-3.16664 0.499978,-5.749971 0.5,-7.75 -1.833354,0.166698 -3.208352,0.375031 -4.125,0.625 -0.916684,0.250031 -1.750016,0.666697 -2.5,1.25 -0.750015,0.583362 -1.375014,0.541696 -1.875,-0.125 -0.500013,-0.666636 -0.66668,-1.458302 -0.5,-2.375 0.166653,-0.916634 0.249986,-1.791633 0.25,-2.625 -1.4e-5,-0.833298 -0.16668,-1.999963 -0.5,-3.5 -0.333346,-1.49996 -0.875012,-2.666626 -1.625,-3.5 -0.750011,-0.833291 -0.625011,-1.249957 0.375,-1.25 0.999987,4.3e-5 1.874986,0.125043 2.625,0.375 0.749985,0.250042 1.249984,0.541709 1.5,0.875 0.249984,0.333375 0.333317,0.958374 0.25,1.875 -0.08335,0.916706 -0.125016,1.791705 -0.125,2.625 -1.6e-5,0.83337 0.04165,1.750035 0.125,2.75 0.08332,1.000033 0.249984,1.458366 0.5,1.375 0.249983,-0.0833 0.958316,-0.2083 2.125,-0.375 1.166647,-0.166633 2.333312,-0.166633 3.5,0 -2.2e-5,-3.833296 -0.08336,-6.62496 -0.25,-8.375 -0.166689,-1.749956 -0.583355,-3.208288 -1.25,-4.375 -0.666687,-1.166619 -0.666687,-1.749952 0,-1.75 0.666645,4.8e-5 1.583311,0.208381 2.75,0.625 1.166642,0.416714 1.999974,0.875046 2.5,1.375 0.499973,0.500045 0.54164,1.208378 0.125,2.125 -0.416692,0.91671 -0.708359,2.708374 -0.875,5.375 -0.166692,2.666702 -0.333358,7.083365 -0.5,13.25 -0.166691,6.166686 -0.250025,10.416681 -0.25,12.75 -2.5e-5,2.166677 -0.08336,4.458341 -0.25,6.875 -0.166691,2.41667 -0.375024,4.083337 -0.625,4.999997 -0.250023,0.91667 -0.625023,1.29167 -1.125,1.125 -0.500022,-0.16666 -1.041688,-1.04166 -1.625,-2.625 -0.583354,-1.583327 -0.708354,-3.291658 -0.375,-5.124997 0.333312,-1.833324 0.624979,-4.124989 0.875,-6.875 0.249978,-2.749983 0.374978,-5.458314 0.375,-8.125 z m 32.25,-5 c 3.833281,-0.833307 6.416612,-1.374973 7.75,-1.625 1.333276,-0.249973 2.541608,0.20836 3.625,1.375 1.083273,1.166691 0.791606,1.79169 -0.875,1.875 -1.666724,0.08336 -5.16672,0.29169 -10.5,0.625 -4.8e-5,4.500018 0.04162,7.833348 0.125,10 0.08329,2.166677 0.208285,4.333342 0.375,6.5 0.166618,2.166671 -4.9e-5,4.083337 -0.5,5.749997 -0.500048,1.66667 -1.375047,3.125 -2.625,4.375 -1.250044,1.25 -2.250043,1.08333 -3,-0.5 -0.750042,-1.58333 -2.083374,-3 -4,-4.25 -1.916703,-1.24999 -1.83337,-1.70833 0.25,-1.375 2.083293,0.33334 3.541624,0.41667 4.375,0.25 0.833289,-0.16666 1.374956,-1.249994 1.625,-3.249997 0.249955,-1.999993 0.291622,-7.749987 0.125,-17.25 -6.166705,0.833355 -10.250035,1.541688 -12.25,2.125 -2.000031,0.583353 -3.791695,0.333354 -5.375,-0.75 -1.583359,-1.083311 -1.375026,-1.624977 0.625,-1.625 1.99997,2.3e-5 7.583298,-0.666643 16.75,-2 -0.166711,-1.66664 -0.583377,-3.041639 -1.25,-4.125 -0.666709,-1.083303 -0.333376,-1.458303 1,-1.125 1.333288,0.333363 2.499953,0.750029 3.5,1.25 0.999951,0.500028 1.291618,1.000028 0.875,1.5 -0.416715,0.500027 -0.625048,1.250026 -0.625,2.25 z m -5,-17.5 c 2.833287,4.3e-5 4.874952,-0.249957 6.125,-0.75 1.24995,-0.499956 2.416615,-0.499956 3.5,0 1.08328,0.500043 2.041612,1.083376 2.875,1.75 0.833277,0.666708 1.124943,1.166707 0.875,1.5 -0.250056,0.333373 -0.875056,0.750039 -1.875,1.25 -1.000054,0.500038 -2.458385,1.500037 -4.375,3 -1.916715,1.500034 -4.041713,3.083366 -6.375,4.75 -2.333375,1.666696 -4.416706,2.916695 -6.25,3.75 -1.833369,0.83336 -3.375034,1.500026 -4.625,2 -1.250032,0.500025 -2.50003,0.791691 -3.75,0.875 -1.250028,0.08336 -0.750028,-0.416642 1.5,-1.5 2.249967,-1.083306 4.208298,-2.166638 5.875,-3.25 1.666628,-1.083303 3.49996,-2.374968 5.5,-3.875 1.999956,-1.499965 3.624954,-2.833297 4.875,-4 1.249952,-1.166628 2.208284,-2.208294 2.875,-3.125 0.666616,-0.916625 -0.04172,-1.166625 -2.125,-0.75 -2.083379,0.416707 -4.125044,0.208374 -6.125,-0.625 l -3,2.5 c -2.666703,1.500038 -4.625034,2.416703 -5.875,2.75 -1.250031,0.333369 -1.375031,0.125036 -0.375,-0.625 0.999967,-0.749962 2.499965,-1.999961 4.5,-3.75 1.999961,-1.749957 3.416626,-3.291623 4.25,-4.625 0.833291,-1.333287 1.249958,-2.499952 1.25,-3.5 -4.2e-5,-1.166617 0.749957,-1.416616 2.25,-0.75 1.499954,0.666716 2.499953,1.250048 3,1.75 0.499952,0.500047 0.458285,0.916714 -0.125,1.25 -0.58338,0.33338 -2.041712,1.666712 -4.375,4 z m -10.75,23.75 c 0.8333,0.166685 1.958299,0.625018 3.375,1.375 1.41663,0.750017 2.249962,1.625016 2.5,2.625 0.249962,1.000014 0.249962,1.875013 0,2.625 -0.250038,0.750012 -0.708371,1.000011 -1.375,0.75 -0.666703,-0.249988 -1.333369,-0.791654 -2,-1.625 -0.666701,-0.833319 -1.4167,-2.041651 -2.25,-3.625 -0.833365,-1.583315 -0.916698,-2.291648 -0.25,-2.125 z m 0.25,-16 c 2.166632,0.500034 3.458297,1.208367 3.875,2.125 0.41663,0.916699 0.499963,1.625031 0.25,2.125 -0.250036,0.50003 -0.708369,0.75003 -1.375,0.75 -0.666701,3e-5 -1.375034,-0.333303 -2.125,-1 -0.750032,-0.666635 -1.583365,-1.666634 -2.5,-3 -0.916696,-1.333298 -0.291697,-1.666631 1.875,-1 z m 6.25,-3.75 c 1.333293,3.9e-5 2.374959,0.250038 3.125,0.75 0.749957,0.500037 1.166624,1.08337 1.25,1.75 0.08329,0.666702 -0.04171,1.166702 -0.375,1.5 -0.333376,0.333368 -1.000042,0.208368 -2,-0.375 -1.00004,-0.583298 -1.875039,-1.374964 -2.625,-2.375 -0.750037,-0.999962 -0.541704,-1.416628 0.625,-1.25 z"
						style="font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-size:64px;line-height:100%;font-family:KaiTi;text-align:center;writing-mode:lr-tb;text-anchor:middle;fill:#000000;fill-opacity:1;stroke:#000000;stroke-opacity:0.498039"
						id="text11939" />
		</g>
		<circle style="fill:#000000;fill-opacity:1;fill-rule:evenodd;stroke:none;stroke-width:0.964999;stroke-linecap:square;stroke-linejoin:round;stroke-opacity:1"
						id="path11951-4"
						cx="21.166666"
						cy="63.5"
						r="5.2916665" />
		<circle style="fill:#000000;fill-opacity:1;fill-rule:evenodd;stroke:none;stroke-width:0.964999;stroke-linecap:square;stroke-linejoin:round;stroke-opacity:1"
						id="path11951-4-4"
						cx="63.5"
						cy="21.166666"
						r="5.2916665" />
		<circle style="fill:#000000;fill-opacity:1;fill-rule:evenodd;stroke:none;stroke-width:0.964999;stroke-linecap:square;stroke-linejoin:round;stroke-opacity:1"
						id="path11951-4-7"
						cx="21.166666"
						cy="21.166666"
						r="5.2916665" />
		<circle style="fill:#000000;fill-opacity:1;fill-rule:evenodd;stroke:none;stroke-width:0.964999;stroke-linecap:square;stroke-linejoin:round;stroke-opacity:1"
						id="path11951-4-0"
						cx="105.83334"
						cy="21.166666"
						r="5.2916665" />
		<circle style="fill:#000000;fill-opacity:1;fill-rule:evenodd;stroke:none;stroke-width:0.964999;stroke-linecap:square;stroke-linejoin:round;stroke-opacity:1"
						id="path11951-4-79"
						cx="105.83334"
						cy="63.5"
						r="5.2916665" />
		<circle style="fill:#000000;fill-opacity:1;fill-rule:evenodd;stroke:none;stroke-width:0.964999;stroke-linecap:square;stroke-linejoin:round;stroke-opacity:1"
						id="path11951-4-71"
						cx="105.83334"
						cy="105.83334"
						r="5.2916665" />
		<circle style="fill:#000000;fill-opacity:1;fill-rule:evenodd;stroke:none;stroke-width:0.964999;stroke-linecap:square;stroke-linejoin:round;stroke-opacity:1"
						id="path11951-4-5"
						cx="63.5"
						cy="105.83334"
						r="5.2916665" />
		<circle style="fill:#000000;fill-opacity:1;fill-rule:evenodd;stroke:none;stroke-width:0.964999;stroke-linecap:square;stroke-linejoin:round;stroke-opacity:1"
						id="path11951-4-05"
						cx="21.166666"
						cy="105.83334"
						r="5.2916665" />
	</g>
</svg>

@code {

}
