﻿<?xml version="1.0" encoding="UTF-8" standalone="no" ?>
<!-- Created with Inkscape (http://www.inkscape.org/) -->

<svg viewBox="0 0 127.70555 127.70555"
		 version="1.1"
		 id="svg5"
		 sodipodi:docname="knight-moves.svg"
		 inkscape:version="1.1 (c68e22c387, 2021-05-23)"
		 xmlns:inkscape="http://www.inkscape.org/namespaces/inkscape"
		 xmlns:sodipodi="http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd"
		 xmlns:xlink="http://www.w3.org/1999/xlink"
		 xmlns="http://www.w3.org/2000/svg"
		 xmlns:svg="http://www.w3.org/2000/svg">
	<sodipodi:namedview id="namedview7"
											pagecolor="#ffffff"
											bordercolor="#666666"
											borderopacity="1.0"
											inkscape:pageshadow="2"
											inkscape:pageopacity="0.0"
											inkscape:pagecheckerboard="0"
											inkscape:document-units="mm"
											showgrid="true"
											inkscape:zoom="0.74118967"
											inkscape:cx="80.950939"
											inkscape:cy="174.71911"
											inkscape:window-width="1397"
											inkscape:window-height="827"
											inkscape:window-x="46"
											inkscape:window-y="30"
											inkscape:window-maximized="0"
											inkscape:current-layer="layer2"
											showguides="true"
											inkscape:snap-bbox="true"
											inkscape:object-paths="true"
											inkscape:snap-intersection-paths="true"
											inkscape:snap-smooth-nodes="true">
		<inkscape:grid type="xygrid"
									 id="grid9"
									 originx="0.3527775"
									 originy="0.3527775" />
	</sodipodi:namedview>
	<defs id="defs2">
		<marker style="overflow:visible"
						id="Arrow1Lend"
						refX="0"
						refY="0"
						orient="auto"
						inkscape:stockid="Arrow1Lend"
						inkscape:isstock="true">
			<path transform="matrix(-0.8,0,0,-0.8,-10,0)"
						style="fill:context-stroke;fill-rule:evenodd;stroke:context-stroke;stroke-width:1pt"
						d="M 0,0 5,-5 -12.5,0 5,5 Z"
						id="path6232" />
		</marker>
		<marker style="overflow:visible"
						id="Arrow1Lstart"
						refX="0"
						refY="0"
						orient="auto"
						inkscape:stockid="Arrow1Lstart"
						inkscape:isstock="true">
			<path transform="matrix(0.8,0,0,0.8,10,0)"
						style="fill:context-stroke;fill-rule:evenodd;stroke:context-stroke;stroke-width:1pt"
						d="M 0,0 5,-5 -12.5,0 5,5 Z"
						id="path6229" />
		</marker>
		<inkscape:path-effect effect="powerstroke"
													id="path-effect1626"
													is_visible="true"
													lpeversion="1"
													offset_points="1,4.99214"
													not_jump="false"
													sort_points="true"
													interpolator_type="CubicBezierJohan"
													interpolator_beta="0.2"
													start_linecap_type="zerowidth"
													linejoin_type="extrp_arc"
													miter_limit="4"
													scale_width="1"
													end_linecap_type="zerowidth" />
		<linearGradient id="linearGradient10936">
			<stop style="stop-color:#fcf3e8;stop-opacity:1"
						offset="0"
						id="stop10938" />
			<stop style="stop-color:#ba6100;stop-opacity:1"
						offset="1"
						id="stop10940" />
		</linearGradient>
		<linearGradient x1="17.523264"
										y1="5.9785309"
										x2="101.69292"
										y2="113.38583"
										id="linearGradient10942"
										xlink:href="#linearGradient10936"
										gradientUnits="userSpaceOnUse"
										gradientTransform="translate(3.1889734)" />
		<linearGradient x1="17.523264"
										y1="5.9785309"
										x2="101.69292"
										y2="113.38583"
										id="linearGradient12957"
										xlink:href="#linearGradient10936"
										gradientUnits="userSpaceOnUse"
										gradientTransform="translate(3.1889734)" />
		<marker style="overflow:visible"
						id="Arrow1Lend-4"
						refX="0"
						refY="0"
						orient="auto"
						inkscape:stockid="Arrow1Lend"
						inkscape:isstock="true">
			<path transform="matrix(-0.8,0,0,-0.8,-10,0)"
						style="fill:context-stroke;fill-rule:evenodd;stroke:context-stroke;stroke-width:1pt"
						d="M 0,0 5,-5 -12.5,0 5,5 Z"
						id="path6232-6" />
		</marker>
		<marker style="overflow:visible"
						id="Arrow1Lend-48"
						refX="0"
						refY="0"
						orient="auto"
						inkscape:stockid="Arrow1Lend"
						inkscape:isstock="true">
			<path transform="matrix(-0.8,0,0,-0.8,-10,0)"
						style="fill:context-stroke;fill-rule:evenodd;stroke:context-stroke;stroke-width:1pt"
						d="M 0,0 5,-5 -12.5,0 5,5 Z"
						id="path6232-4" />
		</marker>
		<marker style="overflow:visible"
						id="Arrow1Lend-1"
						refX="0"
						refY="0"
						orient="auto"
						inkscape:stockid="Arrow1Lend"
						inkscape:isstock="true">
			<path transform="matrix(-0.8,0,0,-0.8,-10,0)"
						style="fill:context-stroke;fill-rule:evenodd;stroke:context-stroke;stroke-width:1pt"
						d="M 0,0 5,-5 -12.5,0 5,5 Z"
						id="path6232-5" />
		</marker>
		<linearGradient x1="17.523264"
										y1="5.9785309"
										x2="101.69292"
										y2="113.38583"
										id="linearGradient12957-5"
										xlink:href="#linearGradient10936"
										gradientUnits="userSpaceOnUse"
										gradientTransform="translate(3.1889734)" />
		<marker style="overflow:visible"
						id="Arrow1Lend-5"
						refX="0"
						refY="0"
						orient="auto"
						inkscape:stockid="Arrow1Lend"
						inkscape:isstock="true">
			<path transform="matrix(-0.8,0,0,-0.8,-10,0)"
						style="fill:context-stroke;fill-rule:evenodd;stroke:context-stroke;stroke-width:1pt"
						d="M 0,0 5,-5 -12.5,0 5,5 Z"
						id="path6232-3" />
		</marker>
		<marker style="overflow:visible"
						id="Arrow1Lstart-9"
						refX="0"
						refY="0"
						orient="auto"
						inkscape:stockid="Arrow1Lstart"
						inkscape:isstock="true">
			<path transform="matrix(0.8,0,0,0.8,10,0)"
						style="fill:context-stroke;fill-rule:evenodd;stroke:context-stroke;stroke-width:1pt"
						d="M 0,0 5,-5 -12.5,0 5,5 Z"
						id="path6229-3" />
		</marker>
		<marker style="overflow:visible"
						id="Arrow1Lend-4-3"
						refX="0"
						refY="0"
						orient="auto"
						inkscape:stockid="Arrow1Lend"
						inkscape:isstock="true">
			<path transform="matrix(-0.8,0,0,-0.8,-10,0)"
						style="fill:context-stroke;fill-rule:evenodd;stroke:context-stroke;stroke-width:1pt"
						d="M 0,0 5,-5 -12.5,0 5,5 Z"
						id="path6232-6-2" />
		</marker>
		<marker style="overflow:visible"
						id="Arrow1Lend-48-0"
						refX="0"
						refY="0"
						orient="auto"
						inkscape:stockid="Arrow1Lend"
						inkscape:isstock="true">
			<path transform="matrix(-0.8,0,0,-0.8,-10,0)"
						style="fill:context-stroke;fill-rule:evenodd;stroke:context-stroke;stroke-width:1pt"
						d="M 0,0 5,-5 -12.5,0 5,5 Z"
						id="path6232-4-7" />
		</marker>
		<marker style="overflow:visible"
						id="Arrow1Lend-1-9"
						refX="0"
						refY="0"
						orient="auto"
						inkscape:stockid="Arrow1Lend"
						inkscape:isstock="true">
			<path transform="matrix(-0.8,0,0,-0.8,-10,0)"
						style="fill:context-stroke;fill-rule:evenodd;stroke:context-stroke;stroke-width:1pt"
						d="M 0,0 5,-5 -12.5,0 5,5 Z"
						id="path6232-5-7" />
		</marker>
		<linearGradient x1="17.523264"
										y1="5.9785309"
										x2="101.69292"
										y2="113.38583"
										id="linearGradient2173"
										xlink:href="#linearGradient10936"
										gradientUnits="userSpaceOnUse"
										gradientTransform="matrix(0.9299803,0,0,0.9377921,6.7492264,12.988526)" />
		<linearGradient x1="17.523264"
										y1="5.9785309"
										x2="101.69292"
										y2="113.38583"
										id="linearGradient12957-9"
										xlink:href="#linearGradient10936"
										gradientUnits="userSpaceOnUse"
										gradientTransform="translate(3.1889734,-0.06106549)" />
	</defs>
	<g inkscape:label="Layer 1"
		 inkscape:groupmode="layer"
		 id="layer1"
		 sodipodi:insensitive="true"
		 transform="translate(0.35277751,0.35277751)">
		<rect style="fill:#ffe680;stroke:#000000;stroke-width:0.705555;stroke-opacity:1"
					id="rect870"
					width="42.333332"
					height="42.333332"
					x="0"
					y="0" />
		<rect style="fill:#ffe680;stroke:#000000;stroke-width:0.705555;stroke-opacity:1"
					id="rect870-7"
					width="42.333332"
					height="42.333332"
					x="42.333336"
					y="1.2715658e-06" />
		<rect style="fill:#ffe680;stroke:#000000;stroke-width:0.705555;stroke-opacity:1"
					id="rect870-2"
					width="42.333332"
					height="42.333332"
					x="84.666664"
					y="0" />
		<rect style="fill:#ffe680;stroke:#000000;stroke-width:0.705555;stroke-opacity:1"
					id="rect870-9"
					width="42.333332"
					height="42.333332"
					x="84.666664"
					y="42.333336" />
		<rect style="fill:#ffe680;stroke:#000000;stroke-width:0.705555;stroke-opacity:1"
					id="rect870-4"
					width="42.333332"
					height="42.333332"
					x="42.33334"
					y="42.333332" />
		<rect style="fill:#ffe680;stroke:#000000;stroke-width:0.705555;stroke-opacity:1"
					id="rect870-48"
					width="42.333332"
					height="42.333332"
					x="1.2715658e-06"
					y="42.333332" />
		<rect style="fill:#ffe680;stroke:#000000;stroke-width:0.705555;stroke-opacity:1"
					id="rect870-48-0"
					width="42.333332"
					height="42.333332"
					x="1.2715658e-06"
					y="84.666664" />
		<rect style="fill:#ffe680;stroke:#000000;stroke-width:0.705555;stroke-opacity:1"
					id="rect870-48-8"
					width="42.333332"
					height="42.333332"
					x="42.333332"
					y="84.666664" />
		<rect style="fill:#ffe680;stroke:#000000;stroke-width:0.705555;stroke-opacity:1"
					id="rect870-48-05"
					width="42.333332"
					height="42.333332"
					x="84.666664"
					y="84.666664" />
	</g>
	<g inkscape:groupmode="layer"
		 id="layer2"
		 inkscape:label="Layer 2"
		 transform="translate(0.35277751,0.35277751)">
		<circle style="fill:#000000;fill-rule:evenodd;stroke:#000000;stroke-width:0.964999;stroke-linecap:square;stroke-linejoin:round;stroke-opacity:1"
						id="path11951-5"
						cx="21.166666"
						cy="21.166666"
						r="5.2916665" />
		<circle style="fill:#000000;fill-rule:evenodd;stroke:#000000;stroke-width:0.964999;stroke-linecap:square;stroke-linejoin:round;stroke-opacity:1"
						id="path11951-9"
						cx="105.83334"
						cy="21.166666"
						r="5.2916665" />
		<g transform="matrix(0.23508705,0,0,0.23989895,50.025544,92.88837)"
			 id="g12950">
			<path d="M 3.6843532,112.82938 H 104.38651 L 87.439074,5.702835 54.035433,0.43431586 20.63179,5.702835 Z"
						style="fill:url(#linearGradient12957-9);fill-opacity:1;fill-rule:evenodd;stroke:#000000;stroke-width:1.11413;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:0.498039"
						id="path9965" />
			<path d="m 64.64573,19.392877 c 1.468055,-0.266896 2.869414,-0.533822 4.204081,-0.800777 1.334588,-0.266896 2.335559,-0.133433 3.002916,0.400388 0.667271,0.533881 0.233517,1.101098 -1.301264,1.701652 -1.534863,0.600611 -3.503439,1.101096 -5.905733,1.501458 l -0.200194,4.804664 c 2.802682,-0.533829 4.771258,-0.934218 5.905733,-1.201166 1.134392,-0.266903 2.202094,-0.266903 3.20311,0 1.000926,0.266948 1.66824,0.700702 2.001943,1.301263 0.33361,0.600604 -0.03341,0.967627 -1.101069,1.101069 -1.067747,0.133483 -2.535838,0.300312 -4.404275,0.500486 -1.86852,0.200214 -4.204119,0.500505 -7.006803,0.900874 1.468057,1.067722 2.035274,1.93523 1.701652,2.602527 -0.333692,0.66733 -0.500521,2.135421 -0.500485,4.404275 1.334592,-0.266913 2.535757,-0.500473 3.603498,-0.70068 1.067663,-0.200181 2.001902,1.3e-5 2.802721,0.600583 0.800734,0.600595 0.567175,1.134446 -0.700681,1.601555 -1.267937,0.46713 -3.169781,0.900884 -5.705538,1.301263 l -0.200195,5.205053 c 2.936146,-0.266921 5.471938,-0.567212 7.607385,-0.900874 2.135362,-0.333652 3.770281,-0.133458 4.904762,0.600583 1.134386,0.734049 1.56814,1.301266 1.301263,1.701652 -0.266974,0.400391 -1.735065,0.533854 -4.404276,0.400388 -2.669299,-0.13346 -5.338555,-0.13346 -8.007773,0 -2.669292,0.133466 -5.338547,0.400391 -8.007774,0.800778 -2.669284,0.40039 -4.63786,0.734047 -5.905733,1.000971 -1.267919,0.266927 -2.469084,-0.03336 -3.603498,-0.900874 -1.134453,-0.867507 -0.700699,-1.301261 1.301263,-1.301263 2.001921,2e-6 6.139267,-0.400386 12.412049,-1.201166 V 39.8127 c -1.601586,0.133472 -2.936213,0.200203 -4.003887,0.200194 -1.067731,9e-6 -2.035336,-0.300282 -2.902818,-0.900874 -0.867533,-0.600573 -0.400414,-1.000961 1.401361,-1.201166 1.80172,-0.200184 3.636833,-0.500475 5.505344,-0.900875 -3.3e-5,-3.336557 -0.333689,-5.672155 -1.000972,-7.006802 -1.468122,0.266944 -3.036309,0.567236 -4.704567,0.900875 -1.668311,0.333675 -3.103036,0.166846 -4.304178,-0.500486 -1.201188,-0.667296 -1.101091,-1.067684 0.300291,-1.201166 1.401336,-0.133443 4.771271,-0.734026 10.109815,-1.801749 v -4.60447 c -1.334661,0.133489 -2.402363,0.233586 -3.20311,0.300291 -0.800806,0.06676 -1.634948,-0.100071 -2.502429,-0.500486 -0.867535,-0.400362 -0.800804,-0.767384 0.200194,-1.101068 1.000943,-0.33363 2.836056,-0.834115 5.505345,-1.501458 -3.3e-5,-1.734987 -0.0334,-3.403272 -0.100097,-5.004859 -0.06676,-1.601519 -0.400422,-3.036244 -1.000972,-4.304178 -0.600614,-1.2678582 -0.266958,-1.7016121 1.000972,-1.3012633 1.267863,0.4004277 2.335565,0.8675473 3.203109,1.4013603 0.867472,0.533889 1.0343,1.201203 0.500486,2.001944 -0.533888,0.800812 -0.867545,3.002948 -1.000972,6.606413 z m -19.218657,4.003887 c 2.001925,-0.533826 3.269821,-0.767386 3.803693,-0.70068 0.533831,0.06676 0.967585,0.266951 1.301263,0.600583 0.333635,0.333682 0.166807,0.700705 -0.500486,1.101069 -0.667335,0.400412 -2.202156,0.934263 -4.60447,1.601554 v 5.004859 c 1.067686,0.266943 2.001925,0.567234 2.802721,0.900874 0.800757,0.333674 1.234511,1.067719 1.301263,2.202138 0.06671,1.134448 -0.333677,1.468105 -1.201166,1.000972 -0.867527,-0.467106 -1.835132,-1.234517 -2.902818,-2.302235 v 11.010689 c -1.6e-5,2.268872 -0.233576,4.37091 -0.70068,6.306122 -0.467135,1.935208 -1.067718,2.00194 -1.801749,0.200194 -0.734059,-1.801749 -0.967619,-3.203108 -0.70068,-4.204081 0.266912,-1.000968 0.533838,-2.435693 0.800777,-4.304179 0.266912,-1.868471 0.400374,-5.805623 0.400389,-11.811466 -3.203121,5.872381 -6.272764,9.876263 -9.20894,12.011661 -2.936186,2.135411 -3.6035,2.302239 -2.001943,0.500486 1.601549,-1.801741 3.369931,-4.237437 5.30515,-7.307094 1.935201,-3.06963 3.369926,-5.738885 4.304178,-8.007774 -2.26888,0.667336 -3.937164,1.067724 -5.004859,1.201166 -1.067709,0.133484 -2.135412,-0.03335 -3.203109,-0.500485 -1.067707,-0.467099 -0.767416,-0.867488 0.900874,-1.201167 1.668279,-0.333634 4.637826,-1.234508 8.908649,-2.702623 -1.5e-5,-2.802693 -0.06675,-5.505314 -0.200195,-8.107871 -0.133477,-2.602491 -0.533865,-4.437604 -1.201166,-5.505345 -0.667326,-1.0676632 -0.367035,-1.4680515 0.900875,-1.2011656 1.267882,0.2669651 2.36895,0.6673534 3.303207,1.2011656 0.934222,0.53389 1.10105,1.267935 0.500485,2.202138 -0.6006,0.934276 -1.034354,4.53777 -1.301263,10.810495 z"
						style="font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-size:51.2498px;line-height:100%;font-family:KaiTi;text-align:center;writing-mode:lr-tb;text-anchor:middle;fill:#000000;fill-opacity:1;stroke:#000000;stroke-width:1.11413;stroke-miterlimit:4;stroke-opacity:0.498039"
						id="text11929" />
			<path d="m 56.68583,56.989092 c 1.177919,1.009721 1.682756,1.809047 1.514514,2.39798 -0.168316,0.589021 -0.336595,1.556626 -0.504838,2.902818 2.019314,-0.336517 3.491756,-0.631006 4.417332,-0.883466 0.925495,-0.252377 1.724821,-0.168237 2.39798,0.252419 0.673074,0.420739 0.925492,0.799367 0.757257,1.135885 -0.168323,0.336599 -1.177998,0.757297 -3.029028,1.262095 -1.851111,0.504877 -3.533902,0.925575 -5.048379,1.262095 -0.168315,1.009713 -0.252454,2.608364 -0.252419,4.79596 2.019314,-0.336525 3.575896,-0.631013 4.669751,-0.883466 1.093774,-0.252385 2.061379,-0.08411 2.902818,0.504838 0.841353,0.58901 0.420655,1.177987 -1.262095,1.766933 -1.682833,0.589008 -3.786322,1.051776 -6.310474,1.388304 -0.168314,3.029055 -0.252454,4.964265 -0.252419,5.805636 4.711781,-0.504813 7.951154,-1.09379 9.71813,-1.766933 1.766886,-0.67309 3.07105,-1.009648 3.912494,-1.009676 0.841347,2.8e-5 1.766882,0.210377 2.776609,0.631048 1.009623,0.420724 2.229647,1.051771 3.660075,1.893142 1.430317,0.841421 1.640666,2.019375 0.631047,3.533866 -1.00973,1.514533 -1.640777,3.912511 -1.893142,7.19394 -0.252473,3.281457 -0.71524,6.478761 -1.388305,9.591921 -0.673168,3.113169 -2.103541,5.763569 -4.291122,7.951199 -2.187677,2.18762 -3.53391,2.3559 -4.038703,0.50484 -0.504882,-1.85108 -1.766975,-3.70215 -3.786285,-5.55322 -2.01939,-1.85107 -2.06146,-2.482117 -0.126209,-1.893143 1.93517,0.588983 3.491752,1.009673 4.66975,1.262093 1.17791,0.25242 2.145515,-0.46276 2.902819,-2.14556 0.757208,-1.682787 1.430325,-4.417323 2.019351,-8.203616 0.588928,-3.786268 0.757207,-6.562874 0.504838,-8.329826 -0.252469,-1.76691 -0.841446,-2.734515 -1.766933,-2.902818 -0.925583,-0.168255 -2.355956,-0.168255 -4.291122,0 -1.935254,0.168303 -4.459441,0.504861 -7.572569,1.009676 -3.113201,0.50486 -8.371924,1.346256 -15.776185,2.524189 -0.841417,1.682812 -1.598673,1.851091 -2.271771,0.504838 -0.673135,-1.346213 -0.841414,-2.818656 -0.504838,-4.417331 0.336541,-1.598628 0.50482,-3.828327 0.504838,-6.689103 v -9.087083 c -1.8e-5,-3.197264 -0.210367,-5.342823 -0.631047,-6.436683 -0.420716,-1.093769 -0.378646,-1.682745 0.126209,-1.766933 0.50482,-0.08409 1.388285,0.04212 2.650399,0.378628 1.262073,0.336606 3.281423,0.336606 6.058055,0 2.77658,-0.33651 5.721465,-0.841348 8.834664,-1.514513 3.113129,-0.673068 5.384897,-1.177905 6.815312,-1.514514 1.430331,-0.336508 2.524145,-0.252368 3.281447,0.252419 0.75721,0.504888 0.79928,1.009725 0.126209,1.514513 -0.673162,0.504887 -2.229744,1.009724 -4.669751,1.514514 -2.440088,0.504885 -4.501508,0.925583 -6.184264,1.262095 z m -13.125786,1.262095 c -0.33658,5.048419 -0.50486,9.255398 -0.504838,12.620948 -2.2e-5,3.365615 -0.168301,6.647059 -0.504838,9.84434 2.187608,-0.168257 4.206958,-0.378606 6.058055,-0.631048 1.851044,-0.252395 3.533835,-0.546884 5.048379,-0.883466 0.168248,-1.851047 0.252387,-3.702117 0.252419,-5.553217 -1.177986,0.168308 -2.39801,0.294518 -3.660075,0.378628 -1.262122,0.08417 -2.440076,-0.08411 -3.533865,-0.504838 -1.09384,-0.420668 -0.631072,-0.799296 1.388304,-1.135885 l 5.805636,-1.262095 v -4.79596 c -1.682823,0.168316 -3.155266,0.210386 -4.417332,0.126209 -1.262121,-0.0841 -2.145586,-0.294451 -2.650399,-0.631047 -0.504862,-0.336521 0.168254,-0.673079 2.019352,-1.009676 1.851043,-0.33652 3.533835,-0.757218 5.048379,-1.262095 -3.2e-5,-2.355868 -0.08417,-4.375218 -0.252419,-6.058055 -3.029056,0.336604 -6.394639,0.589023 -10.096758,0.757257 z m -9.591921,29.533019 c 0.673104,1.851086 0.967593,3.533877 0.883466,5.048379 -0.08415,1.514523 -0.58899,3.071105 -1.514513,4.669751 -0.925547,1.598658 -1.851082,1.640727 -2.776609,0.126209 -0.925544,-1.514506 -0.967614,-2.81867 -0.12621,-3.912493 0.841388,-1.093805 1.472434,-2.818667 1.893143,-5.174589 0.420687,-2.355894 0.967594,-2.608312 1.640723,-0.757257 z m 26.503991,-3.786285 c 2.019311,1.009694 3.281405,2.145579 3.786285,3.407656 0.504795,1.26211 0.420655,2.397994 -0.252419,3.407656 -0.673159,1.009688 -1.430415,1.009688 -2.271771,0 -0.841435,-1.009662 -1.724901,-2.650384 -2.650399,-4.922169 -0.925573,-2.271752 -0.462805,-2.902798 1.388304,-1.893143 z M 42.04553,86.77453 c 1.514492,0.673133 2.482097,1.766947 2.902818,3.281447 0.420675,1.514525 0.168256,2.776618 -0.757257,3.786284 -0.925558,1.009684 -1.724883,0.673126 -2.39798,-1.009676 -0.673137,-1.682781 -1.135904,-3.323503 -1.388304,-4.92217 -0.252438,-1.598636 0.29447,-1.977264 1.640723,-1.135885 z m 9.087083,-1.009676 c 1.851041,0.673134 2.776576,1.935228 2.776608,3.786285 -3.2e-5,1.682805 -0.33659,2.56627 -1.009676,2.650399 -0.673147,0.08415 -1.346264,-0.462757 -2.019351,-1.640724 -0.673146,-1.177941 -1.220053,-2.482104 -1.640724,-3.912494 -0.420725,-1.430356 0.210322,-1.724844 1.893143,-0.883466 z"
						style="font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-size:64.6193px;line-height:100%;font-family:KaiTi;text-align:center;writing-mode:lr-tb;text-anchor:middle;fill:#000000;fill-opacity:1;stroke:#000000;stroke-width:1.11413;stroke-miterlimit:4;stroke-opacity:0.498039"
						id="text11939" />
		</g>
	</g>
</svg>

@code {

}
