﻿<?xml version="1.0" encoding="UTF-8" standalone="no" ?>
<!-- Created with Inkscape (http://www.inkscape.org/) -->

<svg viewBox="0 0 127.70555 127.70555"
		 version="1.1"
		 id="svg5"
		 sodipodi:docname="lance-moves.svg"
		 inkscape:version="1.1 (c68e22c387, 2021-05-23)"
		 xmlns:inkscape="http://www.inkscape.org/namespaces/inkscape"
		 xmlns:sodipodi="http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd"
		 xmlns:xlink="http://www.w3.org/1999/xlink"
		 xmlns="http://www.w3.org/2000/svg"
		 xmlns:svg="http://www.w3.org/2000/svg">
	<sodipodi:namedview id="namedview7"
											pagecolor="#ffffff"
											bordercolor="#666666"
											borderopacity="1.0"
											inkscape:pageshadow="2"
											inkscape:pageopacity="0.0"
											inkscape:pagecheckerboard="0"
											inkscape:document-units="mm"
											showgrid="true"
											inkscape:zoom="0.74118967"
											inkscape:cx="80.950939"
											inkscape:cy="174.71911"
											inkscape:window-width="1397"
											inkscape:window-height="827"
											inkscape:window-x="334"
											inkscape:window-y="54"
											inkscape:window-maximized="0"
											inkscape:current-layer="layer2"
											showguides="true"
											inkscape:snap-bbox="true"
											inkscape:object-paths="true"
											inkscape:snap-intersection-paths="true"
											inkscape:snap-smooth-nodes="true">
		<inkscape:grid type="xygrid"
									 id="grid9"
									 originx="0.3527775"
									 originy="0.3527775" />
	</sodipodi:namedview>
	<defs id="defs2">
		<marker style="overflow:visible"
						id="Arrow1Lend"
						refX="0"
						refY="0"
						orient="auto"
						inkscape:stockid="Arrow1Lend"
						inkscape:isstock="true">
			<path transform="matrix(-0.8,0,0,-0.8,-10,0)"
						style="fill:context-stroke;fill-rule:evenodd;stroke:context-stroke;stroke-width:1pt"
						d="M 0,0 5,-5 -12.5,0 5,5 Z"
						id="path6232" />
		</marker>
		<marker style="overflow:visible"
						id="Arrow1Lstart"
						refX="0"
						refY="0"
						orient="auto"
						inkscape:stockid="Arrow1Lstart"
						inkscape:isstock="true">
			<path transform="matrix(0.8,0,0,0.8,10,0)"
						style="fill:context-stroke;fill-rule:evenodd;stroke:context-stroke;stroke-width:1pt"
						d="M 0,0 5,-5 -12.5,0 5,5 Z"
						id="path6229" />
		</marker>
		<inkscape:path-effect effect="powerstroke"
													id="path-effect1626"
													is_visible="true"
													lpeversion="1"
													offset_points="1,4.99214"
													not_jump="false"
													sort_points="true"
													interpolator_type="CubicBezierJohan"
													interpolator_beta="0.2"
													start_linecap_type="zerowidth"
													linejoin_type="extrp_arc"
													miter_limit="4"
													scale_width="1"
													end_linecap_type="zerowidth" />
		<linearGradient id="linearGradient10936">
			<stop style="stop-color:#fcf3e8;stop-opacity:1"
						offset="0"
						id="stop10938" />
			<stop style="stop-color:#ba6100;stop-opacity:1"
						offset="1"
						id="stop10940" />
		</linearGradient>
		<linearGradient x1="17.523264"
										y1="5.9785309"
										x2="101.69292"
										y2="113.38583"
										id="linearGradient10942"
										xlink:href="#linearGradient10936"
										gradientUnits="userSpaceOnUse"
										gradientTransform="translate(3.1889734)" />
		<linearGradient x1="17.523264"
										y1="5.9785309"
										x2="101.69292"
										y2="113.38583"
										id="linearGradient12957"
										xlink:href="#linearGradient10936"
										gradientUnits="userSpaceOnUse"
										gradientTransform="translate(3.1889734)" />
		<marker style="overflow:visible"
						id="Arrow1Lend-4"
						refX="0"
						refY="0"
						orient="auto"
						inkscape:stockid="Arrow1Lend"
						inkscape:isstock="true">
			<path transform="matrix(-0.8,0,0,-0.8,-10,0)"
						style="fill:context-stroke;fill-rule:evenodd;stroke:context-stroke;stroke-width:1pt"
						d="M 0,0 5,-5 -12.5,0 5,5 Z"
						id="path6232-6" />
		</marker>
		<marker style="overflow:visible"
						id="Arrow1Lend-48"
						refX="0"
						refY="0"
						orient="auto"
						inkscape:stockid="Arrow1Lend"
						inkscape:isstock="true">
			<path transform="matrix(-0.8,0,0,-0.8,-10,0)"
						style="fill:context-stroke;fill-rule:evenodd;stroke:context-stroke;stroke-width:1pt"
						d="M 0,0 5,-5 -12.5,0 5,5 Z"
						id="path6232-4" />
		</marker>
		<marker style="overflow:visible"
						id="Arrow1Lend-1"
						refX="0"
						refY="0"
						orient="auto"
						inkscape:stockid="Arrow1Lend"
						inkscape:isstock="true">
			<path transform="matrix(-0.8,0,0,-0.8,-10,0)"
						style="fill:context-stroke;fill-rule:evenodd;stroke:context-stroke;stroke-width:1pt"
						d="M 0,0 5,-5 -12.5,0 5,5 Z"
						id="path6232-5" />
		</marker>
		<linearGradient x1="17.523264"
										y1="5.9785309"
										x2="101.69292"
										y2="113.38583"
										id="linearGradient12957-5"
										xlink:href="#linearGradient10936"
										gradientUnits="userSpaceOnUse"
										gradientTransform="translate(3.1889734)" />
		<marker style="overflow:visible"
						id="Arrow1Lend-5"
						refX="0"
						refY="0"
						orient="auto"
						inkscape:stockid="Arrow1Lend"
						inkscape:isstock="true">
			<path transform="matrix(-0.8,0,0,-0.8,-10,0)"
						style="fill:context-stroke;fill-rule:evenodd;stroke:context-stroke;stroke-width:1pt"
						d="M 0,0 5,-5 -12.5,0 5,5 Z"
						id="path6232-3" />
		</marker>
		<marker style="overflow:visible"
						id="Arrow1Lstart-9"
						refX="0"
						refY="0"
						orient="auto"
						inkscape:stockid="Arrow1Lstart"
						inkscape:isstock="true">
			<path transform="matrix(0.8,0,0,0.8,10,0)"
						style="fill:context-stroke;fill-rule:evenodd;stroke:context-stroke;stroke-width:1pt"
						d="M 0,0 5,-5 -12.5,0 5,5 Z"
						id="path6229-3" />
		</marker>
		<marker style="overflow:visible"
						id="Arrow1Lend-4-3"
						refX="0"
						refY="0"
						orient="auto"
						inkscape:stockid="Arrow1Lend"
						inkscape:isstock="true">
			<path transform="matrix(-0.8,0,0,-0.8,-10,0)"
						style="fill:context-stroke;fill-rule:evenodd;stroke:context-stroke;stroke-width:1pt"
						d="M 0,0 5,-5 -12.5,0 5,5 Z"
						id="path6232-6-2" />
		</marker>
		<marker style="overflow:visible"
						id="Arrow1Lend-48-0"
						refX="0"
						refY="0"
						orient="auto"
						inkscape:stockid="Arrow1Lend"
						inkscape:isstock="true">
			<path transform="matrix(-0.8,0,0,-0.8,-10,0)"
						style="fill:context-stroke;fill-rule:evenodd;stroke:context-stroke;stroke-width:1pt"
						d="M 0,0 5,-5 -12.5,0 5,5 Z"
						id="path6232-4-7" />
		</marker>
		<marker style="overflow:visible"
						id="Arrow1Lend-1-9"
						refX="0"
						refY="0"
						orient="auto"
						inkscape:stockid="Arrow1Lend"
						inkscape:isstock="true">
			<path transform="matrix(-0.8,0,0,-0.8,-10,0)"
						style="fill:context-stroke;fill-rule:evenodd;stroke:context-stroke;stroke-width:1pt"
						d="M 0,0 5,-5 -12.5,0 5,5 Z"
						id="path6232-5-7" />
		</marker>
		<linearGradient x1="17.523264"
										y1="5.9785309"
										x2="101.69292"
										y2="113.38583"
										id="linearGradient2173"
										xlink:href="#linearGradient10936"
										gradientUnits="userSpaceOnUse"
										gradientTransform="matrix(0.9299803,0,0,0.9377921,6.7492264,12.988526)" />
		<linearGradient x1="17.523264"
										y1="5.9785309"
										x2="101.69292"
										y2="113.38583"
										id="linearGradient12957-9"
										xlink:href="#linearGradient10936"
										gradientUnits="userSpaceOnUse"
										gradientTransform="translate(3.1889734,-0.06106549)" />
		<linearGradient x1="17.523264"
										y1="5.9785309"
										x2="101.69292"
										y2="113.38583"
										id="linearGradient12957-2"
										xlink:href="#linearGradient10936"
										gradientUnits="userSpaceOnUse"
										gradientTransform="translate(3.1889734,-0.06106549)" />
		<linearGradient x1="17.523264"
										y1="5.9785309"
										x2="101.69292"
										y2="113.38583"
										id="linearGradient12957-2-3"
										xlink:href="#linearGradient10936"
										gradientUnits="userSpaceOnUse"
										gradientTransform="translate(3.1889734,-0.06106549)" />
	</defs>
	<g inkscape:label="Layer 1"
		 inkscape:groupmode="layer"
		 id="layer1"
		 sodipodi:insensitive="true"
		 transform="translate(0.35277751,0.35277751)">
		<rect style="fill:#ffe680;stroke:#000000;stroke-width:0.705555;stroke-opacity:1"
					id="rect870"
					width="42.333332"
					height="42.333332"
					x="0"
					y="0" />
		<rect style="fill:#ffe680;stroke:#000000;stroke-width:0.705555;stroke-opacity:1"
					id="rect870-7"
					width="42.333332"
					height="42.333332"
					x="42.333336"
					y="1.2715658e-06" />
		<rect style="fill:#ffe680;stroke:#000000;stroke-width:0.705555;stroke-opacity:1"
					id="rect870-2"
					width="42.333332"
					height="42.333332"
					x="84.666664"
					y="0" />
		<rect style="fill:#ffe680;stroke:#000000;stroke-width:0.705555;stroke-opacity:1"
					id="rect870-9"
					width="42.333332"
					height="42.333332"
					x="84.666664"
					y="42.333336" />
		<rect style="fill:#ffe680;stroke:#000000;stroke-width:0.705555;stroke-opacity:1"
					id="rect870-4"
					width="42.333332"
					height="42.333332"
					x="42.33334"
					y="42.333332" />
		<rect style="fill:#ffe680;stroke:#000000;stroke-width:0.705555;stroke-opacity:1"
					id="rect870-48"
					width="42.333332"
					height="42.333332"
					x="1.2715658e-06"
					y="42.333332" />
		<rect style="fill:#ffe680;stroke:#000000;stroke-width:0.705555;stroke-opacity:1"
					id="rect870-48-0"
					width="42.333332"
					height="42.333332"
					x="1.2715658e-06"
					y="84.666664" />
		<rect style="fill:#ffe680;stroke:#000000;stroke-width:0.705555;stroke-opacity:1"
					id="rect870-48-8"
					width="42.333332"
					height="42.333332"
					x="42.333332"
					y="84.666664" />
		<rect style="fill:#ffe680;stroke:#000000;stroke-width:0.705555;stroke-opacity:1"
					id="rect870-48-05"
					width="42.333332"
					height="42.333332"
					x="84.666664"
					y="84.666664" />
	</g>
	<g inkscape:groupmode="layer"
		 id="layer2"
		 inkscape:label="Layer 2"
		 transform="translate(0.35277751,0.35277751)">
		<g transform="matrix(0.21657278,0,0,0.23157759,52.439258,93.577716)"
			 id="g12950">
			<path d="M 3.6843532,112.89045 H 104.38651 L 87.439074,5.7639005 54.035433,0.49538136 20.63179,5.7639005 Z"
						style="fill:url(#linearGradient12957-5);fill-opacity:1;fill-rule:evenodd;stroke:#000000;stroke-width:1.18144;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:0.498039"
						id="path9965" />
			<path d="m 52.10636,14.301197 c 1.624457,0.541528 2.36901,1.116865 2.233663,1.726013 -0.1354,0.609213 -0.203086,1.252236 -0.20306,1.929072 3.519682,-0.676836 6.260993,-1.319859 8.223942,-1.929072 1.962879,-0.609148 3.722733,-0.406088 5.279567,0.60918 1.556754,1.015333 1.082947,1.59067 -1.421422,1.726013 -2.504446,0.135404 -6.328744,0.541524 -11.472906,1.218362 2.301321,2.166003 4.399608,3.85817 6.294869,5.076507 1.895194,1.218384 4.264228,2.369058 7.10711,3.452024 2.842801,1.083008 5.144148,1.861405 6.904049,2.335194 1.759807,0.473825 2.132084,0.812258 1.116832,1.015301 -1.015349,0.203078 -3.14748,0.338451 -6.396399,0.406121 -3.249003,0.0677 -5.313447,-0.37226 -6.193339,-1.319892 -0.879962,-0.947596 -2.199853,-2.301329 -3.959675,-4.061206 -1.759886,-1.759832 -2.91056,-2.978192 -3.452025,-3.655085 -0.541522,-0.676841 -1.286076,-1.421394 -2.233663,-2.233663 v 5.685688 c -2.6e-5,2.572117 -0.33846,4.602718 -1.015302,6.091808 2.030576,-0.406103 3.451997,-0.744537 4.264266,-1.015301 0.812211,-0.270729 1.692138,-0.270729 2.639784,0 0.947582,0.270764 1.962882,0.778414 3.045904,1.522952 1.082952,0.74457 1.353699,1.624497 0.812242,2.639784 -0.54153,1.015314 -0.812277,2.470577 -0.812242,4.365796 -3.5e-5,1.759863 0.101495,3.75662 0.304591,5.990278 0.203024,2.233664 -0.135409,4.061205 -1.015302,5.482628 -0.879961,1.421418 -1.522985,1.726008 -1.929072,0.913771 -0.406153,-0.812243 -0.87996,-1.861387 -1.421422,-3.147434 -0.541525,-1.286048 -1.387609,-1.996758 -2.538254,-2.132133 -1.150702,-0.135372 -2.470593,-0.135372 -3.959675,0 -1.489132,0.135375 -3.316673,0.270749 -5.482628,0.40612 -0.406139,3.384337 -1.049163,4.33195 -1.929073,2.842844 -0.879944,-1.489108 -1.184534,-2.741312 -0.913771,-3.756615 0.27073,-1.015298 0.338417,-3.012055 0.20306,-5.990278 -0.13539,-2.978206 -0.43998,-5.042651 -0.913771,-6.193339 -0.473822,-1.150659 -0.236919,-1.556779 0.710711,-1.218362 0.947597,0.33845 2.030585,0.43998 3.248964,0.304591 1.218341,-0.135358 2.910509,-0.406105 5.076508,-0.812241 -1.083012,-1.353718 -1.455289,-2.369018 -1.116832,-3.045905 0.33841,-0.676847 0.575313,-3.248942 0.710711,-7.71629 -3.113612,4.196602 -6.43026,7.41172 -9.949954,9.645363 -3.519722,2.233678 -6.32872,3.722786 -8.427002,4.467326 -2.098293,0.744567 -2.26751,0.57535 -0.50765,-0.50765 1.759848,-1.082974 3.485859,-2.233648 5.178037,-3.452025 1.692157,-1.218344 3.688914,-2.910511 5.990278,-5.076507 2.301331,-2.165953 4.128872,-4.26424 5.482628,-6.294869 -3.790477,0.676895 -6.227198,1.184545 -7.31017,1.522952 -1.083002,0.33846 -2.132146,0.304617 -3.147435,-0.10153 -1.015312,-0.406093 -1.658335,-0.812214 -1.929072,-1.218362 -0.270757,-0.406092 0.60917,-0.642995 2.639783,-0.710711 2.030589,-0.06766 5.956417,-0.642995 11.777497,-1.726012 -2.4e-5,-0.676837 -0.135398,-1.353704 -0.406121,-2.030603 -0.27077,-0.676834 -0.541517,-1.150641 -0.812241,-1.421422 -1.218383,0.270781 -2.233684,0.439997 -3.045904,0.507651 -0.81226,0.06772 -0.473827,-0.270714 1.015301,-1.015302 1.489087,-0.744519 3.045881,-1.692133 4.670387,-2.842844 1.624455,-1.150636 2.335165,-1.9967199 2.132133,-2.5382532 -0.203088,-0.5414538 -2.8e-5,-0.8798873 0.609181,-1.0153015 0.609152,-0.1353325 1.793669,0.2707876 3.553555,1.2183617 1.759822,0.947653 1.827509,1.658364 0.20306,2.132133 -1.624513,0.473844 -4.12892,1.455301 -7.513231,2.944374 z m -5.482627,25.585596 c 1.489088,-0.270738 3.012039,-0.676858 4.568856,-1.218362 1.556771,-0.541483 2.775131,-0.473796 3.655085,0.203061 0.8799,0.676876 0.338407,1.184527 -1.624482,1.522952 -1.96294,0.338442 -3.28283,0.575345 -3.959676,0.710711 -0.676888,0.135381 -1.556815,7e-6 -2.639783,-0.406121 0.135354,1.895236 0.203041,3.65509 0.20306,5.279567 3.519689,-0.406117 5.922567,-0.74455 7.20864,-1.015301 1.286021,-0.270743 2.335165,-0.203056 3.147434,0.20306 0.812211,0.406124 1.319862,0.812244 1.522953,1.218362 0.203029,0.406123 0.439932,0.338436 0.710711,-0.20306 0.270715,-0.541491 0.338401,-2.639779 0.20306,-6.294869 -0.135405,-3.655073 -0.439996,-5.719517 -0.913771,-6.193339 -0.473838,-0.473791 -1.590669,-0.575321 -3.350495,-0.30459 -1.759882,0.270762 -4.738096,0.609196 -8.934653,1.015301 0.135355,1.895242 0.203042,3.722783 0.203061,5.482628 z"
						style="font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-size:51.9834px;line-height:100%;font-family:KaiTi;text-align:center;writing-mode:lr-tb;text-anchor:middle;fill:#000000;fill-opacity:1;stroke:#000000;stroke-width:1.18144;stroke-miterlimit:4;stroke-opacity:0.498039"
						id="text11929" />
			<path d="m 56.776745,59.569953 c 3.987328,-0.996797 6.604034,-1.619822 7.850126,-1.869078 1.246009,-0.249164 2.284384,-0.124559 3.115129,0.373816 0.830656,0.498465 0.913726,0.95535 0.24921,1.370657 -0.664605,0.415393 -1.744515,0.830744 -3.239734,1.246051 -1.495302,0.415393 -4.153543,0.955348 -7.974731,1.619867 l -0.249211,4.984207 c 4.984169,-0.664524 7.89162,-1.162944 8.722362,-1.495262 0.830659,-0.332242 1.827499,-0.249172 2.990525,0.249211 1.162935,0.498457 2.284381,1.121482 3.364339,1.869077 1.079862,0.747666 1.827493,1.453761 2.242893,2.118288 0.4153,0.664594 -0.08312,1.495294 -1.495262,2.492104 -1.412239,0.996871 -2.65829,2.492131 -3.738155,4.485786 -1.079956,1.993707 -2.284471,3.821247 -3.61355,5.482627 -1.329162,1.661422 -2.076792,1.578352 -2.242893,-0.24921 l -6.230259,0.747631 v 4.236576 c 4.319609,-0.332264 7.64241,-0.581475 9.968414,-0.747631 2.325918,-0.166124 4.444204,-0.373799 6.354864,-0.623026 1.910561,-0.249193 3.696567,-0.04152 5.358022,0.623026 1.661346,0.664577 2.658186,1.453742 2.990524,2.367498 0.332223,0.913785 -0.166198,1.37067 -1.495262,1.370657 -1.163036,1.3e-5 -2.492157,-0.166127 -3.987365,-0.498421 -1.495313,-0.332266 -4.070484,-0.498407 -7.725521,-0.49842 -3.488986,1.3e-5 -7.310207,0.166154 -11.463676,0.49842 v 10.716046 c -3.3e-5,2.15982 -0.124638,4.11197 -0.373815,5.85644 -0.249243,1.74447 -0.539988,2.86591 -0.872236,3.36434 -0.332312,0.49842 -0.623057,0.20767 -0.872237,-0.87223 -0.249241,-1.07992 -0.415381,-2.65825 -0.49842,-4.735 -0.0831,-2.07675 -0.124636,-6.687139 -0.124605,-13.831175 -4.984233,0.498433 -9.054664,0.955318 -12.211307,1.370657 -3.15668,0.415362 -5.607245,0.789177 -7.351705,1.121446 -1.744482,0.332291 -3.032067,0.332291 -3.862761,0 -0.830707,-0.332269 -1.702942,-0.91376 -2.616708,-1.744472 -0.913775,-0.830688 -0.830705,-1.121433 0.24921,-0.872236 1.079906,0.249223 2.948982,0.249223 5.607233,0 2.658231,-0.249197 5.191867,-0.498407 7.600915,-0.747631 2.409013,-0.249197 6.60405,-0.789152 12.585123,-1.619868 v -4.485786 c -1.661431,0.3323 -4.153532,0.74765 -7.476311,1.246052 -0.830723,1.661419 -1.619888,1.287604 -2.367498,-1.121447 -0.747651,-2.409011 -1.329141,-4.361156 -1.744472,-5.856443 -0.415369,-1.495235 -0.913789,-2.824355 -1.495262,-3.987365 -0.581508,-1.162951 -1.287603,-2.118256 -2.118288,-2.865919 -0.830716,-0.747598 -0.789181,-1.162948 0.124605,-1.246052 0.913755,-0.08304 2.28441,-0.124571 4.111971,-0.124605 1.993661,3.4e-5 5.648742,-0.498386 10.965255,-1.495262 v -4.984207 c -3.322832,0.332321 -5.814933,0.207716 -7.476311,-0.373815 -1.661423,-0.58145 -1.578353,-0.9968 0.249211,-1.246052 1.827517,-0.249168 4.236548,-0.622983 7.2271,-1.121447 -0.166171,-3.821178 -0.747661,-6.437884 -1.744473,-7.850125 -0.996869,-1.41214 -0.124633,-1.785955 2.616709,-1.121447 2.74128,0.664612 3.82119,1.536848 3.239734,2.616709 -0.581524,1.07996 -0.95534,3.032105 -1.121446,5.856443 z M 44.316228,71.532049 c 0.830679,4.485813 1.412169,8.140895 1.744472,10.965255 1.162958,-0.166119 3.738129,-0.581469 7.725521,-1.246051 v -4.485787 c -0.830731,0.166167 -1.910641,0.166167 -3.239735,0 -1.329147,-0.166113 -2.159848,-0.415323 -2.492103,-0.747631 -0.332305,-0.332253 -2.5e-5,-0.581463 0.996841,-0.747631 0.996815,-0.166112 2.575145,-0.498392 4.734997,-0.996841 v -4.485786 z m 12.211306,1.993683 c 2.159788,-0.332251 3.696584,-0.332251 4.610392,0 0.913732,0.33231 0.996802,0.789195 0.24921,1.370657 -0.747668,0.581518 -2.367534,1.038403 -4.859602,1.370657 v 4.734996 c 1.827508,-0.166118 3.987329,-0.415328 6.479469,-0.747631 0.830661,-1.661378 1.578291,-3.738128 2.242893,-6.230258 0.664519,-2.492072 0.955264,-4.070403 0.872237,-4.734997 -0.08311,-0.664526 -0.955348,-0.913736 -2.616709,-0.747631 -1.661441,0.166175 -3.987402,0.415385 -6.97789,0.747631 z"
						style="font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-size:63.7978px;line-height:100%;font-family:KaiTi;text-align:center;writing-mode:lr-tb;text-anchor:middle;fill:#000000;fill-opacity:1;stroke:#000000;stroke-width:1.18144;stroke-miterlimit:4;stroke-opacity:0.498039"
						id="text11939" />
		</g>
		<path style="fill:none;stroke:#000000;stroke-width:0.965;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1;marker-end:url(#Arrow1Lend)"
					d="m 63.5,89.958333 -10e-7,-84.6666664"
					id="path15363"
					sodipodi:nodetypes="cc" />
	</g>
</svg>

@code {

}
