﻿<?xml version="1.0" encoding="UTF-8" standalone="no" ?>
<!-- Created with Inkscape (http://www.inkscape.org/) -->

<svg viewBox="0 0 127.70555 127.70555"
		 version="1.1"
		 id="svg5"
		 sodipodi:docname="pawn-moves.svg"
		 inkscape:version="1.1 (c68e22c387, 2021-05-23)"
		 xmlns:inkscape="http://www.inkscape.org/namespaces/inkscape"
		 xmlns:sodipodi="http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd"
		 xmlns:xlink="http://www.w3.org/1999/xlink"
		 xmlns="http://www.w3.org/2000/svg"
		 xmlns:svg="http://www.w3.org/2000/svg">
	<sodipodi:namedview id="namedview7"
											pagecolor="#ffffff"
											bordercolor="#666666"
											borderopacity="1.0"
											inkscape:pageshadow="2"
											inkscape:pageopacity="0.0"
											inkscape:pagecheckerboard="0"
											inkscape:document-units="mm"
											showgrid="true"
											inkscape:zoom="0.74118967"
											inkscape:cx="175.3937"
											inkscape:cy="178.76666"
											inkscape:window-width="1397"
											inkscape:window-height="827"
											inkscape:window-x="334"
											inkscape:window-y="54"
											inkscape:window-maximized="0"
											inkscape:current-layer="layer2"
											showguides="true"
											inkscape:snap-bbox="true"
											inkscape:object-paths="true"
											inkscape:snap-intersection-paths="true"
											inkscape:snap-smooth-nodes="true">
		<inkscape:grid type="xygrid"
									 id="grid9"
									 originx="0.3527775"
									 originy="0.3527775" />
	</sodipodi:namedview>
	<defs id="defs2">
		<marker style="overflow:visible"
						id="Arrow1Lend"
						refX="0"
						refY="0"
						orient="auto"
						inkscape:stockid="Arrow1Lend"
						inkscape:isstock="true">
			<path transform="matrix(-0.8,0,0,-0.8,-10,0)"
						style="fill:context-stroke;fill-rule:evenodd;stroke:context-stroke;stroke-width:1pt"
						d="M 0,0 5,-5 -12.5,0 5,5 Z"
						id="path6232" />
		</marker>
		<marker style="overflow:visible"
						id="Arrow1Lstart"
						refX="0"
						refY="0"
						orient="auto"
						inkscape:stockid="Arrow1Lstart"
						inkscape:isstock="true">
			<path transform="matrix(0.8,0,0,0.8,10,0)"
						style="fill:context-stroke;fill-rule:evenodd;stroke:context-stroke;stroke-width:1pt"
						d="M 0,0 5,-5 -12.5,0 5,5 Z"
						id="path6229" />
		</marker>
		<inkscape:path-effect effect="powerstroke"
													id="path-effect1626"
													is_visible="true"
													lpeversion="1"
													offset_points="1,4.99214"
													not_jump="false"
													sort_points="true"
													interpolator_type="CubicBezierJohan"
													interpolator_beta="0.2"
													start_linecap_type="zerowidth"
													linejoin_type="extrp_arc"
													miter_limit="4"
													scale_width="1"
													end_linecap_type="zerowidth" />
		<linearGradient id="linearGradient10936">
			<stop style="stop-color:#fcf3e8;stop-opacity:1"
						offset="0"
						id="stop10938" />
			<stop style="stop-color:#ba6100;stop-opacity:1"
						offset="1"
						id="stop10940" />
		</linearGradient>
		<linearGradient x1="17.523264"
										y1="5.9785309"
										x2="101.69292"
										y2="113.38583"
										id="linearGradient10942"
										xlink:href="#linearGradient10936"
										gradientUnits="userSpaceOnUse"
										gradientTransform="translate(3.1889734)" />
		<linearGradient x1="17.523264"
										y1="5.9785309"
										x2="101.69292"
										y2="113.38583"
										id="linearGradient12957"
										xlink:href="#linearGradient10936"
										gradientUnits="userSpaceOnUse"
										gradientTransform="translate(3.1889734)" />
		<marker style="overflow:visible"
						id="Arrow1Lend-4"
						refX="0"
						refY="0"
						orient="auto"
						inkscape:stockid="Arrow1Lend"
						inkscape:isstock="true">
			<path transform="matrix(-0.8,0,0,-0.8,-10,0)"
						style="fill:context-stroke;fill-rule:evenodd;stroke:context-stroke;stroke-width:1pt"
						d="M 0,0 5,-5 -12.5,0 5,5 Z"
						id="path6232-6" />
		</marker>
		<marker style="overflow:visible"
						id="Arrow1Lend-48"
						refX="0"
						refY="0"
						orient="auto"
						inkscape:stockid="Arrow1Lend"
						inkscape:isstock="true">
			<path transform="matrix(-0.8,0,0,-0.8,-10,0)"
						style="fill:context-stroke;fill-rule:evenodd;stroke:context-stroke;stroke-width:1pt"
						d="M 0,0 5,-5 -12.5,0 5,5 Z"
						id="path6232-4" />
		</marker>
		<marker style="overflow:visible"
						id="Arrow1Lend-1"
						refX="0"
						refY="0"
						orient="auto"
						inkscape:stockid="Arrow1Lend"
						inkscape:isstock="true">
			<path transform="matrix(-0.8,0,0,-0.8,-10,0)"
						style="fill:context-stroke;fill-rule:evenodd;stroke:context-stroke;stroke-width:1pt"
						d="M 0,0 5,-5 -12.5,0 5,5 Z"
						id="path6232-5" />
		</marker>
		<linearGradient x1="17.523264"
										y1="5.9785309"
										x2="101.69292"
										y2="113.38583"
										id="linearGradient12957-5"
										xlink:href="#linearGradient10936"
										gradientUnits="userSpaceOnUse"
										gradientTransform="translate(3.1889734)" />
		<marker style="overflow:visible"
						id="Arrow1Lend-5"
						refX="0"
						refY="0"
						orient="auto"
						inkscape:stockid="Arrow1Lend"
						inkscape:isstock="true">
			<path transform="matrix(-0.8,0,0,-0.8,-10,0)"
						style="fill:context-stroke;fill-rule:evenodd;stroke:context-stroke;stroke-width:1pt"
						d="M 0,0 5,-5 -12.5,0 5,5 Z"
						id="path6232-3" />
		</marker>
		<marker style="overflow:visible"
						id="Arrow1Lstart-9"
						refX="0"
						refY="0"
						orient="auto"
						inkscape:stockid="Arrow1Lstart"
						inkscape:isstock="true">
			<path transform="matrix(0.8,0,0,0.8,10,0)"
						style="fill:context-stroke;fill-rule:evenodd;stroke:context-stroke;stroke-width:1pt"
						d="M 0,0 5,-5 -12.5,0 5,5 Z"
						id="path6229-3" />
		</marker>
		<marker style="overflow:visible"
						id="Arrow1Lend-4-3"
						refX="0"
						refY="0"
						orient="auto"
						inkscape:stockid="Arrow1Lend"
						inkscape:isstock="true">
			<path transform="matrix(-0.8,0,0,-0.8,-10,0)"
						style="fill:context-stroke;fill-rule:evenodd;stroke:context-stroke;stroke-width:1pt"
						d="M 0,0 5,-5 -12.5,0 5,5 Z"
						id="path6232-6-2" />
		</marker>
		<marker style="overflow:visible"
						id="Arrow1Lend-48-0"
						refX="0"
						refY="0"
						orient="auto"
						inkscape:stockid="Arrow1Lend"
						inkscape:isstock="true">
			<path transform="matrix(-0.8,0,0,-0.8,-10,0)"
						style="fill:context-stroke;fill-rule:evenodd;stroke:context-stroke;stroke-width:1pt"
						d="M 0,0 5,-5 -12.5,0 5,5 Z"
						id="path6232-4-7" />
		</marker>
		<marker style="overflow:visible"
						id="Arrow1Lend-1-9"
						refX="0"
						refY="0"
						orient="auto"
						inkscape:stockid="Arrow1Lend"
						inkscape:isstock="true">
			<path transform="matrix(-0.8,0,0,-0.8,-10,0)"
						style="fill:context-stroke;fill-rule:evenodd;stroke:context-stroke;stroke-width:1pt"
						d="M 0,0 5,-5 -12.5,0 5,5 Z"
						id="path6232-5-7" />
		</marker>
		<linearGradient x1="17.523264"
										y1="5.9785309"
										x2="101.69292"
										y2="113.38583"
										id="linearGradient2173"
										xlink:href="#linearGradient10936"
										gradientUnits="userSpaceOnUse"
										gradientTransform="matrix(0.9299803,0,0,0.9377921,6.7492264,12.988526)" />
		<linearGradient x1="17.523264"
										y1="5.9785309"
										x2="101.69292"
										y2="113.38583"
										id="linearGradient12957-9"
										xlink:href="#linearGradient10936"
										gradientUnits="userSpaceOnUse"
										gradientTransform="translate(3.1889734,-0.06106549)" />
		<linearGradient x1="17.523264"
										y1="5.9785309"
										x2="101.69292"
										y2="113.38583"
										id="linearGradient12957-2"
										xlink:href="#linearGradient10936"
										gradientUnits="userSpaceOnUse"
										gradientTransform="translate(3.1889734,-0.06106549)" />
		<linearGradient x1="17.523264"
										y1="5.9785309"
										x2="101.69292"
										y2="113.38583"
										id="linearGradient12957-2-3"
										xlink:href="#linearGradient10936"
										gradientUnits="userSpaceOnUse"
										gradientTransform="translate(3.1889734,-0.06106549)" />
		<linearGradient x1="17.523264"
										y1="5.9785309"
										x2="101.69292"
										y2="113.38583"
										id="linearGradient12957-4"
										xlink:href="#linearGradient10936"
										gradientUnits="userSpaceOnUse"
										gradientTransform="translate(3.1889734)" />
		<linearGradient x1="17.523264"
										y1="5.9785309"
										x2="101.69292"
										y2="113.38583"
										id="linearGradient12957-7"
										xlink:href="#linearGradient10936"
										gradientUnits="userSpaceOnUse"
										gradientTransform="translate(3.1889734)" />
	</defs>
	<g inkscape:label="Layer 1"
		 inkscape:groupmode="layer"
		 id="layer1"
		 sodipodi:insensitive="true"
		 transform="translate(0.35277751,0.35277751)">
		<rect style="fill:#ffe680;stroke:#000000;stroke-width:0.705555;stroke-opacity:1"
					id="rect870"
					width="42.333332"
					height="42.333332"
					x="0"
					y="0" />
		<rect style="fill:#ffe680;stroke:#000000;stroke-width:0.705555;stroke-opacity:1"
					id="rect870-7"
					width="42.333332"
					height="42.333332"
					x="42.333336"
					y="1.2715658e-06" />
		<rect style="fill:#ffe680;stroke:#000000;stroke-width:0.705555;stroke-opacity:1"
					id="rect870-2"
					width="42.333332"
					height="42.333332"
					x="84.666664"
					y="0" />
		<rect style="fill:#ffe680;stroke:#000000;stroke-width:0.705555;stroke-opacity:1"
					id="rect870-9"
					width="42.333332"
					height="42.333332"
					x="84.666664"
					y="42.333336" />
		<rect style="fill:#ffe680;stroke:#000000;stroke-width:0.705555;stroke-opacity:1"
					id="rect870-4"
					width="42.333332"
					height="42.333332"
					x="42.33334"
					y="42.333332" />
		<rect style="fill:#ffe680;stroke:#000000;stroke-width:0.705555;stroke-opacity:1"
					id="rect870-48"
					width="42.333332"
					height="42.333332"
					x="1.2715658e-06"
					y="42.333332" />
		<rect style="fill:#ffe680;stroke:#000000;stroke-width:0.705555;stroke-opacity:1"
					id="rect870-48-0"
					width="42.333332"
					height="42.333332"
					x="1.2715658e-06"
					y="84.666664" />
		<rect style="fill:#ffe680;stroke:#000000;stroke-width:0.705555;stroke-opacity:1"
					id="rect870-48-8"
					width="42.333332"
					height="42.333332"
					x="42.333332"
					y="84.666664" />
		<rect style="fill:#ffe680;stroke:#000000;stroke-width:0.705555;stroke-opacity:1"
					id="rect870-48-05"
					width="42.333332"
					height="42.333332"
					x="84.666664"
					y="84.666664" />
	</g>
	<g inkscape:groupmode="layer"
		 id="layer2"
		 inkscape:label="Layer 2"
		 transform="translate(0.35277751,0.35277751)">
		<circle style="fill:#000000;fill-opacity:1;fill-rule:evenodd;stroke:none;stroke-width:0.964999;stroke-linecap:square;stroke-linejoin:round;stroke-opacity:1"
						id="path11951-4"
						cx="63.5"
						cy="21.166666"
						r="5.2916665" />
		<g transform="matrix(0.2073493,0,0,0.22331386,52.606512,49.80024)"
			 id="g12950">
			<path d="M 3.6843532,112.89045 H 104.38651 L 87.439074,5.7639005 54.035433,0.49538136 20.63179,5.7639005 Z"
						style="fill:url(#linearGradient12957-7);fill-opacity:1;fill-rule:evenodd;stroke:#000000;stroke-width:1.22957;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:0.498039"
						id="path9965" />
			<path d="m 58.579078,15.280221 c 2.25418,-0.422629 4.015281,-0.915737 5.28331,-1.479327 1.267957,-0.563515 2.465506,-0.493071 3.592651,0.211332 1.127065,0.704478 0.774845,1.444141 -1.056662,2.218991 -1.831584,0.774919 -4.438014,1.091917 -7.819299,0.950995 l -0.211333,6.551305 c 4.50839,-0.704414 7.924927,-1.267966 10.249622,-1.69066 2.324613,-0.422635 3.909605,-0.281747 4.754979,0.422665 0.845283,0.704469 1.30317,1.268022 1.37366,1.690659 0.0704,0.422692 -0.951041,0.634024 -3.06432,0.633998 -2.113365,2.6e-5 -4.473241,0.140914 -7.079635,0.422664 -2.606466,0.281802 -5.882115,0.704467 -9.826956,1.267995 0.98619,0.281801 1.831519,0.704465 2.535989,1.267994 0.704411,0.563576 0.845299,1.268016 0.422664,2.113324 -0.422693,0.84535 -0.563582,2.324675 -0.422664,4.43798 0.140859,2.113339 0.140859,3.87444 0,5.28331 -0.140918,1.408893 -0.387472,2.359888 -0.739664,2.852988 -0.352248,0.493117 -0.880579,0.246562 -1.584993,-0.739664 -0.704467,-0.986207 -0.915799,-2.07809 -0.633997,-3.275652 0.28175,-1.197536 0.387416,-2.852972 0.316999,-4.966311 -0.07047,-2.113304 -0.246581,-3.59263 -0.528331,-4.43798 -0.281802,-0.845307 -0.563579,-1.620192 -0.84533,-2.324657 -7.467095,1.549794 -11.693739,2.465567 -12.679944,2.747321 -0.986229,0.281798 -2.148556,-0.0352 -3.486984,-0.950995 -1.338446,-0.915751 -1.303224,-1.373637 0.105666,-1.373661 1.54976,2.4e-5 4.578855,-0.422641 9.087293,-1.267994 -0.281794,-4.508395 -0.774903,-7.18527 -1.479327,-8.030631 -0.704457,-0.845296 -0.915789,-1.408849 -0.633997,-1.69066 0.28176,-0.281741 1.232755,-0.246519 2.852987,0.105667 1.620195,0.352255 2.289414,1.091917 2.007658,2.21899 -0.281797,1.127137 -0.352241,3.451791 -0.211332,6.973969 2.113301,-0.422639 4.437955,-0.845303 6.973969,-1.267995 -2.8e-5,-5.071945 -0.105694,-8.770258 -0.316999,-11.09495 -0.211359,-2.324616 -0.598802,-3.9096078 -1.162328,-4.7549793 -0.563579,-0.845286 -0.42269,-1.2327284 0.422665,-1.1623281 0.845302,0.070488 1.901963,0.3522641 3.169986,0.8453295 1.267963,0.4931515 1.690628,1.056704 1.267994,1.6906592 -0.422695,0.6340377 -0.634027,2.5008057 -0.633997,5.6003087 z m 8.241963,18.597251 c 1.127067,0.986234 1.303177,1.690674 0.528331,2.113324 -0.774923,0.422679 -1.76114,1.514562 -2.958653,3.275652 -1.197585,1.761113 -2.958687,3.768769 -5.28331,6.022973 -2.324685,2.254216 -5.494668,4.40276 -9.509958,6.445638 -4.015333,2.042877 -7.924978,3.31087 -11.728948,3.803983 -3.803989,0.493104 -3.48699,-4e-6 0.950996,-1.479327 4.437965,-1.479328 8.453277,-3.41654 12.045946,-5.81164 3.592625,-2.395096 6.551276,-5.177636 8.875961,-8.34763 2.324623,-3.169972 3.416506,-5.353738 3.275652,-6.551304 -0.140923,-1.197532 0.211298,-1.655418 1.056662,-1.373661 0.845293,0.281795 1.761066,0.915792 2.747321,1.901992 z m 2.958654,-5.705975 c 2.254168,0.563575 3.83916,1.268016 4.754979,2.113324 0.915726,0.845349 1.267947,2.007676 1.056662,3.486984 -0.21138,1.479343 -0.986264,1.655453 -2.324657,0.528331 -1.338482,-1.127088 -2.641697,-2.148527 -3.909649,-3.064319 -1.268034,-0.915753 -2.324695,-1.761082 -3.169986,-2.535989 -0.845366,-0.774862 -1.021477,-1.232749 -0.528331,-1.373661 0.493071,-0.140864 1.86673,0.140912 4.120982,0.84533 z m -23.880561,5.28331 c 0.704423,-1.408864 1.232754,-2.148527 1.584993,-2.21899 0.352201,-0.07043 0.493089,0.951014 0.422665,3.064319 -0.07046,2.113339 -0.88057,4.261883 -2.430323,6.445638 -1.549786,2.183777 -2.500781,2.430331 -2.852987,0.739664 -0.352235,-1.690648 -0.03524,-3.134751 0.950996,-4.332314 0.986201,-1.197535 1.761086,-2.430307 2.324656,-3.698317 z"
						style="font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-size:54.1011px;line-height:100%;font-family:KaiTi;text-align:center;writing-mode:lr-tb;text-anchor:middle;fill:#000000;fill-opacity:1;stroke:#000000;stroke-width:1.22957;stroke-miterlimit:4;stroke-opacity:0.498039"
						id="text11929" />
			<path d="m 47.416884,73.710501 c 3.496562,-0.499483 6.45201,-0.998995 8.866354,-1.498539 2.414276,-0.499481 4.537204,-0.998994 6.36879,-1.498539 1.831505,-0.499479 3.330042,-0.91574 4.495616,-1.248782 1.165484,-0.332974 2.455891,-0.124844 3.871225,0.624391 1.415237,0.749302 1.623367,1.415319 0.624391,1.998052 -0.999074,0.582796 -2.955498,1.207186 -5.869277,1.873173 -2.913865,0.666046 -4.953541,0.999054 -6.119033,0.999026 2.497525,0.999053 3.538176,1.956452 3.121956,2.872199 -0.416301,0.915799 -0.874187,3.538239 -1.373661,7.867329 6.160615,-0.665999 10.19834,-1.123886 12.113189,-1.373661 1.914746,-0.249737 3.621413,0.166523 5.120007,1.248783 1.498481,1.082294 2.081245,1.914815 1.748295,2.497564 -0.333066,0.58278 -1.831603,0.79091 -4.495616,0.624391 -2.66412,-0.166489 -5.411438,-0.291367 -8.241963,-0.374634 -2.830616,-0.08324 -7.367853,0.208145 -13.611727,0.874147 -6.243937,0.666031 -10.573044,1.207169 -12.987336,1.623417 -2.414328,0.416273 -4.329126,0.832533 -5.744398,1.248782 -1.415298,0.416272 -2.664079,0.416272 -3.746347,0 -1.082286,-0.416249 -2.081311,-1.040639 -2.997077,-1.873173 -0.915779,-0.832508 -0.374641,-1.248768 1.623417,-1.248782 2.164546,1.4e-5 6.826661,-0.499498 13.986361,-1.498539 -2.2e-5,-6.993158 -0.166526,-12.404542 -0.499513,-16.23417 -0.333029,-3.829563 -0.790916,-6.368751 -1.37366,-7.617571 -0.582785,-1.248742 -0.707663,-1.914758 -0.374635,-1.998052 0.332989,-0.08321 1.040631,4.1e-5 2.12293,0.249756 1.082255,0.249798 2.039654,0.582806 2.872199,0.999026 0.832496,0.416301 2.705668,-0.08321 5.61952,-1.498539 2.913793,-1.415243 4.911842,-2.622398 5.994155,-3.621468 1.082241,-0.99898 1.665005,-1.998004 1.748295,-2.997078 0.08321,-0.998976 1.040613,-1.082228 2.8722,-0.249756 1.831504,0.832569 3.24679,1.789968 4.245859,2.872199 0.99898,1.082323 0.499468,1.831591 -1.498538,2.247808 -1.998093,0.416304 -4.454029,1.123947 -7.367816,2.12293 -2.913858,0.999066 -6.618575,2.164595 -11.114162,3.49659 z m 0,13.237092 c 2.997049,-0.332992 6.66014,-0.666 10.989284,-0.999026 0.499476,-4.995107 0.416224,-8.574946 -0.249756,-10.739527 -2.497598,0.166532 -4.537274,0.333036 -6.119034,0.499513 -1.581819,0.166531 -3.121982,0.08328 -4.620494,-0.249757 z m 27.47321,16.733687 c -0.499565,2.83057 -1.998102,2.70569 -4.495616,-0.37464 -2.49761,-3.08033 -4.91192,-5.952522 -7.242937,-8.616597 -2.331099,-2.664057 -2.830611,-3.78796 -1.498539,-3.371712 1.331994,0.416272 2.830531,0.915785 4.495616,1.498539 1.664998,0.582775 3.663047,1.831556 5.994155,3.746347 2.331008,1.914804 3.246781,4.287483 2.747321,7.118063 z M 45.918345,92.192479 c 0.332985,-1.498527 1.54014,-1.290396 3.621469,0.624391 2.081274,1.914808 2.580787,3.080337 1.498539,3.49659 -1.082306,0.416267 -2.081331,0.957406 -2.997078,1.623417 -0.915798,0.666022 -2.622466,1.789925 -5.120007,3.371713 -2.497583,1.58179 -5.286527,2.91382 -8.366842,3.9961 -3.080338,1.08228 -3.121964,0.66602 -0.124878,-1.24878 2.997063,-1.9148 5.619503,-3.9961 7.867329,-6.243911 2.247786,-2.247801 3.454941,-4.120972 3.621468,-5.61952 z"
						style="font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-size:63.9377px;line-height:100%;font-family:KaiTi;text-align:center;writing-mode:lr-tb;text-anchor:middle;fill:#000000;fill-opacity:1;stroke:#000000;stroke-width:1.22957;stroke-miterlimit:4;stroke-opacity:0.498039"
						id="text11939" />
		</g>
	</g>
</svg>



@code {

}
