﻿
<section>
	<div class="moves">
		<h5>Bishop</h5>
		<BishopMoves />
	</div>

	<div class="moves">
		<h5>Rook</h5>
		<RookMoves />
	</div>
</section>

<section>
	<div class="moves">
		<h5>Pawn</h5>
		<PawnMoves />
	</div>

	<div class="moves">
		<h5>Lance</h5>
		<LanceMoves />
	</div>

	<div class="moves">
		<h5>Knight</h5>
		<KnightMoves />
	</div>
</section>

<section>
	<div class="moves">
		<h5>Silver General</h5>
		<SilverMoves />
	</div>

	<div class="moves">
		<h5>Gold General</h5>
		<GoldGeneralMoves />
	</div>

	<div class="moves">
		<h5>King</h5>
		<KingMoves />
	</div>
</section>


@code {

}
