﻿
<section>
	<div class="moves">
		<h5>Promoted Bishop - Horse</h5>
		<HorseMoves />
	</div>

	<div class="moves">
		<h5>Promoted Rook - Dragon</h5>
		<DragonMoves />
	</div>
</section>

<section>
	<div class="moves">
		<h5>Promoted Pawn</h5>
		<PromotedPawnMoves />
	</div>

	<div class="moves">
		<h5>Promoted Lance</h5>
		<PromotedLanceMoves />
	</div>

	<div class="moves">
		<h5>Promoted Knight</h5>
		<PromotedKnightMoves />
	</div>
</section>

<section>
	<div class="moves">
		<h5>Promoted Silver General</h5>
		<PromotedSilverMoves />
	</div>
</section>

@code {

}
