﻿<?xml version="1.0" encoding="UTF-8" standalone="no" ?>
<!-- Created with Inkscape (http://www.inkscape.org/) -->

<svg viewBox="0 0 127.70555 127.70555"
		 version="1.1"
		 id="svg5"
		 sodipodi:docname="promotedknight-moves.svg"
		 inkscape:version="1.1 (c68e22c387, 2021-05-23)"
		 xmlns:inkscape="http://www.inkscape.org/namespaces/inkscape"
		 xmlns:sodipodi="http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd"
		 xmlns:xlink="http://www.w3.org/1999/xlink"
		 xmlns="http://www.w3.org/2000/svg"
		 xmlns:svg="http://www.w3.org/2000/svg">
	<sodipodi:namedview id="namedview7"
											pagecolor="#ffffff"
											bordercolor="#666666"
											borderopacity="1.0"
											inkscape:pageshadow="2"
											inkscape:pageopacity="0.0"
											inkscape:pagecheckerboard="0"
											inkscape:document-units="mm"
											showgrid="true"
											inkscape:zoom="0.74118967"
											inkscape:cx="80.950939"
											inkscape:cy="174.71911"
											inkscape:window-width="1397"
											inkscape:window-height="827"
											inkscape:window-x="334"
											inkscape:window-y="54"
											inkscape:window-maximized="0"
											inkscape:current-layer="layer2"
											showguides="true"
											inkscape:snap-bbox="true"
											inkscape:object-paths="true"
											inkscape:snap-intersection-paths="true"
											inkscape:snap-smooth-nodes="true">
		<inkscape:grid type="xygrid"
									 id="grid9"
									 originx="0.3527775"
									 originy="0.3527775" />
	</sodipodi:namedview>
	<defs id="defs2">
		<marker style="overflow:visible"
						id="Arrow1Lend"
						refX="0"
						refY="0"
						orient="auto"
						inkscape:stockid="Arrow1Lend"
						inkscape:isstock="true">
			<path transform="matrix(-0.8,0,0,-0.8,-10,0)"
						style="fill:context-stroke;fill-rule:evenodd;stroke:context-stroke;stroke-width:1pt"
						d="M 0,0 5,-5 -12.5,0 5,5 Z"
						id="path6232" />
		</marker>
		<marker style="overflow:visible"
						id="Arrow1Lstart"
						refX="0"
						refY="0"
						orient="auto"
						inkscape:stockid="Arrow1Lstart"
						inkscape:isstock="true">
			<path transform="matrix(0.8,0,0,0.8,10,0)"
						style="fill:context-stroke;fill-rule:evenodd;stroke:context-stroke;stroke-width:1pt"
						d="M 0,0 5,-5 -12.5,0 5,5 Z"
						id="path6229" />
		</marker>
		<inkscape:path-effect effect="powerstroke"
													id="path-effect1626"
													is_visible="true"
													lpeversion="1"
													offset_points="1,4.99214"
													not_jump="false"
													sort_points="true"
													interpolator_type="CubicBezierJohan"
													interpolator_beta="0.2"
													start_linecap_type="zerowidth"
													linejoin_type="extrp_arc"
													miter_limit="4"
													scale_width="1"
													end_linecap_type="zerowidth" />
		<linearGradient id="linearGradient10936">
			<stop style="stop-color:#fcf3e8;stop-opacity:1"
						offset="0"
						id="stop10938" />
			<stop style="stop-color:#ba6100;stop-opacity:1"
						offset="1"
						id="stop10940" />
		</linearGradient>
		<linearGradient x1="17.523264"
										y1="5.9785309"
										x2="101.69292"
										y2="113.38583"
										id="linearGradient10942"
										xlink:href="#linearGradient10936"
										gradientUnits="userSpaceOnUse"
										gradientTransform="translate(3.1889734)" />
		<linearGradient x1="17.523264"
										y1="5.9785309"
										x2="101.69292"
										y2="113.38583"
										id="linearGradient12957"
										xlink:href="#linearGradient10936"
										gradientUnits="userSpaceOnUse"
										gradientTransform="translate(3.1889734)" />
		<marker style="overflow:visible"
						id="Arrow1Lend-4"
						refX="0"
						refY="0"
						orient="auto"
						inkscape:stockid="Arrow1Lend"
						inkscape:isstock="true">
			<path transform="matrix(-0.8,0,0,-0.8,-10,0)"
						style="fill:context-stroke;fill-rule:evenodd;stroke:context-stroke;stroke-width:1pt"
						d="M 0,0 5,-5 -12.5,0 5,5 Z"
						id="path6232-6" />
		</marker>
		<marker style="overflow:visible"
						id="Arrow1Lend-48"
						refX="0"
						refY="0"
						orient="auto"
						inkscape:stockid="Arrow1Lend"
						inkscape:isstock="true">
			<path transform="matrix(-0.8,0,0,-0.8,-10,0)"
						style="fill:context-stroke;fill-rule:evenodd;stroke:context-stroke;stroke-width:1pt"
						d="M 0,0 5,-5 -12.5,0 5,5 Z"
						id="path6232-4" />
		</marker>
		<marker style="overflow:visible"
						id="Arrow1Lend-1"
						refX="0"
						refY="0"
						orient="auto"
						inkscape:stockid="Arrow1Lend"
						inkscape:isstock="true">
			<path transform="matrix(-0.8,0,0,-0.8,-10,0)"
						style="fill:context-stroke;fill-rule:evenodd;stroke:context-stroke;stroke-width:1pt"
						d="M 0,0 5,-5 -12.5,0 5,5 Z"
						id="path6232-5" />
		</marker>
		<linearGradient x1="17.523264"
										y1="5.9785309"
										x2="101.69292"
										y2="113.38583"
										id="linearGradient12957-5"
										xlink:href="#linearGradient10936"
										gradientUnits="userSpaceOnUse"
										gradientTransform="translate(3.1889734)" />
		<marker style="overflow:visible"
						id="Arrow1Lend-5"
						refX="0"
						refY="0"
						orient="auto"
						inkscape:stockid="Arrow1Lend"
						inkscape:isstock="true">
			<path transform="matrix(-0.8,0,0,-0.8,-10,0)"
						style="fill:context-stroke;fill-rule:evenodd;stroke:context-stroke;stroke-width:1pt"
						d="M 0,0 5,-5 -12.5,0 5,5 Z"
						id="path6232-3" />
		</marker>
		<marker style="overflow:visible"
						id="Arrow1Lstart-9"
						refX="0"
						refY="0"
						orient="auto"
						inkscape:stockid="Arrow1Lstart"
						inkscape:isstock="true">
			<path transform="matrix(0.8,0,0,0.8,10,0)"
						style="fill:context-stroke;fill-rule:evenodd;stroke:context-stroke;stroke-width:1pt"
						d="M 0,0 5,-5 -12.5,0 5,5 Z"
						id="path6229-3" />
		</marker>
		<marker style="overflow:visible"
						id="Arrow1Lend-4-3"
						refX="0"
						refY="0"
						orient="auto"
						inkscape:stockid="Arrow1Lend"
						inkscape:isstock="true">
			<path transform="matrix(-0.8,0,0,-0.8,-10,0)"
						style="fill:context-stroke;fill-rule:evenodd;stroke:context-stroke;stroke-width:1pt"
						d="M 0,0 5,-5 -12.5,0 5,5 Z"
						id="path6232-6-2" />
		</marker>
		<marker style="overflow:visible"
						id="Arrow1Lend-48-0"
						refX="0"
						refY="0"
						orient="auto"
						inkscape:stockid="Arrow1Lend"
						inkscape:isstock="true">
			<path transform="matrix(-0.8,0,0,-0.8,-10,0)"
						style="fill:context-stroke;fill-rule:evenodd;stroke:context-stroke;stroke-width:1pt"
						d="M 0,0 5,-5 -12.5,0 5,5 Z"
						id="path6232-4-7" />
		</marker>
		<marker style="overflow:visible"
						id="Arrow1Lend-1-9"
						refX="0"
						refY="0"
						orient="auto"
						inkscape:stockid="Arrow1Lend"
						inkscape:isstock="true">
			<path transform="matrix(-0.8,0,0,-0.8,-10,0)"
						style="fill:context-stroke;fill-rule:evenodd;stroke:context-stroke;stroke-width:1pt"
						d="M 0,0 5,-5 -12.5,0 5,5 Z"
						id="path6232-5-7" />
		</marker>
		<linearGradient x1="17.523264"
										y1="5.9785309"
										x2="101.69292"
										y2="113.38583"
										id="linearGradient2173"
										xlink:href="#linearGradient10936"
										gradientUnits="userSpaceOnUse"
										gradientTransform="matrix(0.9299803,0,0,0.9377921,6.7492264,12.988526)" />
		<linearGradient x1="17.523264"
										y1="5.9785309"
										x2="101.69292"
										y2="113.38583"
										id="linearGradient12957-9"
										xlink:href="#linearGradient10936"
										gradientUnits="userSpaceOnUse"
										gradientTransform="translate(3.1889734,-0.06106549)" />
		<linearGradient x1="17.523264"
										y1="5.9785309"
										x2="101.69292"
										y2="113.38583"
										id="linearGradient12957-2"
										xlink:href="#linearGradient10936"
										gradientUnits="userSpaceOnUse"
										gradientTransform="translate(3.1889734,-0.06106549)" />
		<linearGradient x1="17.523264"
										y1="5.9785309"
										x2="101.69292"
										y2="113.38583"
										id="linearGradient12957-2-3"
										xlink:href="#linearGradient10936"
										gradientUnits="userSpaceOnUse"
										gradientTransform="translate(3.1889734,-0.06106549)" />
	</defs>
	<g inkscape:label="Layer 1"
		 inkscape:groupmode="layer"
		 id="layer1"
		 sodipodi:insensitive="true"
		 transform="translate(0.35277751,0.35277751)">
		<rect style="fill:#ffe680;stroke:#000000;stroke-width:0.705555;stroke-opacity:1"
					id="rect870"
					width="42.333332"
					height="42.333332"
					x="0"
					y="0" />
		<rect style="fill:#ffe680;stroke:#000000;stroke-width:0.705555;stroke-opacity:1"
					id="rect870-7"
					width="42.333332"
					height="42.333332"
					x="42.333336"
					y="1.2715658e-06" />
		<rect style="fill:#ffe680;stroke:#000000;stroke-width:0.705555;stroke-opacity:1"
					id="rect870-2"
					width="42.333332"
					height="42.333332"
					x="84.666664"
					y="0" />
		<rect style="fill:#ffe680;stroke:#000000;stroke-width:0.705555;stroke-opacity:1"
					id="rect870-9"
					width="42.333332"
					height="42.333332"
					x="84.666664"
					y="42.333336" />
		<rect style="fill:#ffe680;stroke:#000000;stroke-width:0.705555;stroke-opacity:1"
					id="rect870-4"
					width="42.333332"
					height="42.333332"
					x="42.33334"
					y="42.333332" />
		<rect style="fill:#ffe680;stroke:#000000;stroke-width:0.705555;stroke-opacity:1"
					id="rect870-48"
					width="42.333332"
					height="42.333332"
					x="1.2715658e-06"
					y="42.333332" />
		<rect style="fill:#ffe680;stroke:#000000;stroke-width:0.705555;stroke-opacity:1"
					id="rect870-48-0"
					width="42.333332"
					height="42.333332"
					x="1.2715658e-06"
					y="84.666664" />
		<rect style="fill:#ffe680;stroke:#000000;stroke-width:0.705555;stroke-opacity:1"
					id="rect870-48-8"
					width="42.333332"
					height="42.333332"
					x="42.333332"
					y="84.666664" />
		<rect style="fill:#ffe680;stroke:#000000;stroke-width:0.705555;stroke-opacity:1"
					id="rect870-48-05"
					width="42.333332"
					height="42.333332"
					x="84.666664"
					y="84.666664" />
	</g>
	<g inkscape:groupmode="layer"
		 id="layer2"
		 inkscape:label="Layer 2"
		 transform="translate(0.35277751,0.35277751)">
		<g transform="matrix(0.23508705,0,0,0.23989895,51.298294,48.725676)"
			 id="g12950-1">
			<path d="M 3.6843532,112.82938 H 104.38651 L 87.439074,5.702835 54.035433,0.43431586 20.63179,5.702835 Z"
						style="fill:url(#linearGradient12957-2-3);fill-opacity:1;fill-rule:evenodd;stroke:#000000;stroke-width:1.11413;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:0.498039"
						id="path9965-7" />
			<path d="m 53.730787,31.549461 c 7.311399,7.717685 13.404265,13.658228 18.278615,17.821649 4.874234,4.163495 9.443883,6.905285 13.70896,8.225376 4.264935,1.32015 4.924995,2.23408 1.980183,2.741792 -2.944958,0.507766 -6.042164,0.710861 -9.291629,0.609287 -3.249592,-0.101521 -5.635964,-1.320094 -7.159123,-3.655722 -1.523274,-2.335569 -4.011194,-5.788193 -7.463768,-10.357882 -3.452673,-4.569609 -7.20994,-9.088484 -11.271812,-13.556639 -2.843375,5.280537 -5.686712,9.850186 -8.53002,13.708961 -2.843367,3.858855 -6.29599,7.616121 -10.357881,11.271812 -4.06193,3.655748 -8.022292,6.397537 -11.8811,8.225376 -3.858822,1.82788 -4.112691,1.421689 -0.761609,-1.218574 3.35107,-2.64022 7.006789,-5.991296 10.967169,-10.053238 3.960345,-4.061878 7.869933,-9.393135 11.728777,-15.993787 3.858786,-6.600557 5.585098,-10.865562 5.178941,-12.79503 -0.406225,-1.929347 0.152287,-2.640181 1.67554,-2.132505 1.52318,0.507801 2.894075,1.218636 4.112688,2.132505 1.218533,0.91399 1.523176,1.624824 0.913931,2.132505 -0.609328,0.507797 -1.218615,1.472501 -1.827862,2.894114 z m 11.271812,35.338654 c 1.218523,1.015498 1.269297,1.82788 0.152322,2.437149 -1.117076,0.609304 -2.132553,1.827877 -3.046436,3.655722 -0.913977,1.827874 -2.38642,5.026628 -4.417331,9.596273 -2.030999,4.569653 -3.757311,7.717634 -5.178941,9.443951 -1.421707,1.726307 -2.335637,1.320115 -2.741792,-1.218575 -0.406227,-2.538697 0.304608,-4.92507 2.132505,-7.159124 1.827822,-2.234047 3.452586,-5.382027 4.874297,-9.44395 1.421626,-4.061898 1.777043,-6.245174 1.066252,-6.549837 -0.710877,-0.304624 -3.300345,-0.101528 -7.768411,0.609287 -4.468137,0.710853 -7.565343,1.421687 -9.291629,2.132505 -1.726338,0.710851 -3.706519,0.253886 -5.940549,-1.370896 -2.234071,-1.624746 -1.980202,-2.386354 0.761609,-2.284827 2.741768,0.101568 6.549809,-0.203075 11.424134,-0.91393 4.874259,-0.710814 8.174561,-1.523196 9.900916,-2.437149 1.726269,-0.913906 3.249485,-0.863132 4.569653,0.152322 1.320074,1.015501 2.487873,2.132526 3.503401,3.351079 z M 47.637916,53.483798 c -1.827893,-1.827826 -1.726345,-2.741756 0.304643,-2.741792 2.234017,3.6e-5 4.163425,0.253905 5.788228,0.761609 1.624725,0.507774 2.74175,1.472478 3.35108,2.894114 0.609243,1.421701 0.761565,2.691048 0.456965,3.808044 -0.304687,1.117054 -1.574033,1.015507 -3.808045,-0.304643 -2.23409,-1.320092 -4.265045,-2.792534 -6.092871,-4.417332 z"
						style="font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-size:77.9888px;line-height:100%;font-family:KaiTi;text-align:center;writing-mode:lr-tb;text-anchor:middle;fill:#de0000;fill-opacity:1;stroke:#000000;stroke-width:1.11413;stroke-miterlimit:4;stroke-opacity:0.498039"
						id="text11939-0" />
		</g>
		<circle style="fill:#db1a1a;fill-opacity:1;fill-rule:evenodd;stroke:none;stroke-width:0.964999;stroke-linecap:square;stroke-linejoin:round;stroke-opacity:1"
						id="path11951"
						cx="20.012436"
						cy="60.674435"
						r="5.2916665" />
		<circle style="fill:#db1a1a;fill-opacity:1;fill-rule:evenodd;stroke:none;stroke-width:0.964999;stroke-linecap:square;stroke-linejoin:round;stroke-opacity:1"
						id="path11951-4"
						cx="62.345772"
						cy="18.341099"
						r="5.2916665" />
		<circle style="fill:#db1a1a;fill-opacity:1;fill-rule:evenodd;stroke:none;stroke-width:0.964999;stroke-linecap:square;stroke-linejoin:round;stroke-opacity:1"
						id="path11951-5"
						cx="20.012436"
						cy="18.341099"
						r="5.2916665" />
		<circle style="fill:#db1a1a;fill-opacity:1;fill-rule:evenodd;stroke:none;stroke-width:0.964999;stroke-linecap:square;stroke-linejoin:round;stroke-opacity:1"
						id="path11951-9"
						cx="104.6791"
						cy="18.341099"
						r="5.2916665" />
		<circle style="fill:#db1a1a;fill-opacity:1;fill-rule:evenodd;stroke:none;stroke-width:0.964999;stroke-linecap:square;stroke-linejoin:round;stroke-opacity:1"
						id="path11951-7"
						cx="62.345772"
						cy="103.00778"
						r="5.2916665" />
		<circle style="fill:#db1a1a;fill-opacity:1;fill-rule:evenodd;stroke:none;stroke-width:0.964999;stroke-linecap:square;stroke-linejoin:round;stroke-opacity:1"
						id="path11951-1"
						cx="104.6791"
						cy="60.674435"
						r="5.2916665" />
	</g>
</svg>

@code {

}
