﻿<?xml version="1.0" encoding="UTF-8" standalone="no" ?>
<!-- Created with Inkscape (http://www.inkscape.org/) -->

<svg viewBox="0 0 127.70555 127.70555"
		 version="1.1"
		 id="svg5"
		 sodipodi:docname="promotedsilver-moves.svg"
		 inkscape:version="1.1 (c68e22c387, 2021-05-23)"
		 xmlns:inkscape="http://www.inkscape.org/namespaces/inkscape"
		 xmlns:sodipodi="http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd"
		 xmlns:xlink="http://www.w3.org/1999/xlink"
		 xmlns="http://www.w3.org/2000/svg"
		 xmlns:svg="http://www.w3.org/2000/svg">
	<sodipodi:namedview id="namedview7"
											pagecolor="#ffffff"
											bordercolor="#666666"
											borderopacity="1.0"
											inkscape:pageshadow="2"
											inkscape:pageopacity="0.0"
											inkscape:pagecheckerboard="0"
											inkscape:document-units="mm"
											showgrid="true"
											inkscape:zoom="0.74118967"
											inkscape:cx="189.56012"
											inkscape:cy="310.98653"
											inkscape:window-width="1284"
											inkscape:window-height="827"
											inkscape:window-x="2462"
											inkscape:window-y="75"
											inkscape:window-maximized="0"
											inkscape:current-layer="layer2"
											showguides="false"
											inkscape:snap-bbox="true"
											inkscape:object-paths="true"
											inkscape:snap-intersection-paths="true"
											inkscape:snap-smooth-nodes="true">
		<inkscape:grid type="xygrid"
									 id="grid9"
									 originx="0.3527775"
									 originy="0.3527775" />
	</sodipodi:namedview>
	<defs id="defs2">
		<marker style="overflow:visible"
						id="Arrow1Lend"
						refX="0"
						refY="0"
						orient="auto"
						inkscape:stockid="Arrow1Lend"
						inkscape:isstock="true">
			<path transform="matrix(-0.8,0,0,-0.8,-10,0)"
						style="fill:context-stroke;fill-rule:evenodd;stroke:context-stroke;stroke-width:1pt"
						d="M 0,0 5,-5 -12.5,0 5,5 Z"
						id="path6232" />
		</marker>
		<marker style="overflow:visible"
						id="Arrow1Lstart"
						refX="0"
						refY="0"
						orient="auto"
						inkscape:stockid="Arrow1Lstart"
						inkscape:isstock="true">
			<path transform="matrix(0.8,0,0,0.8,10,0)"
						style="fill:context-stroke;fill-rule:evenodd;stroke:context-stroke;stroke-width:1pt"
						d="M 0,0 5,-5 -12.5,0 5,5 Z"
						id="path6229" />
		</marker>
		<inkscape:path-effect effect="powerstroke"
													id="path-effect1626"
													is_visible="true"
													lpeversion="1"
													offset_points="1,4.99214"
													not_jump="false"
													sort_points="true"
													interpolator_type="CubicBezierJohan"
													interpolator_beta="0.2"
													start_linecap_type="zerowidth"
													linejoin_type="extrp_arc"
													miter_limit="4"
													scale_width="1"
													end_linecap_type="zerowidth" />
		<linearGradient id="linearGradient10936">
			<stop style="stop-color:#fcf3e8;stop-opacity:1"
						offset="0"
						id="stop10938" />
			<stop style="stop-color:#ba6100;stop-opacity:1"
						offset="1"
						id="stop10940" />
		</linearGradient>
		<linearGradient x1="17.523264"
										y1="5.9785309"
										x2="101.69292"
										y2="113.38583"
										id="linearGradient10942"
										xlink:href="#linearGradient10936"
										gradientUnits="userSpaceOnUse"
										gradientTransform="translate(3.1889734)" />
		<linearGradient x1="17.523264"
										y1="5.9785309"
										x2="101.69292"
										y2="113.38583"
										id="linearGradient12957"
										xlink:href="#linearGradient10936"
										gradientUnits="userSpaceOnUse"
										gradientTransform="translate(3.1889734)" />
		<marker style="overflow:visible"
						id="Arrow1Lend-4"
						refX="0"
						refY="0"
						orient="auto"
						inkscape:stockid="Arrow1Lend"
						inkscape:isstock="true">
			<path transform="matrix(-0.8,0,0,-0.8,-10,0)"
						style="fill:context-stroke;fill-rule:evenodd;stroke:context-stroke;stroke-width:1pt"
						d="M 0,0 5,-5 -12.5,0 5,5 Z"
						id="path6232-6" />
		</marker>
		<marker style="overflow:visible"
						id="Arrow1Lend-48"
						refX="0"
						refY="0"
						orient="auto"
						inkscape:stockid="Arrow1Lend"
						inkscape:isstock="true">
			<path transform="matrix(-0.8,0,0,-0.8,-10,0)"
						style="fill:context-stroke;fill-rule:evenodd;stroke:context-stroke;stroke-width:1pt"
						d="M 0,0 5,-5 -12.5,0 5,5 Z"
						id="path6232-4" />
		</marker>
		<marker style="overflow:visible"
						id="Arrow1Lend-1"
						refX="0"
						refY="0"
						orient="auto"
						inkscape:stockid="Arrow1Lend"
						inkscape:isstock="true">
			<path transform="matrix(-0.8,0,0,-0.8,-10,0)"
						style="fill:context-stroke;fill-rule:evenodd;stroke:context-stroke;stroke-width:1pt"
						d="M 0,0 5,-5 -12.5,0 5,5 Z"
						id="path6232-5" />
		</marker>
		<linearGradient x1="17.523264"
										y1="5.9785309"
										x2="101.69292"
										y2="113.38583"
										id="linearGradient12957-9"
										xlink:href="#linearGradient10936"
										gradientUnits="userSpaceOnUse"
										gradientTransform="translate(3.1889734)" />
	</defs>
	<g inkscape:label="Layer 1"
		 inkscape:groupmode="layer"
		 id="layer1"
		 sodipodi:insensitive="true"
		 transform="translate(0.35277751,0.35277751)">
		<rect style="fill:#ffe680;stroke:#000000;stroke-width:0.705555;stroke-opacity:1"
					id="rect870"
					width="42.333332"
					height="42.333332"
					x="0"
					y="0" />
		<rect style="fill:#ffe680;stroke:#000000;stroke-width:0.705555;stroke-opacity:1"
					id="rect870-7"
					width="42.333332"
					height="42.333332"
					x="42.333336"
					y="1.2715658e-06" />
		<rect style="fill:#ffe680;stroke:#000000;stroke-width:0.705555;stroke-opacity:1"
					id="rect870-2"
					width="42.333332"
					height="42.333332"
					x="84.666664"
					y="0" />
		<rect style="fill:#ffe680;stroke:#000000;stroke-width:0.705555;stroke-opacity:1"
					id="rect870-9"
					width="42.333332"
					height="42.333332"
					x="84.666664"
					y="42.333336" />
		<rect style="fill:#ffe680;stroke:#000000;stroke-width:0.705555;stroke-opacity:1"
					id="rect870-4"
					width="42.333332"
					height="42.333332"
					x="42.33334"
					y="42.333332" />
		<rect style="fill:#ffe680;stroke:#000000;stroke-width:0.705555;stroke-opacity:1"
					id="rect870-48"
					width="42.333332"
					height="42.333332"
					x="1.2715658e-06"
					y="42.333332" />
		<rect style="fill:#ffe680;stroke:#000000;stroke-width:0.705555;stroke-opacity:1"
					id="rect870-48-0"
					width="42.333332"
					height="42.333332"
					x="1.2715658e-06"
					y="84.666664" />
		<rect style="fill:#ffe680;stroke:#000000;stroke-width:0.705555;stroke-opacity:1"
					id="rect870-48-8"
					width="42.333332"
					height="42.333332"
					x="42.333332"
					y="84.666664" />
		<rect style="fill:#ffe680;stroke:#000000;stroke-width:0.705555;stroke-opacity:1"
					id="rect870-48-05"
					width="42.333332"
					height="42.333332"
					x="84.666664"
					y="84.666664" />
	</g>
	<g inkscape:groupmode="layer"
		 id="layer2"
		 inkscape:label="Layer 2"
		 transform="translate(0.35277751,0.35277751)">
		<circle style="opacity:1;fill:#de0000;fill-opacity:1;fill-rule:evenodd;stroke:#e81111;stroke-width:0.964999;stroke-linecap:square;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:1"
						id="path9507"
						cx="63.5"
						cy="21.166666"
						r="5.2916665" />
		<circle style="fill:#de0000;fill-opacity:1;fill-rule:evenodd;stroke:#e81111;stroke-width:0.964999;stroke-linecap:square;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:1"
						id="path9507-8"
						cx="105.83334"
						cy="21.166666"
						r="5.2916665" />
		<circle style="fill:#de0000;fill-opacity:1;fill-rule:evenodd;stroke:#e81111;stroke-width:0.964999;stroke-linecap:square;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:1"
						id="path9507-87"
						cx="63.5"
						cy="105.83334"
						r="5.2916665" />
		<circle style="fill:#de0000;fill-opacity:1;fill-rule:evenodd;stroke:#e81111;stroke-width:0.964999;stroke-linecap:square;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:1"
						id="path9507-87-9"
						cx="21.166666"
						cy="63.5"
						r="5.2916665" />
		<circle style="fill:#de0000;fill-opacity:1;fill-rule:evenodd;stroke:#e81111;stroke-width:0.964999;stroke-linecap:square;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:1"
						id="path9507-87-7"
						cx="105.83334"
						cy="63.5"
						r="5.2916665" />
		<circle style="fill:#de0000;fill-opacity:1;fill-rule:evenodd;stroke:#e81111;stroke-width:0.964999;stroke-linecap:square;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:1"
						id="path9507-3"
						cx="21.166666"
						cy="21.166666"
						r="5.2916665"
						inkscape:transform-center-x="0.71394231"
						inkscape:transform-center-y="5.3545673" />
		<g transform="matrix(0.24605729,0,0,0.24812416,49.293058,48.845191)"
			 id="g12950">
			<path d="M 3.6843532,112.89045 H 104.38651 L 87.439074,5.7639005 54.035433,0.49538136 20.63179,5.7639005 Z"
						style="fill:url(#linearGradient10942);fill-opacity:1;fill-rule:evenodd;stroke:#000000;stroke-width:1.0708;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:0.498039"
						id="path9965" />
			<path d="m 53.005356,58.98709 c 1.806942,1.405454 2.509657,2.459526 2.108145,3.162217 -0.40159,0.702737 -0.702754,2.158359 -0.90349,4.366871 1.606165,-0.401532 3.513532,-0.803083 5.722106,-1.204654 2.208487,-0.401531 3.81469,-0.150562 4.818617,0.752909 1.003828,0.903508 0.602277,1.70661 -1.204654,2.409308 -1.807027,0.702731 -4.919047,1.355251 -9.336069,1.957563 -0.200815,4.015524 -0.301202,7.428707 -0.301164,10.239559 8.231757,-0.602321 13.803276,-1.003872 16.714576,-1.204654 2.911189,-0.200769 5.169913,0.301169 6.776179,1.505818 1.606142,1.204657 2.308856,2.208535 2.108145,3.011635 -0.20084,0.803103 -1.957625,0.903491 -5.270362,0.301164 -3.312854,-0.602326 -7.629527,-0.853295 -12.950032,-0.752909 -5.320596,0.100389 -10.490564,0.50194 -15.509921,1.204654 -5.019417,0.702715 -8.583182,1.355235 -10.691305,1.957563 -2.108162,0.602325 -4.216305,0.200774 -6.324434,-1.204654 -2.108156,-1.405429 -2.359125,-2.108143 -0.752909,-2.108145 1.806967,2e-6 4.818599,-0.250967 9.034906,-0.752909 4.216263,-0.501936 8.532936,-1.054068 12.950031,-1.656399 V 70.431304 c -3.212442,0.602341 -5.471166,0.953698 -6.776179,1.054072 -1.305068,0.100401 -2.610109,-0.351343 -3.915126,-1.355236 -1.305064,-1.003862 -0.903513,-1.606189 1.204654,-1.806981 2.108118,-0.200759 5.270332,-0.60231 9.486651,-1.204654 -3.4e-5,-3.413165 -0.301197,-6.023247 -0.90349,-7.830252 h -4.517453 c -1.606233,2.6e-5 -2.911274,-0.250943 -3.915126,-0.752909 -1.003902,-0.501912 -1.10429,-0.853269 -0.301164,-1.054072 0.803078,-0.200748 2.559863,-0.552105 5.270362,-1.054072 2.710439,-0.50191 5.220133,-1.054043 7.529088,-1.6564 2.308881,-0.602296 4.417023,-0.953653 6.324434,-1.054072 1.907323,-0.100356 3.212364,0.251001 3.915126,1.054072 0.702666,0.803133 -0.05024,1.556041 -2.258726,2.258727 -2.208576,0.702742 -4.919045,1.355262 -8.131416,1.957563 z M 53.30652,34.894008 c 1.405391,1.807029 4.718186,4.718274 9.938396,8.733742 5.220115,4.015551 9.386206,6.876602 12.498287,8.58316 3.111959,1.706625 5.872622,2.961472 8.281996,3.764544 2.409238,0.803132 4.015442,1.405458 4.818617,1.806982 0.803029,0.401578 -0.702788,0.752935 -4.517453,1.054072 -3.814803,0.30119 -6.776241,0.30119 -8.884324,0 C 73.333837,58.535371 71.42647,57.631881 69.719932,56.126036 68.013286,54.620249 65.905144,52.311331 63.395498,49.199275 60.885757,46.087291 57.221604,41.9212 52.403029,36.700989 c -2.208567,3.614007 -4.567679,7.177772 -7.077342,10.691305 -2.509724,3.513609 -5.521356,6.77621 -9.034906,9.787815 -3.513592,3.01166 -7.077357,5.270384 -10.691305,6.776179 -3.613969,1.505837 -3.513581,0.803123 0.301163,-2.108145 3.814724,-2.911221 7.177713,-6.023241 10.088978,-9.336069 2.911224,-3.312763 5.220143,-6.274201 6.926761,-8.884324 1.706565,-2.61004 3.212381,-5.420896 4.517453,-8.432579 1.305009,-3.011582 1.756754,-5.420888 1.355236,-7.227924 -0.401584,-1.806922 0.30113,-2.409249 2.108145,-1.806981 1.806944,0.602385 3.262566,1.405487 4.366871,2.409308 1.104225,1.003934 1.305001,1.907423 0.602327,2.710471 -0.702754,0.803156 -1.55605,2.007809 -2.55989,3.613963 z"
						style="font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-size:77.0979px;line-height:100%;font-family:KaiTi;text-align:center;writing-mode:lr-tb;text-anchor:middle;fill:#de0000;fill-opacity:1;stroke:#000000;stroke-width:1.0708;stroke-miterlimit:4;stroke-opacity:0.498039"
						id="text11939" />
		</g>
	</g>
</svg>


@code {

}
