﻿<?xml version="1.0" encoding="UTF-8" standalone="no" ?>
<!-- Created with Inkscape (http://www.inkscape.org/) -->

<svg viewBox="0 0 127.70555 127.70555"
		 version="1.1"
		 id="svg5"
		 sodipodi:docname="promotedlance-moves.svg"
		 inkscape:version="1.1 (c68e22c387, 2021-05-23)"
		 xmlns:inkscape="http://www.inkscape.org/namespaces/inkscape"
		 xmlns:sodipodi="http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd"
		 xmlns:xlink="http://www.w3.org/1999/xlink"
		 xmlns="http://www.w3.org/2000/svg"
		 xmlns:svg="http://www.w3.org/2000/svg">
	<sodipodi:namedview id="namedview7"
											pagecolor="#ffffff"
											bordercolor="#666666"
											borderopacity="1.0"
											inkscape:pageshadow="2"
											inkscape:pageopacity="0.0"
											inkscape:pagecheckerboard="0"
											inkscape:document-units="mm"
											showgrid="true"
											inkscape:zoom="0.74118967"
											inkscape:cx="80.950939"
											inkscape:cy="174.71911"
											inkscape:window-width="1397"
											inkscape:window-height="827"
											inkscape:window-x="334"
											inkscape:window-y="54"
											inkscape:window-maximized="0"
											inkscape:current-layer="layer2"
											showguides="true"
											inkscape:snap-bbox="true"
											inkscape:object-paths="true"
											inkscape:snap-intersection-paths="true"
											inkscape:snap-smooth-nodes="true">
		<inkscape:grid type="xygrid"
									 id="grid9"
									 originx="0.3527775"
									 originy="0.3527775" />
	</sodipodi:namedview>
	<defs id="defs2">
		<marker style="overflow:visible"
						id="Arrow1Lend"
						refX="0"
						refY="0"
						orient="auto"
						inkscape:stockid="Arrow1Lend"
						inkscape:isstock="true">
			<path transform="matrix(-0.8,0,0,-0.8,-10,0)"
						style="fill:context-stroke;fill-rule:evenodd;stroke:context-stroke;stroke-width:1pt"
						d="M 0,0 5,-5 -12.5,0 5,5 Z"
						id="path6232" />
		</marker>
		<marker style="overflow:visible"
						id="Arrow1Lstart"
						refX="0"
						refY="0"
						orient="auto"
						inkscape:stockid="Arrow1Lstart"
						inkscape:isstock="true">
			<path transform="matrix(0.8,0,0,0.8,10,0)"
						style="fill:context-stroke;fill-rule:evenodd;stroke:context-stroke;stroke-width:1pt"
						d="M 0,0 5,-5 -12.5,0 5,5 Z"
						id="path6229" />
		</marker>
		<inkscape:path-effect effect="powerstroke"
													id="path-effect1626"
													is_visible="true"
													lpeversion="1"
													offset_points="1,4.99214"
													not_jump="false"
													sort_points="true"
													interpolator_type="CubicBezierJohan"
													interpolator_beta="0.2"
													start_linecap_type="zerowidth"
													linejoin_type="extrp_arc"
													miter_limit="4"
													scale_width="1"
													end_linecap_type="zerowidth" />
		<linearGradient id="linearGradient10936">
			<stop style="stop-color:#fcf3e8;stop-opacity:1"
						offset="0"
						id="stop10938" />
			<stop style="stop-color:#ba6100;stop-opacity:1"
						offset="1"
						id="stop10940" />
		</linearGradient>
		<linearGradient x1="17.523264"
										y1="5.9785309"
										x2="101.69292"
										y2="113.38583"
										id="linearGradient10942"
										xlink:href="#linearGradient10936"
										gradientUnits="userSpaceOnUse"
										gradientTransform="translate(3.1889734)" />
		<linearGradient x1="17.523264"
										y1="5.9785309"
										x2="101.69292"
										y2="113.38583"
										id="linearGradient12957"
										xlink:href="#linearGradient10936"
										gradientUnits="userSpaceOnUse"
										gradientTransform="translate(3.1889734)" />
		<marker style="overflow:visible"
						id="Arrow1Lend-4"
						refX="0"
						refY="0"
						orient="auto"
						inkscape:stockid="Arrow1Lend"
						inkscape:isstock="true">
			<path transform="matrix(-0.8,0,0,-0.8,-10,0)"
						style="fill:context-stroke;fill-rule:evenodd;stroke:context-stroke;stroke-width:1pt"
						d="M 0,0 5,-5 -12.5,0 5,5 Z"
						id="path6232-6" />
		</marker>
		<marker style="overflow:visible"
						id="Arrow1Lend-48"
						refX="0"
						refY="0"
						orient="auto"
						inkscape:stockid="Arrow1Lend"
						inkscape:isstock="true">
			<path transform="matrix(-0.8,0,0,-0.8,-10,0)"
						style="fill:context-stroke;fill-rule:evenodd;stroke:context-stroke;stroke-width:1pt"
						d="M 0,0 5,-5 -12.5,0 5,5 Z"
						id="path6232-4" />
		</marker>
		<marker style="overflow:visible"
						id="Arrow1Lend-1"
						refX="0"
						refY="0"
						orient="auto"
						inkscape:stockid="Arrow1Lend"
						inkscape:isstock="true">
			<path transform="matrix(-0.8,0,0,-0.8,-10,0)"
						style="fill:context-stroke;fill-rule:evenodd;stroke:context-stroke;stroke-width:1pt"
						d="M 0,0 5,-5 -12.5,0 5,5 Z"
						id="path6232-5" />
		</marker>
		<linearGradient x1="17.523264"
										y1="5.9785309"
										x2="101.69292"
										y2="113.38583"
										id="linearGradient12957-5"
										xlink:href="#linearGradient10936"
										gradientUnits="userSpaceOnUse"
										gradientTransform="translate(3.1889734)" />
		<marker style="overflow:visible"
						id="Arrow1Lend-5"
						refX="0"
						refY="0"
						orient="auto"
						inkscape:stockid="Arrow1Lend"
						inkscape:isstock="true">
			<path transform="matrix(-0.8,0,0,-0.8,-10,0)"
						style="fill:context-stroke;fill-rule:evenodd;stroke:context-stroke;stroke-width:1pt"
						d="M 0,0 5,-5 -12.5,0 5,5 Z"
						id="path6232-3" />
		</marker>
		<marker style="overflow:visible"
						id="Arrow1Lstart-9"
						refX="0"
						refY="0"
						orient="auto"
						inkscape:stockid="Arrow1Lstart"
						inkscape:isstock="true">
			<path transform="matrix(0.8,0,0,0.8,10,0)"
						style="fill:context-stroke;fill-rule:evenodd;stroke:context-stroke;stroke-width:1pt"
						d="M 0,0 5,-5 -12.5,0 5,5 Z"
						id="path6229-3" />
		</marker>
		<marker style="overflow:visible"
						id="Arrow1Lend-4-3"
						refX="0"
						refY="0"
						orient="auto"
						inkscape:stockid="Arrow1Lend"
						inkscape:isstock="true">
			<path transform="matrix(-0.8,0,0,-0.8,-10,0)"
						style="fill:context-stroke;fill-rule:evenodd;stroke:context-stroke;stroke-width:1pt"
						d="M 0,0 5,-5 -12.5,0 5,5 Z"
						id="path6232-6-2" />
		</marker>
		<marker style="overflow:visible"
						id="Arrow1Lend-48-0"
						refX="0"
						refY="0"
						orient="auto"
						inkscape:stockid="Arrow1Lend"
						inkscape:isstock="true">
			<path transform="matrix(-0.8,0,0,-0.8,-10,0)"
						style="fill:context-stroke;fill-rule:evenodd;stroke:context-stroke;stroke-width:1pt"
						d="M 0,0 5,-5 -12.5,0 5,5 Z"
						id="path6232-4-7" />
		</marker>
		<marker style="overflow:visible"
						id="Arrow1Lend-1-9"
						refX="0"
						refY="0"
						orient="auto"
						inkscape:stockid="Arrow1Lend"
						inkscape:isstock="true">
			<path transform="matrix(-0.8,0,0,-0.8,-10,0)"
						style="fill:context-stroke;fill-rule:evenodd;stroke:context-stroke;stroke-width:1pt"
						d="M 0,0 5,-5 -12.5,0 5,5 Z"
						id="path6232-5-7" />
		</marker>
		<linearGradient x1="17.523264"
										y1="5.9785309"
										x2="101.69292"
										y2="113.38583"
										id="linearGradient2173"
										xlink:href="#linearGradient10936"
										gradientUnits="userSpaceOnUse"
										gradientTransform="matrix(0.9299803,0,0,0.9377921,6.7492264,12.988526)" />
		<linearGradient x1="17.523264"
										y1="5.9785309"
										x2="101.69292"
										y2="113.38583"
										id="linearGradient12957-9"
										xlink:href="#linearGradient10936"
										gradientUnits="userSpaceOnUse"
										gradientTransform="translate(3.1889734,-0.06106549)" />
		<linearGradient x1="17.523264"
										y1="5.9785309"
										x2="101.69292"
										y2="113.38583"
										id="linearGradient12957-2"
										xlink:href="#linearGradient10936"
										gradientUnits="userSpaceOnUse"
										gradientTransform="translate(3.1889734,-0.06106549)" />
		<linearGradient x1="17.523264"
										y1="5.9785309"
										x2="101.69292"
										y2="113.38583"
										id="linearGradient12957-2-3"
										xlink:href="#linearGradient10936"
										gradientUnits="userSpaceOnUse"
										gradientTransform="translate(3.1889734,-0.06106549)" />
	</defs>
	<g inkscape:label="Layer 1"
		 inkscape:groupmode="layer"
		 id="layer1"
		 sodipodi:insensitive="true"
		 transform="translate(0.35277751,0.35277751)">
		<rect style="fill:#ffe680;stroke:#000000;stroke-width:0.705555;stroke-opacity:1"
					id="rect870"
					width="42.333332"
					height="42.333332"
					x="0"
					y="0" />
		<rect style="fill:#ffe680;stroke:#000000;stroke-width:0.705555;stroke-opacity:1"
					id="rect870-7"
					width="42.333332"
					height="42.333332"
					x="42.333336"
					y="1.2715658e-06" />
		<rect style="fill:#ffe680;stroke:#000000;stroke-width:0.705555;stroke-opacity:1"
					id="rect870-2"
					width="42.333332"
					height="42.333332"
					x="84.666664"
					y="0" />
		<rect style="fill:#ffe680;stroke:#000000;stroke-width:0.705555;stroke-opacity:1"
					id="rect870-9"
					width="42.333332"
					height="42.333332"
					x="84.666664"
					y="42.333336" />
		<rect style="fill:#ffe680;stroke:#000000;stroke-width:0.705555;stroke-opacity:1"
					id="rect870-4"
					width="42.333332"
					height="42.333332"
					x="42.33334"
					y="42.333332" />
		<rect style="fill:#ffe680;stroke:#000000;stroke-width:0.705555;stroke-opacity:1"
					id="rect870-48"
					width="42.333332"
					height="42.333332"
					x="1.2715658e-06"
					y="42.333332" />
		<rect style="fill:#ffe680;stroke:#000000;stroke-width:0.705555;stroke-opacity:1"
					id="rect870-48-0"
					width="42.333332"
					height="42.333332"
					x="1.2715658e-06"
					y="84.666664" />
		<rect style="fill:#ffe680;stroke:#000000;stroke-width:0.705555;stroke-opacity:1"
					id="rect870-48-8"
					width="42.333332"
					height="42.333332"
					x="42.333332"
					y="84.666664" />
		<rect style="fill:#ffe680;stroke:#000000;stroke-width:0.705555;stroke-opacity:1"
					id="rect870-48-05"
					width="42.333332"
					height="42.333332"
					x="84.666664"
					y="84.666664" />
	</g>
	<g inkscape:groupmode="layer"
		 id="layer2"
		 inkscape:label="Layer 2"
		 transform="translate(0.35277751,0.35277751)">
		<circle style="fill:#db1a1a;fill-opacity:1;fill-rule:evenodd;stroke:none;stroke-width:0.964999;stroke-linecap:square;stroke-linejoin:round;stroke-opacity:1"
						id="path11951"
						cx="20.012436"
						cy="60.674435"
						r="5.2916665" />
		<circle style="fill:#db1a1a;fill-opacity:1;fill-rule:evenodd;stroke:none;stroke-width:0.964999;stroke-linecap:square;stroke-linejoin:round;stroke-opacity:1"
						id="path11951-4"
						cx="62.345772"
						cy="18.341099"
						r="5.2916665" />
		<circle style="fill:#db1a1a;fill-opacity:1;fill-rule:evenodd;stroke:none;stroke-width:0.964999;stroke-linecap:square;stroke-linejoin:round;stroke-opacity:1"
						id="path11951-5"
						cx="20.012436"
						cy="18.341099"
						r="5.2916665" />
		<circle style="fill:#db1a1a;fill-opacity:1;fill-rule:evenodd;stroke:none;stroke-width:0.964999;stroke-linecap:square;stroke-linejoin:round;stroke-opacity:1"
						id="path11951-9"
						cx="104.6791"
						cy="18.341099"
						r="5.2916665" />
		<circle style="fill:#db1a1a;fill-opacity:1;fill-rule:evenodd;stroke:none;stroke-width:0.964999;stroke-linecap:square;stroke-linejoin:round;stroke-opacity:1"
						id="path11951-7"
						cx="62.345772"
						cy="103.00778"
						r="5.2916665" />
		<circle style="fill:#db1a1a;fill-opacity:1;fill-rule:evenodd;stroke:none;stroke-width:0.964999;stroke-linecap:square;stroke-linejoin:round;stroke-opacity:1"
						id="path11951-1"
						cx="104.6791"
						cy="60.674435"
						r="5.2916665" />
		<g transform="matrix(0.21657278,0,0,0.23157759,52.986783,49.120924)"
			 id="g12950-4">
			<path d="M 3.6843532,112.89045 H 104.38651 L 87.439074,5.7639005 54.035433,0.49538136 20.63179,5.7639005 Z"
						style="fill:url(#linearGradient12957);fill-opacity:1;fill-rule:evenodd;stroke:#000000;stroke-width:1.18144;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:0.498039"
						id="path9965-1" />
			<path d="m 51.054138,65.799294 c 3.138163,1.464519 4.341141,2.929013 3.608935,4.393486 -0.732288,1.464515 -1.203019,6.276424 -1.412192,14.435741 6.904003,-0.836847 12.291249,-1.516791 16.161753,-2.039833 3.870392,-0.523025 6.694774,0.366132 8.473153,2.667474 1.778249,2.301353 0.522968,3.242814 -3.765846,2.824384 -4.288936,-0.418424 -9.466968,-0.523031 -15.534112,-0.31382 -6.067235,0.209216 -11.506784,0.627643 -16.318664,1.255281 -4.811938,0.627643 -8.473173,1.255283 -10.983715,1.882923 -2.51058,0.62764 -4.759624,0.104607 -6.74714,-1.569102 -1.987539,-1.673706 -1.726022,-2.458256 0.784551,-2.353654 2.510549,0.104611 5.596447,4e-6 9.257703,-0.31382 3.661214,-0.313816 8.316212,-0.889153 13.96501,-1.726012 V 73.958626 c -3.5e-5,-2.928971 -0.209248,-5.334926 -0.62764,-7.217871 -5.021158,0.836878 -8.786999,0.627665 -11.297537,-0.627641 -2.510584,-1.255255 -2.301371,-1.987502 0.627641,-2.196743 2.928964,-0.209186 6.694806,-0.836826 11.297536,-1.882922 4.60266,-1.046039 7.950075,-1.778286 10.042255,-2.196744 2.092089,-0.418395 3.713493,-0.05227 4.864217,1.098372 1.150623,1.150704 0.7845,2.039861 -1.098372,2.667474 -1.88297,0.627667 -5.648811,1.359914 -11.297536,2.196743 z m 0.627641,-29.499122 c 5.43951,5.439603 10.931363,10.094602 16.475574,13.96501 5.5441,3.870489 10.251402,6.433353 14.12192,7.688601 3.870379,1.255313 6.69476,2.14447 8.473152,2.667474 1.778237,0.523063 0.470653,1.0984 -3.922755,1.726012 -4.393556,0.627669 -7.950184,0.784579 -10.669896,0.470731 -2.719837,-0.313792 -4.968882,-1.67368 -6.74714,-4.079666 -1.77837,-2.405922 -4.027414,-4.916483 -6.747139,-7.531691 -2.719824,-2.615128 -6.694879,-6.956307 -11.925177,-13.023549 -2.510599,4.184321 -5.125767,8.002466 -7.845512,11.454447 -2.719804,3.452063 -6.119522,6.851781 -10.199164,10.199164 -4.079682,3.347446 -8.10704,5.805704 -12.082088,7.374781 -3.975062,1.569124 -4.131972,1.098394 -0.47073,-1.412192 3.661227,-2.510536 7.427069,-5.648737 11.297536,-9.414614 3.87043,-3.765807 7.008631,-7.636255 9.414613,-11.611356 2.405927,-3.975009 4.079634,-7.113211 5.021128,-9.414614 0.941427,-2.301292 1.202944,-4.184213 0.784551,-5.648768 -0.418461,-1.464433 -0.156944,-2.092073 0.784551,-1.882923 0.941426,0.209277 2.458223,0.941524 4.550396,2.196744 2.092096,1.255341 2.772039,2.249105 2.039833,2.981294 -0.732288,0.732305 -1.516838,1.830675 -2.353653,3.295115 z"
						style="font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-size:80.338px;line-height:100%;font-family:KaiTi;text-align:center;writing-mode:lr-tb;text-anchor:middle;fill:#de0000;fill-opacity:1;stroke:#000000;stroke-width:1.18144;stroke-miterlimit:4;stroke-opacity:0.498039"
						id="text11939-4" />
		</g>
	</g>
</svg>


@code {

}
