﻿<?xml version="1.0" encoding="UTF-8" standalone="no" ?>
<!-- Created with Inkscape (http://www.inkscape.org/) -->

<svg viewBox="0 0 127.70555 127.70555"
		 version="1.1"
		 id="svg5"
		 sodipodi:docname="bishop-moves.svg"
		 inkscape:version="1.1 (c68e22c387, 2021-05-23)"
		 xmlns:inkscape="http://www.inkscape.org/namespaces/inkscape"
		 xmlns:sodipodi="http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd"
		 xmlns:xlink="http://www.w3.org/1999/xlink"
		 xmlns="http://www.w3.org/2000/svg"
		 xmlns:svg="http://www.w3.org/2000/svg">
	<sodipodi:namedview id="namedview7"
											pagecolor="#ffffff"
											bordercolor="#666666"
											borderopacity="1.0"
											inkscape:pageshadow="2"
											inkscape:pageopacity="0.0"
											inkscape:pagecheckerboard="0"
											inkscape:document-units="mm"
											showgrid="true"
											inkscape:zoom="0.52410024"
											inkscape:cx="373.02025"
											inkscape:cy="283.34274"
											inkscape:window-width="1484"
											inkscape:window-height="1003"
											inkscape:window-x="2273"
											inkscape:window-y="30"
											inkscape:window-maximized="0"
											inkscape:current-layer="layer2"
											showguides="true"
											inkscape:snap-bbox="true"
											inkscape:object-paths="true"
											inkscape:snap-intersection-paths="true"
											inkscape:snap-smooth-nodes="true">
		<inkscape:grid type="xygrid"
									 id="grid9"
									 originx="0.3527775"
									 originy="0.3527775" />
	</sodipodi:namedview>
	<defs id="defs2">
		<marker style="overflow:visible"
						id="Arrow1Lend"
						refX="0"
						refY="0"
						orient="auto"
						inkscape:stockid="Arrow1Lend"
						inkscape:isstock="true">
			<path transform="matrix(-0.8,0,0,-0.8,-10,0)"
						style="fill:context-stroke;fill-rule:evenodd;stroke:context-stroke;stroke-width:1pt"
						d="M 0,0 5,-5 -12.5,0 5,5 Z"
						id="path6232" />
		</marker>
		<marker style="overflow:visible"
						id="Arrow1Lstart"
						refX="0"
						refY="0"
						orient="auto"
						inkscape:stockid="Arrow1Lstart"
						inkscape:isstock="true">
			<path transform="matrix(0.8,0,0,0.8,10,0)"
						style="fill:context-stroke;fill-rule:evenodd;stroke:context-stroke;stroke-width:1pt"
						d="M 0,0 5,-5 -12.5,0 5,5 Z"
						id="path6229" />
		</marker>
		<inkscape:path-effect effect="powerstroke"
													id="path-effect1626"
													is_visible="true"
													lpeversion="1"
													offset_points="1,4.99214"
													not_jump="false"
													sort_points="true"
													interpolator_type="CubicBezierJohan"
													interpolator_beta="0.2"
													start_linecap_type="zerowidth"
													linejoin_type="extrp_arc"
													miter_limit="4"
													scale_width="1"
													end_linecap_type="zerowidth" />
		<linearGradient id="linearGradient10936">
			<stop style="stop-color:#fcf3e8;stop-opacity:1"
						offset="0"
						id="stop10938" />
			<stop style="stop-color:#ba6100;stop-opacity:1"
						offset="1"
						id="stop10940" />
		</linearGradient>
		<linearGradient x1="17.523264"
										y1="5.9785309"
										x2="101.69292"
										y2="113.38583"
										id="linearGradient10942"
										xlink:href="#linearGradient10936"
										gradientUnits="userSpaceOnUse"
										gradientTransform="translate(3.1889734)" />
		<linearGradient x1="17.523264"
										y1="5.9785309"
										x2="101.69292"
										y2="113.38583"
										id="linearGradient12957"
										xlink:href="#linearGradient10936"
										gradientUnits="userSpaceOnUse"
										gradientTransform="translate(3.1889734)" />
		<marker style="overflow:visible"
						id="Arrow1Lend-4"
						refX="0"
						refY="0"
						orient="auto"
						inkscape:stockid="Arrow1Lend"
						inkscape:isstock="true">
			<path transform="matrix(-0.8,0,0,-0.8,-10,0)"
						style="fill:context-stroke;fill-rule:evenodd;stroke:context-stroke;stroke-width:1pt"
						d="M 0,0 5,-5 -12.5,0 5,5 Z"
						id="path6232-6" />
		</marker>
		<marker style="overflow:visible"
						id="Arrow1Lend-48"
						refX="0"
						refY="0"
						orient="auto"
						inkscape:stockid="Arrow1Lend"
						inkscape:isstock="true">
			<path transform="matrix(-0.8,0,0,-0.8,-10,0)"
						style="fill:context-stroke;fill-rule:evenodd;stroke:context-stroke;stroke-width:1pt"
						d="M 0,0 5,-5 -12.5,0 5,5 Z"
						id="path6232-4" />
		</marker>
		<marker style="overflow:visible"
						id="Arrow1Lend-1"
						refX="0"
						refY="0"
						orient="auto"
						inkscape:stockid="Arrow1Lend"
						inkscape:isstock="true">
			<path transform="matrix(-0.8,0,0,-0.8,-10,0)"
						style="fill:context-stroke;fill-rule:evenodd;stroke:context-stroke;stroke-width:1pt"
						d="M 0,0 5,-5 -12.5,0 5,5 Z"
						id="path6232-5" />
		</marker>
		<linearGradient x1="17.523264"
										y1="5.9785309"
										x2="101.69292"
										y2="113.38583"
										id="linearGradient12957-5"
										xlink:href="#linearGradient10936"
										gradientUnits="userSpaceOnUse"
										gradientTransform="translate(3.1889734)" />
		<linearGradient x1="17.523264"
										y1="5.9785309"
										x2="101.69292"
										y2="113.38583"
										id="linearGradient2173"
										xlink:href="#linearGradient10936"
										gradientUnits="userSpaceOnUse"
										gradientTransform="matrix(0.96514,0,0,0.9687658,4.9614803,8.8564779)" />
	</defs>
	<g inkscape:label="Layer 1"
		 inkscape:groupmode="layer"
		 id="layer1"
		 sodipodi:insensitive="true"
		 transform="translate(0.35277751,0.35277751)">
		<rect style="fill:#ffe680;stroke:#000000;stroke-width:0.705555;stroke-opacity:1"
					id="rect870"
					width="42.333332"
					height="42.333332"
					x="0"
					y="0" />
		<rect style="fill:#ffe680;stroke:#000000;stroke-width:0.705555;stroke-opacity:1"
					id="rect870-7"
					width="42.333332"
					height="42.333332"
					x="42.333336"
					y="1.2715658e-06" />
		<rect style="fill:#ffe680;stroke:#000000;stroke-width:0.705555;stroke-opacity:1"
					id="rect870-2"
					width="42.333332"
					height="42.333332"
					x="84.666664"
					y="0" />
		<rect style="fill:#ffe680;stroke:#000000;stroke-width:0.705555;stroke-opacity:1"
					id="rect870-9"
					width="42.333332"
					height="42.333332"
					x="84.666664"
					y="42.333336" />
		<rect style="fill:#ffe680;stroke:#000000;stroke-width:0.705555;stroke-opacity:1"
					id="rect870-4"
					width="42.333332"
					height="42.333332"
					x="42.33334"
					y="42.333332" />
		<rect style="fill:#ffe680;stroke:#000000;stroke-width:0.705555;stroke-opacity:1"
					id="rect870-48"
					width="42.333332"
					height="42.333332"
					x="1.2715658e-06"
					y="42.333332" />
		<rect style="fill:#ffe680;stroke:#000000;stroke-width:0.705555;stroke-opacity:1"
					id="rect870-48-0"
					width="42.333332"
					height="42.333332"
					x="1.2715658e-06"
					y="84.666664" />
		<rect style="fill:#ffe680;stroke:#000000;stroke-width:0.705555;stroke-opacity:1"
					id="rect870-48-8"
					width="42.333332"
					height="42.333332"
					x="42.333332"
					y="84.666664" />
		<rect style="fill:#ffe680;stroke:#000000;stroke-width:0.705555;stroke-opacity:1"
					id="rect870-48-05"
					width="42.333332"
					height="42.333332"
					x="84.666664"
					y="84.666664" />
	</g>
	<g inkscape:groupmode="layer"
		 id="layer2"
		 inkscape:label="Layer 2"
		 transform="translate(0.35277751,0.35277751)">
		<path style="fill:#000000;stroke:#000000;stroke-width:0.965;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1;marker-end:url(#Arrow1Lend)"
					d="m 63.5,47.625 0,-42.3333333"
					id="path7883"
					sodipodi:nodetypes="cc" />
		<path style="fill:none;stroke:#000000;stroke-width:0.965;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1;marker-end:url(#Arrow1Lend-4)"
					d="m 79.375,63.5 h 42.33333"
					id="path7883-9"
					sodipodi:nodetypes="cc" />
		<path style="fill:none;stroke:#000000;stroke-width:0.965;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1;marker-end:url(#Arrow1Lend-48)"
					d="m 63.5,79.375 0,42.33333"
					id="path7883-4"
					sodipodi:nodetypes="cc" />
		<path style="fill:none;stroke:#000000;stroke-width:0.965;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1;marker-end:url(#Arrow1Lend-1)"
					d="M 47.625,63.5 H 5.2916667"
					id="path7883-7"
					sodipodi:nodetypes="cc" />
		<g transform="matrix(0.26458333,0,0,0.26458333,49.246049,43.253613)"
			 id="g2271">
			<path d="M 5.4395911,118.22089 H 102.63127 L 86.274622,14.440348 54.035432,9.3363864 21.79624,14.440348 Z"
						style="fill:url(#linearGradient2173);fill-opacity:1;fill-rule:evenodd;stroke:#000000;stroke-width:1;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:0.498039"
						id="path9965" />
			<path d="m 50.480583,34.938408 c 2.124977,-0.74998 3.374976,-1.312479 3.75,-1.6875 0.374975,-0.374979 0.937475,-0.468729 1.6875,-0.28125 0.749973,0.187521 1.406223,0.468771 1.96875,0.84375 0.562471,0.37502 0.656221,0.78127 0.28125,1.21875 -0.375028,0.437519 -0.687528,1.031268 -0.9375,1.78125 -0.250027,0.750017 -0.375027,2.500015 -0.375,5.25 0.999972,0.125012 1.999971,0.187512 3,0.1875 1.624968,-1.999986 2.374968,-3.312485 2.25,-3.9375 -0.125032,-0.624984 0.249968,-0.812483 1.125,-0.5625 0.874966,0.250016 1.593715,0.656266 2.15625,1.21875 0.562464,0.562515 0.374964,1.031264 -0.5625,1.40625 -0.937534,0.375013 -2.406283,1.125013 -4.40625,2.25 2.624967,0.500011 4.312465,1.21876 5.0625,2.15625 0.749964,0.937508 0.906213,1.687508 0.46875,2.25 -0.437536,0.562507 -0.968785,0.656256 -1.59375,0.28125 -0.625034,-0.374993 -1.593783,-0.999992 -2.90625,-1.875 -1.31253,-0.87499 -2.781279,-1.74999 -4.40625,-2.625 0.499972,3.250008 1.593721,5.656256 3.28125,7.21875 1.687468,1.562503 3.468716,2.562502 5.34375,3 1.874962,0.437501 3.124961,0.562501 3.75,0.375 0.62496,-0.187499 1.093709,-0.718749 1.40625,-1.59375 0.312459,-0.874997 0.624958,-2.499995 0.9375,-4.875 0.312458,-2.37499 0.624957,-1.999991 0.9375,1.125 0.312457,3.125003 0.812456,5.156251 1.5,6.09375 0.687455,0.937499 0.593705,1.624998 -0.28125,2.0625 -0.875043,0.437497 -2.656291,0.593747 -5.34375,0.46875 -2.687536,-0.125002 -5.125034,-0.968752 -7.3125,-2.53125 -2.187529,-1.562498 -3.750028,-3.437497 -4.6875,-5.625 -0.937526,-2.187492 -1.500025,-4.49999 -1.6875,-6.9375 -0.187525,-2.437485 -0.281275,-4.093733 -0.28125,-4.96875 -2.5e-5,-0.999981 -0.281274,-1.406231 -0.84375,-1.21875 -0.562523,0.187519 -1.656272,0.468768 -3.28125,0.84375 -2.1e-5,6.875011 0.06248,11.281257 0.1875,13.21875 0.124979,1.937503 0.03123,3.656251 -0.28125,5.15625 -0.31252,1.499998 -0.65627,2.031247 -1.03125,1.59375 -0.375019,-0.437502 -0.750019,-1.093751 -1.125,-1.96875 -0.375018,-0.874999 -0.468768,-1.656248 -0.28125,-2.34375 0.187482,-0.687497 0.343732,-1.874996 0.46875,-3.5625 0.124981,-1.687493 0.187481,-5.531239 0.1875,-11.53125 -1.375017,0.250017 -2.625016,0.562517 -3.75,0.9375 -0.125015,3.125013 -0.531264,5.90626 -1.21875,8.34375 -0.687513,2.437506 -1.718762,4.375004 -3.09375,5.8125 -1.375009,1.437501 -2.968758,2.59375 -4.78125,3.46875 -1.812504,0.874998 -1.843754,0.593748 -0.09375,-0.84375 1.749992,-1.437499 3.374991,-3.531247 4.875,-6.28125 1.499988,-2.749991 2.249987,-6.062488 2.25,-9.9375 -2.125011,0.625015 -3.500009,1.093765 -4.125,1.40625 -0.625008,0.312514 -1.156258,0.375014 -1.59375,0.1875 -0.437507,-0.187486 -1.000006,-0.531235 -1.6875,-1.03125 -0.687505,-0.499984 -0.406255,-0.812484 0.84375,-0.9375 1.249992,-0.124984 3.43749,-0.562483 6.5625,-1.3125 -1.3e-5,-2.62498 -0.312513,-4.312478 -0.9375,-5.0625 -1.50001,0.500022 -2.593759,0.812522 -3.28125,0.9375 -0.687508,0.125022 -0.531258,-0.156228 0.46875,-0.84375 0.99999,-0.687477 1.999989,-1.531226 3,-2.53125 0.999987,-0.999974 1.468736,-1.749973 1.40625,-2.25 -0.06251,-0.499972 0.343736,-0.562472 1.21875,-0.1875 0.874984,0.375027 1.499984,0.781277 1.875,1.21875 0.374983,0.437526 0.281233,0.750025 -0.28125,0.9375 -0.562516,0.187525 -1.781265,0.906274 -3.65625,2.15625 0.749987,0.250023 1.406236,0.562523 1.96875,0.9375 0.562485,0.375022 0.781235,0.812521 0.65625,1.3125 -0.125015,0.50002 -0.250015,1.500019 -0.375,3 1.124984,-0.249982 2.374983,-0.562482 3.75,-0.9375 -1.9e-5,-2.874978 -0.06252,-4.906226 -0.1875,-6.09375 -0.125018,-1.187474 -0.375018,-2.187473 -0.75,-3 -0.375017,-0.812471 -0.218768,-1.156221 0.46875,-1.03125 0.687481,0.125029 1.43748,0.375029 2.25,0.75 0.812479,0.375028 1.062478,0.843777 0.75,1.40625 -0.312521,0.562526 -0.500021,1.562525 -0.5625,3 -0.06252,1.437522 -0.09377,2.968771 -0.09375,4.59375 z m 9.9375,-10.3125 c 1.749968,-1.999968 2.687467,-3.406217 2.8125,-4.21875 0.124967,-0.812465 0.468716,-1.093715 1.03125,-0.84375 0.562465,0.250034 1.156214,0.656284 1.78125,1.21875 0.624963,0.562533 0.593713,0.968782 -0.09375,1.21875 -0.687535,0.250032 -2.093784,1.187531 -4.21875,2.8125 2.499966,0.625029 3.874964,1.531278 4.125,2.71875 0.249964,1.187525 -0.281286,1.406275 -1.59375,0.65625 -1.312533,-0.749973 -3.156281,-1.687472 -5.53125,-2.8125 -0.125029,2.375026 0.312471,4.187525 1.3125,5.4375 0.999969,1.250022 2.437467,2.000021 4.3125,2.25 1.874964,0.250021 2.968713,0.09377 3.28125,-0.46875 0.312462,-0.562478 0.593712,-1.656227 0.84375,-3.28125 0.249961,-1.624974 0.468711,-1.531224 0.65625,0.28125 0.187461,1.812523 0.59371,3.062521 1.21875,3.75 0.624959,0.68752 0.343709,1.28127 -0.84375,1.78125 -1.187538,0.500019 -2.718787,0.687518 -4.59375,0.5625 -1.875033,-0.124981 -3.625031,-0.843731 -5.25,-2.15625 -1.625028,-1.312478 -2.531277,-3.093726 -2.71875,-5.34375 -0.187527,-2.249972 -0.187527,-4.21872 0,-5.90625 0.187473,-1.687466 -2.7e-5,-2.468716 -0.5625,-2.34375 -0.562526,0.125034 -2.125024,0.562534 -4.6875,1.3125 -2.562519,0.750032 -4.187518,1.187532 -4.875,1.3125 -0.687516,0.125031 -1.531265,-0.156218 -2.53125,-0.84375 -1.000013,-0.687467 -0.875014,-1.031217 0.375,-1.03125 1.374984,3.3e-5 2.656233,-0.124966 3.84375,-0.375 1.18748,-0.249966 2.593729,-0.656216 4.21875,-1.21875 1.624976,-0.562464 2.749974,-1.062464 3.375,-1.5 0.624973,-0.437463 1.312472,-0.593713 2.0625,-0.46875 0.749971,0.125037 1.49997,0.406287 2.25,0.84375 0.749969,0.437536 0.749969,1.000035 0,1.6875 -0.75003,0.687534 -1.312529,2.343782 -1.6875,4.96875 z"
						transform="scale(0.9981269,1.0018766)"
						style="font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-size:48px;line-height:100%;font-family:KaiTi;text-align:center;writing-mode:lr-tb;text-anchor:middle;fill:#000000;fill-opacity:1;stroke:#000000;stroke-width:1;stroke-miterlimit:4;stroke-opacity:0.498039"
						id="text2172" />
			<path d="m 56.886833,65.878448 c 3.999963,-0.999955 6.62496,-1.624954 7.875,-1.875 1.249958,-0.249954 2.291623,-0.124954 3.125,0.375 0.833288,0.500045 0.916621,0.958378 0.25,1.375 -0.666711,0.416711 -1.750043,0.833377 -3.25,1.25 -1.50004,0.416709 -4.166704,0.958375 -8,1.625 l -0.25,5 c 4.999962,-0.66663 7.916626,-1.166629 8.75,-1.5 0.833291,-0.333295 1.83329,-0.249962 3,0.25 1.166621,0.500037 2.29162,1.125037 3.375,1.875 1.083284,0.750035 1.833283,1.458368 2.25,2.125 0.416616,0.6667 -0.08338,1.500032 -1.5,2.5 -1.416714,1.00003 -2.666713,2.500029 -3.75,4.5 -1.083377,2.000025 -2.29171,3.833356 -3.625,5.5 -1.333374,1.666686 -2.083373,1.583353 -2.25,-0.25 l -6.25,0.75 v 4.25 c 4.333296,-0.333317 7.666626,-0.583316 10,-0.75 2.333288,-0.166649 4.458286,-0.374982 6.375,-0.625 1.916615,-0.249982 3.70828,-0.04165 5.375,0.625 1.66661,0.666683 2.666609,1.458349 3,2.375 0.333275,0.916681 -0.166724,1.375013 -1.5,1.375 -1.166722,1.3e-5 -2.500054,-0.166653 -4,-0.5 -1.500051,-0.333319 -4.083382,-0.499986 -7.75,-0.5 -3.500041,1.4e-5 -7.333371,0.166681 -11.5,0.5 v 10.750002 c -3.3e-5,2.16667 -0.125033,4.125 -0.375,5.875 -0.250032,1.74999 -0.541699,2.87499 -0.875,3.375 -0.333365,0.49999 -0.625031,0.20833 -0.875,-0.875 -0.250031,-1.08334 -0.416697,-2.66667 -0.5,-4.75 -0.08336,-2.08333 -0.12503,-6.70833 -0.125,-13.875002 -5.000025,0.500013 -9.083355,0.958346 -12.25,1.375 -3.166682,0.416678 -5.625012,0.791678 -7.375,1.125 -1.750009,0.333344 -3.041674,0.333344 -3.875,0 -0.833339,-0.333322 -1.708338,-0.916655 -2.625,-1.75 -0.91667,-0.83332 -0.833337,-1.124986 0.25,-0.875 1.083328,0.250013 2.958326,0.250013 5.625,0 2.666654,-0.249986 5.208318,-0.499986 7.625,-0.75 2.416647,-0.249985 6.624976,-0.791652 12.625,-1.625 v -4.5 c -1.666695,0.333353 -4.166693,0.75002 -7.5,1.25 -0.833355,1.666684 -1.625021,1.291685 -2.375,-1.125 -0.75002,-2.416644 -1.333352,-4.374975 -1.75,-5.875 -0.416685,-1.499972 -0.916684,-2.833304 -1.5,-4 -0.58335,-1.166635 -1.291683,-2.124968 -2.125,-2.875 -0.833348,-0.749966 -0.791681,-1.166632 0.125,-1.25 0.916651,-0.0833 2.291649,-0.124966 4.125,-0.125 1.999979,3.4e-5 5.666642,-0.499965 11,-1.5 v -5 c -3.33336,0.333374 -5.833358,0.208374 -7.5,-0.375 -1.666688,-0.583291 -1.583355,-0.999958 0.25,-1.25 1.833308,-0.249957 4.249973,-0.624957 7.25,-1.125 -0.166697,-3.833286 -0.75003,-6.458283 -1.75,-7.875 -1.000028,-1.416614 -0.125028,-1.791613 2.625,-1.125 2.749966,0.666719 3.833298,1.541718 3.25,2.625 -0.583367,1.083382 -0.958367,3.041714 -1.125,5.875 z m -12.5,12 c 0.833312,4.500028 1.416644,8.166691 1.75,11 1.166643,-0.166645 3.749974,-0.583312 7.75,-1.25 v -4.5 c -0.833363,0.166693 -1.916695,0.166693 -3.25,0 -1.333359,-0.16664 -2.166692,-0.416639 -2.5,-0.75 -0.333358,-0.333305 -2.5e-5,-0.583305 1,-0.75 0.999973,-0.166638 2.583305,-0.499971 4.75,-1 v -4.5 z m 12.25,2 c 2.166631,-0.333303 3.708297,-0.333303 4.625,0 0.916628,0.333363 0.999961,0.791696 0.25,1.375 -0.750037,0.583362 -2.375036,1.041694 -4.875,1.375 v 4.75 c 1.833298,-0.166644 3.999963,-0.416644 6.5,-0.75 0.833293,-1.666642 1.583292,-3.749973 2.25,-6.25 0.666624,-2.499968 0.958291,-4.0833 0.875,-4.75 -0.08338,-0.666632 -0.958375,-0.916631 -2.625,-0.75 -1.666705,0.166702 -4.000036,0.416701 -7,0.75 z"
						transform="scale(0.9981269,1.0018766)"
						style="font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-size:64px;line-height:100%;font-family:KaiTi;text-align:center;writing-mode:lr-tb;text-anchor:middle;fill:#000000;fill-opacity:1;stroke:#000000;stroke-width:1;stroke-miterlimit:4;stroke-opacity:0.498039"
						id="text2168" />
		</g>
	</g>
</svg>

@code {

}
