﻿<?xml version="1.0" encoding="UTF-8" standalone="no" ?>
<!-- Created with Inkscape (http://www.inkscape.org/) -->

<svg viewBox="0 0 127.70555 127.70555"
		 version="1.1"
		 id="svg5"
		 sodipodi:docname="silver-moves.svg"
		 inkscape:version="1.1 (c68e22c387, 2021-05-23)"
		 xmlns:inkscape="http://www.inkscape.org/namespaces/inkscape"
		 xmlns:sodipodi="http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd"
		 xmlns:xlink="http://www.w3.org/1999/xlink"
		 xmlns="http://www.w3.org/2000/svg"
		 xmlns:svg="http://www.w3.org/2000/svg">
	<sodipodi:namedview id="namedview7"
											pagecolor="#ffffff"
											bordercolor="#666666"
											borderopacity="1.0"
											inkscape:pageshadow="2"
											inkscape:pageopacity="0.0"
											inkscape:pagecheckerboard="0"
											inkscape:document-units="mm"
											showgrid="true"
											inkscape:zoom="0.74118967"
											inkscape:cx="154.48138"
											inkscape:cy="346.06527"
											inkscape:window-width="1284"
											inkscape:window-height="827"
											inkscape:window-x="2462"
											inkscape:window-y="75"
											inkscape:window-maximized="0"
											inkscape:current-layer="layer2"
											showguides="false"
											inkscape:snap-bbox="true"
											inkscape:object-paths="true"
											inkscape:snap-intersection-paths="true"
											inkscape:snap-smooth-nodes="true">
		<inkscape:grid type="xygrid"
									 id="grid9"
									 originx="0.35277749"
									 originy="0.35277749" />
	</sodipodi:namedview>
	<defs id="defs2">
		<marker style="overflow:visible"
						id="Arrow1Lend"
						refX="0"
						refY="0"
						orient="auto"
						inkscape:stockid="Arrow1Lend"
						inkscape:isstock="true">
			<path transform="matrix(-0.8,0,0,-0.8,-10,0)"
						style="fill:context-stroke;fill-rule:evenodd;stroke:context-stroke;stroke-width:1pt"
						d="M 0,0 5,-5 -12.5,0 5,5 Z"
						id="path6232" />
		</marker>
		<marker style="overflow:visible"
						id="Arrow1Lstart"
						refX="0"
						refY="0"
						orient="auto"
						inkscape:stockid="Arrow1Lstart"
						inkscape:isstock="true">
			<path transform="matrix(0.8,0,0,0.8,10,0)"
						style="fill:context-stroke;fill-rule:evenodd;stroke:context-stroke;stroke-width:1pt"
						d="M 0,0 5,-5 -12.5,0 5,5 Z"
						id="path6229" />
		</marker>
		<inkscape:path-effect effect="powerstroke"
													id="path-effect1626"
													is_visible="true"
													lpeversion="1"
													offset_points="1,4.99214"
													not_jump="false"
													sort_points="true"
													interpolator_type="CubicBezierJohan"
													interpolator_beta="0.2"
													start_linecap_type="zerowidth"
													linejoin_type="extrp_arc"
													miter_limit="4"
													scale_width="1"
													end_linecap_type="zerowidth" />
		<linearGradient id="linearGradient10936">
			<stop style="stop-color:#fcf3e8;stop-opacity:1"
						offset="0"
						id="stop10938" />
			<stop style="stop-color:#ba6100;stop-opacity:1"
						offset="1"
						id="stop10940" />
		</linearGradient>
		<linearGradient x1="17.523264"
										y1="5.9785309"
										x2="101.69292"
										y2="113.38583"
										id="linearGradient10942"
										xlink:href="#linearGradient10936"
										gradientUnits="userSpaceOnUse"
										gradientTransform="translate(3.1889734)" />
		<linearGradient x1="17.523264"
										y1="5.9785309"
										x2="101.69292"
										y2="113.38583"
										id="linearGradient12957"
										xlink:href="#linearGradient10936"
										gradientUnits="userSpaceOnUse"
										gradientTransform="translate(3.1889734)" />
		<marker style="overflow:visible"
						id="Arrow1Lend-4"
						refX="0"
						refY="0"
						orient="auto"
						inkscape:stockid="Arrow1Lend"
						inkscape:isstock="true">
			<path transform="matrix(-0.8,0,0,-0.8,-10,0)"
						style="fill:context-stroke;fill-rule:evenodd;stroke:context-stroke;stroke-width:1pt"
						d="M 0,0 5,-5 -12.5,0 5,5 Z"
						id="path6232-6" />
		</marker>
		<marker style="overflow:visible"
						id="Arrow1Lend-48"
						refX="0"
						refY="0"
						orient="auto"
						inkscape:stockid="Arrow1Lend"
						inkscape:isstock="true">
			<path transform="matrix(-0.8,0,0,-0.8,-10,0)"
						style="fill:context-stroke;fill-rule:evenodd;stroke:context-stroke;stroke-width:1pt"
						d="M 0,0 5,-5 -12.5,0 5,5 Z"
						id="path6232-4" />
		</marker>
		<marker style="overflow:visible"
						id="Arrow1Lend-1"
						refX="0"
						refY="0"
						orient="auto"
						inkscape:stockid="Arrow1Lend"
						inkscape:isstock="true">
			<path transform="matrix(-0.8,0,0,-0.8,-10,0)"
						style="fill:context-stroke;fill-rule:evenodd;stroke:context-stroke;stroke-width:1pt"
						d="M 0,0 5,-5 -12.5,0 5,5 Z"
						id="path6232-5" />
		</marker>
		<linearGradient x1="17.523264"
										y1="5.9785309"
										x2="101.69292"
										y2="113.38583"
										id="linearGradient12957-9"
										xlink:href="#linearGradient10936"
										gradientUnits="userSpaceOnUse"
										gradientTransform="translate(3.1889734)" />
		<marker style="overflow:visible"
						id="Arrow1Lend-48-6"
						refX="0"
						refY="0"
						orient="auto"
						inkscape:stockid="Arrow1Lend"
						inkscape:isstock="true">
			<path transform="matrix(-0.8,0,0,-0.8,-10,0)"
						style="fill:context-stroke;fill-rule:evenodd;stroke:context-stroke;stroke-width:1pt"
						d="M 0,0 5,-5 -12.5,0 5,5 Z"
						id="path6232-4-2" />
		</marker>
	</defs>
	<g inkscape:label="Layer 1"
		 inkscape:groupmode="layer"
		 id="layer1"
		 sodipodi:insensitive="true"
		 transform="translate(0.35277751,0.35277751)">
		<rect style="fill:#ffe680;stroke:#000000;stroke-width:0.705555;stroke-opacity:1"
					id="rect870"
					width="42.333332"
					height="42.333332"
					x="0"
					y="0" />
		<rect style="fill:#ffe680;stroke:#000000;stroke-width:0.705555;stroke-opacity:1"
					id="rect870-7"
					width="42.333332"
					height="42.333332"
					x="42.333336"
					y="1.2715658e-06" />
		<rect style="fill:#ffe680;stroke:#000000;stroke-width:0.705555;stroke-opacity:1"
					id="rect870-2"
					width="42.333332"
					height="42.333332"
					x="84.666664"
					y="0" />
		<rect style="fill:#ffe680;stroke:#000000;stroke-width:0.705555;stroke-opacity:1"
					id="rect870-9"
					width="42.333332"
					height="42.333332"
					x="84.666664"
					y="42.333336" />
		<rect style="fill:#ffe680;stroke:#000000;stroke-width:0.705555;stroke-opacity:1"
					id="rect870-4"
					width="42.333332"
					height="42.333332"
					x="42.33334"
					y="42.333332" />
		<rect style="fill:#ffe680;stroke:#000000;stroke-width:0.705555;stroke-opacity:1"
					id="rect870-48"
					width="42.333332"
					height="42.333332"
					x="1.2715658e-06"
					y="42.333332" />
		<rect style="fill:#ffe680;stroke:#000000;stroke-width:0.705555;stroke-opacity:1"
					id="rect870-48-0"
					width="42.333332"
					height="42.333332"
					x="1.2715658e-06"
					y="84.666664" />
		<rect style="fill:#ffe680;stroke:#000000;stroke-width:0.705555;stroke-opacity:1"
					id="rect870-48-8"
					width="42.333332"
					height="42.333332"
					x="42.333332"
					y="84.666664" />
		<rect style="fill:#ffe680;stroke:#000000;stroke-width:0.705555;stroke-opacity:1"
					id="rect870-48-05"
					width="42.333332"
					height="42.333332"
					x="84.666664"
					y="84.666664" />
	</g>
	<g inkscape:groupmode="layer"
		 id="layer2"
		 inkscape:label="Layer 2"
		 transform="translate(0.35277751,0.35277751)">
		<circle style="fill:#030303;fill-opacity:1;fill-rule:evenodd;stroke:#000000;stroke-width:0.964999;stroke-linecap:square;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:1"
						id="path9507-3"
						cx="21.166666"
						cy="21.166666"
						r="5.2916665"
						inkscape:transform-center-x="0.71394231"
						inkscape:transform-center-y="5.3545673" />
		<circle style="fill:#030303;fill-opacity:1;fill-rule:evenodd;stroke:#000000;stroke-width:0.964999;stroke-linecap:square;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:1"
						id="path9507-3-7"
						cx="105.83334"
						cy="21.166666"
						r="5.2916665"
						inkscape:transform-center-x="0.71394231"
						inkscape:transform-center-y="5.3545673" />
		<circle style="fill:#030303;fill-opacity:1;fill-rule:evenodd;stroke:#000000;stroke-width:0.964999;stroke-linecap:square;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:1"
						id="path9507-3-3"
						cx="63.5"
						cy="21.166666"
						r="5.2916665"
						inkscape:transform-center-x="0.71394231"
						inkscape:transform-center-y="5.3545673" />
		<circle style="fill:#030303;fill-opacity:1;fill-rule:evenodd;stroke:#000000;stroke-width:0.964999;stroke-linecap:square;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:1"
						id="path9507-3-8"
						cx="105.83334"
						cy="105.83334"
						r="5.2916665"
						inkscape:transform-center-x="0.71394231"
						inkscape:transform-center-y="5.3545673" />
		<circle style="fill:#030303;fill-opacity:1;fill-rule:evenodd;stroke:#000000;stroke-width:0.964999;stroke-linecap:square;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:1"
						id="path9507-3-9"
						cx="21.166666"
						cy="105.83334"
						r="5.2916665"
						inkscape:transform-center-x="0.71394231"
						inkscape:transform-center-y="5.3545673" />
		<g transform="matrix(0.24605729,0,0,0.24812416,49.611361,46.219096)"
			 id="g12950">
			<path d="M 3.6843532,112.89045 H 104.38651 L 87.439074,5.7639005 54.035433,0.49538136 20.63179,5.7639005 Z"
						style="fill:url(#linearGradient10942);fill-opacity:1;fill-rule:evenodd;stroke:#000000;stroke-width:1.0708;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:0.498039"
						id="path9965" />
			<path d="m 62.668784,27.338447 c -2.409341,0.803124 -4.617871,1.338525 -6.625597,1.606206 v 1.003878 c 2.007726,0.669271 4.216256,2.074699 6.625597,4.21629 1.204618,-1.472339 2.074645,-2.610067 2.610084,-3.413187 0.535363,-0.803084 0.903452,-1.639648 1.104266,-2.509696 0.200737,-0.870007 0.267662,-1.505796 0.200776,-1.907369 -0.06696,-0.401529 0.234199,-0.434991 0.903491,-0.100388 0.669211,0.334649 1.371925,0.87005 2.108144,1.606206 0.736135,0.736197 0.869985,1.238136 0.401552,1.505817 -0.468519,0.26772 -1.405471,1.003897 -2.81086,2.208533 -1.405468,1.20467 -2.710509,2.275472 -3.915126,3.212411 3.346222,2.54317 5.722065,4.082449 7.127537,4.61784 1.405385,0.535411 2.810814,0.970425 4.216289,1.305042 1.405381,0.334634 2.375796,0.66926 2.911248,1.003879 0.535351,0.334633 -0.63584,0.602333 -3.513575,0.803102 -2.877828,0.200782 -4.751733,0.16732 -5.621719,-0.100387 -0.870068,-0.267695 -1.80702,-0.970409 -2.810859,-2.108145 -1.003916,-1.137719 -1.940868,-2.241984 -2.81086,-3.312799 -0.870063,-1.070791 -1.974328,-2.208518 -3.312799,-3.413186 -1.338535,-1.204638 -2.476263,-2.00774 -3.413186,-2.409309 v 12.448093 c -2.9e-5,1.338508 0.468447,1.706597 1.405429,1.104266 0.936923,-0.602322 2.208501,-1.271574 3.814738,-2.007757 1.60617,-0.736171 1.940796,-0.669245 1.003879,0.200776 -0.936987,0.870033 -1.974327,1.773523 -3.112023,2.710472 -1.13776,0.936955 -2.04125,1.840445 -2.710472,2.710471 -0.669281,0.870028 -1.171219,1.572742 -1.505818,2.108145 -0.334653,0.5354 -0.702741,0.8031 -1.104266,0.803103 -0.267727,-3e-6 -0.602353,-0.602329 -1.003878,-1.806981 -0.401577,-1.204654 -0.334652,-2.275457 0.200775,-3.212411 0.535376,-0.93695 0.870002,-2.677004 1.003879,-5.220168 0.133823,-2.543148 0.200749,-6.157107 0.200775,-10.841887 -2.6e-5,-4.818593 -0.03349,-8.131388 -0.100387,-9.938396 -0.06695,-1.806951 -0.133878,-3.045067 -0.200776,-3.71435 -0.06695,-0.66922 -0.267727,-1.271546 -0.602327,-1.806982 -0.334652,-0.535367 0.167287,-0.669217 1.505818,-0.401551 1.338475,0.267735 2.476203,0.234273 3.413186,-0.100388 0.936921,-0.334591 1.840411,-0.669217 2.710472,-1.003878 0.869993,-0.33459 1.572707,-0.803067 2.108145,-1.40543 0.535365,-0.602289 1.438855,-0.635752 2.710471,-0.100388 1.27154,0.535439 2.141567,1.003915 2.610084,1.40543 0.468435,0.401587 0.368047,0.903525 -0.301163,1.505818 -0.669293,0.60236 -1.271619,1.807013 -1.806982,3.613962 -0.53544,1.80701 -0.903528,3.413214 -1.104266,4.818616 -0.200813,1.405454 -0.535439,2.77742 -1.003878,4.115902 -0.468513,1.338525 -0.970452,1.40545 -1.505818,0.200775 z m -19.07369,-1.204654 c 0.669236,0.401574 0.870011,1.673152 0.602327,3.814738 1.472337,-0.401532 2.509677,-0.669232 3.112023,-0.803102 0.602307,-0.133831 1.204633,1.9e-5 1.806982,0.401551 0.602304,0.40157 0.401529,0.836584 -0.602328,1.305042 -1.003898,0.468494 -2.509714,1.037358 -4.517452,1.706593 l -0.401552,9.034906 c 2.810841,-0.936945 4.75167,-1.472346 5.822495,-1.606206 1.070781,-0.133841 1.472332,-0.03345 1.204654,0.301164 -0.267724,0.334634 -1.037363,0.769648 -2.30892,1.305042 -1.271599,0.535408 -3.078579,1.20466 -5.420944,2.007757 -2.342396,0.803107 -3.881675,1.472358 -4.61784,2.007757 -0.736188,0.535404 -1.472365,1.00388 -2.208533,1.405429 -0.736185,0.401553 -1.4389,0.334628 -2.108145,-0.200775 -0.669258,-0.5354 -1.271584,-1.171189 -1.806981,-1.907369 -0.535406,-0.736173 -0.167317,-1.070799 1.104267,-1.003879 1.271572,0.06693 4.115891,-0.568859 8.532966,-1.907369 v -9.034905 c -2.677021,0.535417 -4.484,0.669267 -5.420943,0.401551 -0.936962,-0.267685 -0.669261,-0.635774 0.803102,-1.104266 1.472344,-0.46846 3.011623,-0.970399 4.617841,-1.505818 -1.4e-5,-1.606186 -0.133865,-3.078539 -0.401551,-4.417065 -0.936967,-0.133828 -1.806994,-0.334603 -2.610084,-0.602327 -0.803113,-0.267678 -0.133862,-0.702691 2.007757,-1.305042 2.141591,-0.602302 3.613945,-1.070778 4.417065,-1.40543 0.803084,-0.3346 1.606186,-0.368062 2.409308,-0.100388 0.803082,0.267727 0.903469,0.635815 0.301163,1.104267 -0.602347,0.468501 -1.137748,0.803126 -1.606205,1.003878 -0.468495,0.200799 -1.371985,0.568888 -2.710472,1.104266 z m 0.602327,-11.644989 c 3.212391,0.803136 5.119758,1.405462 5.722107,1.806981 0.602304,0.401583 0.93693,0.870059 1.003879,1.40543 0.0669,0.535432 -2.4e-5,1.137758 -0.200776,1.806981 -0.200799,0.669281 -0.702738,0.803131 -1.505818,0.401551 -0.803123,-0.401522 -1.740076,-1.137699 -2.810859,-2.208532 -1.070822,-1.070772 -1.940849,-1.806949 -2.610084,-2.208533 -0.803118,1.338537 -1.47237,2.54319 -2.007757,3.613962 -0.535416,1.070833 -1.171205,2.141635 -1.907369,3.212411 -0.736189,1.070829 -1.572754,2.24202 -2.509696,3.513575 -0.936962,1.271601 -1.907377,2.442791 -2.911247,3.513574 -1.003885,1.070822 -2.041225,1.907387 -3.112023,2.509696 -1.070807,0.602344 -0.903494,0.06694 0.501939,-1.606205 1.405424,-1.673111 2.978165,-3.982029 4.718228,-6.926761 1.740045,-2.944682 2.944698,-5.11975 3.613963,-6.52521 0.669238,-1.405396 1.171177,-2.643512 1.505817,-3.71435 0.334612,-1.070767 0.368074,-2.007719 0.100388,-2.81086 -0.267715,-0.803063 0.100373,-1.0373011 1.104266,-0.7027145 1.003862,0.334665 1.806964,0.8031415 2.409309,1.4054295 0.602308,0.602365 0.669233,1.238154 0.200775,1.907369 -0.468494,0.669288 -0.903508,1.204689 -1.305042,1.606206 z m 11.845766,6.224046 c 2.543127,-1.070775 4.048943,-1.505788 4.517452,-1.305042 0.468443,0.200805 0.635756,0.468505 0.50194,0.803103 -0.133884,0.334654 -0.535435,0.635817 -1.204654,0.90349 -0.669285,0.267729 -1.940863,0.468504 -3.814738,0.602327 v 5.621719 c 1.338474,-0.267679 3.547004,-0.80308 6.625597,-1.606205 0.401516,-3.212385 0.635754,-5.420915 0.702715,-6.625598 0.06689,-1.204623 0.100352,-2.275425 0.100388,-3.212411 -3.6e-5,-0.936919 -0.133887,-1.438858 -0.401551,-1.505817 -0.267737,-0.06689 -0.936988,0.0335 -2.007757,0.301163 -1.070837,0.267735 -2.743966,0.669286 -5.019392,1.204654 z m -7.629476,12.648868 c 0.803081,0.401566 1.371944,0.803117 1.706593,1.204654 0.334603,0.401565 0.16729,0.836579 -0.501939,1.305042 -0.669274,0.468489 -1.438913,1.070815 -2.308921,1.806981 -0.870047,0.736188 -1.505836,1.238127 -1.907369,1.505818 -0.401569,0.26771 -0.334643,-0.100378 0.200776,-1.104267 0.535383,-1.003866 0.936934,-1.840431 1.204654,-2.509696 0.267681,-0.669238 0.401532,-1.271564 0.401552,-1.806981 -2e-5,-0.669236 0.401531,-0.803087 1.204654,-0.401551 z M 36.36717,35.971802 c 1.338494,0.669264 2.141596,1.438904 2.409308,2.30892 0.267689,0.870038 0.167301,1.539289 -0.301164,2.007757 -0.468487,0.468485 -0.936963,0.334634 -1.405429,-0.401551 -0.468486,-0.736168 -1.003888,-1.740046 -1.606206,-3.011636 -0.602334,-1.271566 -0.301171,-1.572729 0.903491,-0.90349 z"
						style="font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-size:51.3986px;line-height:100%;font-family:KaiTi;text-align:center;writing-mode:lr-tb;text-anchor:middle;fill:#000000;fill-opacity:1;stroke:#000000;stroke-width:1.0708;stroke-miterlimit:4;stroke-opacity:0.498039"
						id="text11929" />
			<path d="m 41.361465,81.849345 c -6.35791,4.51747 -9.996966,7.36179 -10.917179,8.532967 -0.920229,1.171203 -2.426045,0.794749 -4.517453,-1.129363 -2.091415,-1.924085 -2.2169,-2.886134 -0.376454,-2.886151 1.840438,1.7e-5 3.764537,-0.376437 5.772301,-1.129363 2.007746,-0.75289 5.354004,-2.384191 10.038785,-4.893908 0.167293,-7.696371 0.167293,-13.343181 0,-16.940449 -0.167332,-3.597188 -0.752928,-6.274194 -1.756788,-8.031028 -1.003895,-1.756737 -0.669269,-2.425989 1.003879,-2.007757 1.673111,0.418333 3.09527,1.045756 4.266483,1.882273 1.171168,0.836612 1.463966,1.715005 0.878394,2.635181 -0.585619,0.920266 -0.878416,5.06126 -0.878394,12.422996 -2.2e-5,7.194488 -0.209163,14.22163 -0.627424,21.081448 -0.418304,6.859841 -1.003899,11.251809 -1.756787,13.175909 -0.752928,1.92409 -1.589493,1.67312 -2.509696,-0.75291 -0.920239,-2.42604 -0.962067,-4.935735 -0.125485,-7.529092 0.836547,-2.593343 1.338486,-7.403589 1.505818,-14.430753 z m 28.359567,-2.760666 c 4.517401,-0.669227 7.61269,-1.171166 9.285876,-1.505817 1.673072,-0.334601 3.13706,0.167338 4.391968,1.505817 1.254785,1.338528 1.045644,1.965951 -0.627424,1.882272 -1.67319,-0.08363 -6.023326,0.125507 -13.05042,0.627424 0.167265,8.365668 0.334578,13.552368 0.501939,15.560117 0.167265,2.007761 0.04178,3.848198 -0.376454,5.521328 -0.418331,1.67313 -1.296723,3.13712 -2.635181,4.39197 -1.338549,1.25484 -2.216942,1.12936 -2.635181,-0.37645 -0.418325,-1.50582 -1.798657,-2.92798 -4.140999,-4.26649 -2.342419,-1.3385 -2.426076,-1.84044 -0.25097,-1.50581 2.17503,0.33462 3.764503,0.41828 4.768423,0.25097 1.003835,-0.16732 1.505773,-1.17119 1.505818,-3.01164 V 81.849345 c -7.863752,1.171212 -12.673998,1.965948 -14.430753,2.384211 -1.756816,0.418302 -3.388117,1.9e-5 -4.893908,-1.254848 -1.505841,-1.254826 -1.380357,-1.798593 0.376454,-1.631302 1.756761,0.167335 7.989167,-0.501917 18.697237,-2.007757 -0.167357,-2.342357 -0.627468,-4.057314 -1.380333,-5.144877 -0.752951,-1.087505 -0.501981,-1.505787 0.752909,-1.254848 1.254803,0.250999 2.467822,0.627453 3.639059,1.129363 1.171144,0.501968 1.589426,1.003907 1.254849,1.505818 -0.334675,0.501966 -0.585644,1.673156 -0.752909,3.513574 z M 56.168672,64.281472 c 1.505782,0.334665 2.927942,0.962088 4.266484,1.882272 1.338465,0.920258 1.631262,1.924135 0.878394,3.011635 -0.752948,1.087568 -1.714997,1.087568 -2.886151,0 -1.171227,-1.0875 -2.258761,-2.467831 -3.262605,-4.140998 -5.354046,3.01167 -6.69255,3.220811 -4.015514,0.627424 2.676977,-2.593313 4.684732,-5.103007 6.023271,-7.529089 1.338468,-2.425992 2.00772,-4.308262 2.007757,-5.646816 -3.7e-5,-1.338453 0.585558,-1.798563 1.756787,-1.380333 1.171152,0.418334 2.38417,1.003929 3.63906,1.756787 1.254804,0.752959 1.33846,1.464038 0.250969,2.133242 -1.087577,0.6693 -2.384252,2.09146 -3.890029,4.266483 4.51741,4.4e-5 7.361729,-0.37641 8.532967,-1.129363 1.171143,-0.752863 2.258677,-0.878348 3.262605,-0.376454 1.003827,0.501984 1.924048,1.129407 2.760666,1.882272 0.836511,0.752952 0.836511,1.380375 0,1.882272 -0.836618,0.50198 -3.429968,2.886189 -7.780058,7.152634 -4.350182,4.266514 -8.574833,6.985349 -12.673966,8.156513 -4.099199,1.171216 -5.103077,1.171216 -3.011635,0 2.091381,-1.171164 4.517418,-2.760637 7.278119,-4.768423 2.760625,-2.007724 5.270319,-4.433761 7.529088,-7.278119 2.25868,-2.844281 2.886103,-4.266441 1.882272,-4.266483 -0.836611,4.2e-5 -2.175114,0.125527 -4.015514,0.376454 -1.840484,0.251012 -3.346301,0.04187 -4.517453,-0.627424 -1.171228,1.338546 -2.509732,2.677049 -4.015514,4.015514 z m -25.84987,2.509696 c -0.501947,-1.003841 0.292789,-1.129326 2.384211,-0.376454 2.091401,0.752944 3.471732,1.840478 4.140999,3.262605 0.669237,1.422193 0.669237,2.718868 0,3.890029 -0.669267,1.17122 -1.464003,1.17122 -2.384212,0 -0.920233,-1.171161 -1.714969,-2.342351 -2.384211,-3.513575 -0.669262,-1.171157 -1.254857,-2.258691 -1.756787,-3.262605 z m 22.336296,20.830478 c -0.334657,-1.338487 0.543736,-1.589457 2.635181,-0.752909 2.091378,0.836581 3.304396,1.882287 3.639059,3.137121 0.334589,1.25486 0.292761,2.42605 -0.125485,3.513574 -0.418319,1.087544 -1.08757,1.1712 -2.007757,0.25097 -0.920255,-0.920212 -1.714992,-1.882261 -2.384211,-2.886151 -0.669284,-1.003865 -1.254879,-2.091399 -1.756787,-3.262605 z"
						style="font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-size:64.2482px;line-height:100%;font-family:KaiTi;text-align:center;writing-mode:lr-tb;text-anchor:middle;fill:#000000;fill-opacity:1;stroke:#000000;stroke-width:1.0708;stroke-miterlimit:4;stroke-opacity:0.498039"
						id="text11939" />
		</g>
	</g>
</svg>

@code {

}
