﻿main {
	padding: 1rem;
}

.ForgotForm {
	display: inline-flex;
	flex-direction: column;
	align-items: stretch;
	gap: 1rem;
}

	.ForgotForm label {
		display: flex;
		justify-content: space-between;
		gap: 1rem;
	}

	.ForgotForm button {
		align-self: end;
	}

	.ForgotForm .Errors {
		color: darkred;
		background-color: var(--foregroundColor)
	}
