﻿main {
	padding: 1rem;
}

.LoginForm {
	grid-area: form;
	display: inline-grid;
	grid-template-areas:
		"errors			errors"
		"emailLabel emailControl"
		"passLabel	passControl"
		".					resetLink"
		"button			button";
	gap: 0.5rem 3rem;
}

	.LoginForm .Errors {
		color: darkred;
		background-color: var(--foregroundColor);
	}
