.LoginForm {
	grid-area: form;
	display: inline-grid;
	grid-template-areas:
		"errors				errors"
		"emailLabel		emailControl"
		"passLabel		passControl"
		"confirmLabel	confirmControl"
		"button				button";
	gap: 0.5rem 3rem;
}

	.LoginForm .Errors {
		color: darkred;
	}
