﻿::deep svg {
	max-width: 100%;
	height: auto;
}

.game-piece {
	overflow: hidden; /* Because SVGs have weird sizes. */
	position: relative;
}

.game-piece .counter {
	display: grid;
	place-content: center;
	position: absolute;
	top: 0;
	left: 0;
	padding: 2px;
	z-index: 100;
	background-color: white;
	border-radius: 9px;
	border: 1px solid #444;
	aspect-ratio: 1 / 1;
	width: 15px;
	height: 15px;
}