﻿.GameBrowser {
}

	.GameBrowser row {
		display: block;
		width: max-content;
	}

		.GameBrowser row.header {
			display: grid;
			grid-template-columns: 18rem 5rem 5rem;
			gap: 1rem;
			margin-bottom: 0 !important;
		}

		.GameBrowser row:not(:last-of-type) {
			margin-bottom: 1rem;
		}
