﻿gameBrowserEntry {
	position: relative;
	display: grid;
	grid-template-columns: 18rem 5rem 5rem;
	padding-left: 5px; /* Matches box shadow on hover */
	gap: 1rem;
	place-items: center start;
}

modal {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

