﻿@page "/error"

<main class="PrimaryTheme">
    <div class="card">
        <div class="card-body">
            <h1 class="card-title">Oops!</h1>
            <p class="card-text">Something went wrong.</p>
            <p class="card-text">
                <a href="">Return to the home page</a>
            </p>
        </div>
    </div>
</main>

@code {

}
