﻿.NavMenu {
	display: flex;
	align-items: baseline;
	gap: 0.75rem;
	padding: 0 0.5rem;
}

	.NavMenu .spacer {
		flex: 1;
	}

	/******************/
	/* Mobile Nav Menu*/
	/******************/

	.NavMenu.compact {
		/* display is changed in @media */
		display: none;
	}

		.NavMenu.compact .flex {
			display: flex;
			justify-content: space-between;
		}

		.NavMenu.compact .drop-down {
			height: 0;
			overflow-y: clip;
			transition: height 0.25s ease-in;
		}

			.NavMenu.compact .drop-down.expand {
				height: 100px;
			}


@media all and (max-width: 750px) {
	.NavMenu.compact {
		display: block;
	}

	.NavMenu {
		display: none;
	}
}
